<% include ../../templates/header %>
<div class="app-main__outer">
	<div class="app-main__inner">
		<div class="app-page-title">
			<div class="page-title-wrapper">
				<div class="page-title-heading">
					<div><i class="header-icon lnr-bullhorn"></i><span class="lang_Advertising"> Werbung</span></div>
				</div>
			</div>
		</div>
		
		<div class="tabs-animation">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="mb-3 card">
						<div class="fixed-card-header" id="FixedCardHeader">
							<div class="card-header">
								<div class="card-header-title"><span class="lang_Advertising"> Werbung</span></div>
								<div class="btn-actions-pane-right actions-icon-btn">
									<% if(sessionPermission[8].uadd=="1"){%>
									<a href="advertisecreate" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
									<%}%>
									<a data-toggle="collapse" href="#show-filter"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
								</div>
							</div>
							<div class="collapse" id="show-filter">
								<div class="box">
									<div class="form-row">
										<div class="col-lg-3 col-md-3">
											<div class="position-relative form-group">
												<label for="" class=""><span class="lang_Title">Titel</span></label>
												<select type="select" id="ctitle" name="ctitle" class="multiselect-dropdown">
													<option value="All">Alle</option>
													 <%if(advertiselist.length>0){
                                        advertiselist.forEach(function(adata){%>
                                        <option value="<%= adata.id%>"  ><%= adata.title%></option>    
                                        <%});}%>
												</select>
											</div>
										</div>
										<div class="col-lg-3 col-md-3">
											<div class="position-relative form-group">
												<label for="cdate" class="cdate"><span class="lang_Date">Datum</span></label>
												<input type="date" class="form-control">
											</div>
										</div>
										<div class="col-lg-3 col-md-3">
											<div class="position-relative form-group">
												<label for="" class=""><span class="lang_Status">Status</span></label>
												<select type="select" id="cstatus" name="cstatus" class="custom-select">
													<option value="All">Alle</option>
													<option value="1">aktiv</option>
													<option value="0">inaktiv</option>
												</select>
											</div>
										</div>
										<div class="col-lg-3 col-md-3">
											<div class="position-relative form-group text-right">
												<label for="" class=""><a href="javascript:void(0)" class="removeAdvertiseFilter"> <i class="pe-7s-close-circle"></i><span class="lang_ClearFilter"> Filter Löschen</span></a></label>
												<button class="btn btn-lg btn-block btn-primary advertiseSearchsubmit lang_Send">Senden</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="card-body">
							<div class="table-responsive">
								<table id="advertiseview"  class="align-middle mb-0 table table-borderless table-striped table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th><span class="lang_Uploadpicture">Bild</span></th>
											<th><span class="lang_Title">Titel</span></th>
											<th><span class="lang_Url">URL</span></th>
											<th><span class="lang_Duration">Dauer</span></th>
											<th><span class="lang_Createdon">Erstellt am</span></th>
											<th><span class="lang_Status">Status</span></th>
											<th class="text-right"><span class="lang_Action">Aktion</span></th>
										</tr>
									</thead>
									<tbody>
										
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
</div>
</div>
<div class="app-drawer-wrapper">
<div class="drawer-nav-btn">
<button type="button" class="hamburger hamburger--elastic is-active">
<span class="hamburger-box"><span class="hamburger-inner"></span></span>
</button>
</div>
<div class="drawer-content-wrapper">
<div class="scrollbar-container">
	<h3 class="drawer-heading"><span class="lang_View">Aussicht</span></h3>
	
	<div class="drawer-section">
		<div class="voucher-view">
			<table id="AdvertiseSeparateDetails" class="table table-bordered table-striped">
				
			</table>
			<ul class="userPopupEdit">
                    <li class="" <%= (sessionPermission[8].uedit=="1" )? 'style=display:block':'style=display:none'; %>>
                        <a href="" class="advertiseEdit lang_Edit">Bearbeiten</a>
                    </li>
                    <li class="" <%=  (sessionPermission[8].udelete=="1" )? 'style=display:block':'style=display:none'; %>><%= (sessionPermission[8].uedit=="1" && sessionPermission[12].udelete=="1"  )? 'I':''; %>
                        <a href="javascript:void(0)" class="advertiseRemove remove_recrod lang_Delete" >Löschen</a>
                    </li>
                </ul>
		</div>
	</div>
</div>
</div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<% include ../../templates/footer %>