<% include ../../templates/header %>
<div class="app-main__outer">
	<div class="app-main__inner">
		<div class="app-page-title">
			<div class="page-title-wrapper">
				<div class="page-title-heading">
					<div><i class="header-icon lnr-bullhorn"></i><span class="lang_Advertising"> Werbung</span></div>
				</div>
			</div>
		</div>
		
		<div class="tabs-animation">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="mb-3 card">
						<div class="fixed-card-header" id="FixedCardHeader">
							<div class="card-header">
								<div class="card-header-title"><span class="lang_Advertising">Bearbeiten</span></div>
							</div>
						</div>
						<form id="advertiseForm">
						<div class="card-body bg-grey">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-row">
										<div class="col-lg-12 col-md-12">
											<div class="position-relative form-group">
												<label for=""><span class="lang_Title">Titel</span></label>
												<input type="text" id="title" name="title" class="form-control" placeholder="Titel" value="<%= typeof(details[0].title)!="undefined" && details[0].title!="" ? details[0].title:''; %>">
											</div>
											<input type="hidden" id="editid" name="editid" class="form-control"  value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>">
											<input type="hidden" id="oldfile" name="oldfile" class="form-control" value="<%= typeof(details[0].image)!="undefined" && details[0].image!="" ? details[0].image:''; %>">
										</div>
										<div class="col-lg-12 col-md-12">
											<div class="position-relative form-group">
												<label for=""><span class="lang_Url">URL</span></label>
												<input type="text" id="url" name="url" class="form-control" placeholder="URL" value="<%= typeof(details[0].url)!="undefined" && details[0].url!="" ? details[0].url:''; %>">
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label for=""><span class="lang_Uploadpicture">Bild hochladen</span><span class="field-error mandatory"></span></label>
												<% if (details[0].image !="" && typeof(details[0].image) !="undefined" && typeof(details[0].image) !=undefined){ %>
												<div class="advertiseup_1" onclick="$('#advertise_1').click()">
													<img src="<%= file_link_advertise_fornt%><%=details[0].image%>">
                                        				<input type="file" name="advertiseimage"  id="advertise_1" class="fPhotoadv fPhoto-adv"  data-id="advertise_1" data-imval="advertiseup_1" />
												</div>
												<%}else{%>
												<div class="advertiseup_1" onclick="$('#advertise_1').click()">
													<img src="../images/dropzone.png">
                                        				<input type="file" name="advertiseimage"  id="advertise_1" class="fPhotoadv fPhoto-adv"  data-id="advertise_1" data-imval="advertiseup_1" />
												</div>
											<%}%>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 mt-4">
											<div class="position-relative form-group">
												<label for=""><span class="lang_Datefrom">Datum von</span></label>
												<input type="text" id="fromdate" name="fromdate" class="form-control swissSdate" placeholder="" value="<%= typeof(details[0].fromdate)!="undefined" && details[0].fromdate!="" ? details[0].fromdate:''; %>" readonly>
											</div>
											<div class="position-relative form-group">
												<label for=""><span class="lang_Dateto">Datum bis</span></label>
												<input type="text" id="todate" name="todate" class="form-control swissSdate" placeholder="" value="<%= typeof(details[0].todate)!="undefined" && details[0].todate!="" ? details[0].todate:''; %>" readonly>
											</div>
											<div class="position-relative form-group">
												<label for=""><span class="lang_Status">Status</span></label>
												<select name="status" id="status" class="custom-select">
													<option value="1" <%= details[0].status == '1' ? 'selected' : '' %>>aktiv</option>
                                                    <option value="0" <%= details[0].status == '0' ? 'selected' : '' %>>inaktiv</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="d-block text-right card-footer">
							<a href="advertise" class="btn btn-secondary lang_Back">Zurück</a>
							<a href="javascript:;" class="btn btn-success advertiseSubmit lang_Save">Speichern</a>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
</div>
</div>
<% include ../../templates/footer %>