<div class="mb-4">
    <h4><span classs="lang_Extras">Extras</span></h4>
</div>
<div class="">
    <select multiple="multiple" id="extratype" name="extratype" class="multiselect-dropdown form-control">
        <optgroup label="">
        <% if(extradata.length>0){
        extradata.forEach(function(etypedata){%>
        <%extra.forEach(function(etype){%>
        <option value="<%=etype.id%>" <%= (etypedata.extra) == etype.id?'selected':'' %> ><%=etype.extra%> - CHF <%=etype.price%></option>
   		<% });});}else{%>
   		<%if(extra.length>0){
      extra.forEach(function(etype){%>
        <option value="<%=etype.id%>"><%=etype.extra%> - CHF <%=etype.price%></option>
   		<%});}}%>
        </optgroup>
       
    </select>
</div>



