<div class="mb-4">
    <h4><span class="">Services</span></h4>
</div>
<div class="">
    <select multiple="multiple" id="servicetype" name="servicetype" class="multiselect-dropdown form-control">
        <optgroup label="">
        <% if(servicedata.length>0){
        servicedata.forEach(function(stypedata){%>
        <%services.forEach(function(stype){%>
        <option value="<%=stype.id%>" <%= (stypedata.service) == stype.id?'selected':'' %> ><%=stype.service%></option>
   		<% });});}else{%>
   		<%services.forEach(function(stype){%>
        <option value="<%=stype.id%>"><%=stype.service%></option>
   		<%});}%>
        </optgroup>
        
    </select>
</div>