<% include ../../templates/header %>
  <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div><i class="header-icon lnr-bubble"></i> Chat</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tabs-animation">
                        <div class="main-card mb-3 card">
                            <div class="row chat-main">
                                <div class="col-lg-3 col-md-4 pr-0">
                                    <div class="chat-users">
                                        <div class="card-header">
                                            <div class="card-header-title">Incoming Chats</div>
                                        </div>
                                        <div class="scroll-area-lg">
                                            <div class="scrollbar-container">
                                                <ul class="list-group userlistshow" id="userlistshow">
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 pl-0">
                                    <div class="chat-conversation">
                                        <div class="card-header">
                                            <div class="card-header-title">Plaudern mit <strong><span id="cwfname"></span></strong></div>
                                            <div class="btn-actions-pane-right actions-icon-btn">
                                                <a href="javascript:history.back()" class="btn btn-secondary">Chat schließen</a>
                                            </div>
                                        </div>
                                        <div class="scroll-area-lg chatmove">
                                            
                                                <div class="chat-wrapper p-1" id="chmove" >
                                                  <ul id="showchat"></ul>
                                                
                                                </div>
                                                 <div class="card-footer chat-footer">
                                            <input placeholder="Write here and hit enter to send..." type="text" class="form-control-lg form-control" id="chatmessage" name="chatmessage" >
                                        </div>
                                            
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<% include ../../templates/footer %>