<div class="form-group mb-0">
<label for="">Suchen</label>
<input type="text" id="all_girls" name="all_girls" class="form-control" placeholder="">
</div>
<ul class="todo-list-wrapper list-group list-group-flush" id="s_all">
 <%if(girls.length>0){
     girls.forEach(function(gdata){%>
<li class="list-group-item">
    <div class="widget-content">
        <div class="widget-content-wrapper">
            <div class="widget-content-left mr-2">

                <div class="custom-checkbox">
                    <input type="checkbox" id="" class="ads_Checkbox" value="<%=gdata.id%>">
                    <!-- <input type="checkbox" id="" class="custom-control-input ads_Checkbox"><label class="custom-control-label" for="sg1"> --></div>
            </div>
            <div class="widget-content-left mr-2">
                <div class="widget-content-left erstellen-eirls">
                    <span style="background: url(<%= file_link_gallery_fornt %><%=gdata.pimage%>);"></span>
                    <!-- <img class="rounded-circle" src="" alt=""> -->
                </div>
            </div>
            <div class="widget-content-left">
                <div class="widget-heading"><%=gdata.gname%></div>
                <div class="widget-subheading"></div>
            </div>
        </div>
    </div>
</li>
 <%});}%>
</ul>