<div class="form-group mb-0">
<label for="">Suchen</label>
<input type="text" id="present_girls" name="all_girls" class="form-control" placeholder="">
</div>
<ul class="todo-list-wrapper list-group list-group-flush" id="s_present">
 <%if(girls.length>0){
     girls.forEach(function(gdata){%>
<li class="list-group-item">
    <div class="widget-content">
        <div class="widget-content-wrapper">
            <div class="widget-content-left mr-2">
                 <input type="checkbox" id="" class="ads_Checkbox" value="<%=gdata.id%>">
                <!-- <div class="custom-checkbox custom-control"><input type="checkbox" id="sg1" class="custom-control-input"><label class="custom-control-label" for="sg1"></div> -->
            </div>
            <div class="widget-content-left mr-2">
                <div class="widget-content-left erstellen-eirls">
                    <span style="background: url(<%= file_link_gallery_fornt %><%=gdata.pimage%>);"></span>
                   <!--  <img width="32" class="rounded-circle" src="" alt=""> -->
                </div>
            </div>
            <div class="widget-content-left">
                <div class="widget-heading"><%=gdata.gname%></div>
                <div class="widget-subheading"></div>
            </div>
        </div>
    </div>
</li>
 <%});}%>
</ul>