<% include ../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-apartment"></i> Filiale</div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title"> Übersicht</div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="branch-add.html" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                    <a data-toggle="collapse" href="#show-filter"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
                                </div>
                            </div>
                            <div class="collapse" id="show-filter">
                                <div class="box">
                                    <div class="form-row">
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class="">Title</label>
                                                <input type="text" class="form-control" placeholder="Suchen">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class="">Kategorie</label>
                                                <select type="select" id="" name="" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class="">Kanton</label>
                                                <select type="select" id="" name="" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class="">Zimmer</label>
                                                <select type="select" id="" name="" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class="">Leiter</label>
                                                <select type="select" id="" name="" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group text-right">
                                                <label for="" class=""><a href="#"> <i class="pe-7s-close-circle"></i> Filter Löschen</a></label>
                                                <button class="btn btn-lg btn-block btn-primary">Senden</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body branch-list">
                            <div class="row branch">
                                <div class="col-lg-2 col-md-4">
                                    <a href="branch-detail.html" class="branch-img" style="background: url('assets/images/branch-01.jpg') no-repeat center center/cover;"></a>
                                </div>
                                <div class="col-lg-10 col-md-8">
                                    <a href="branch-detail.html" class="branch-title">
                                        <span class="category">Kategorie</span>
                                        <h3>Mondrian South Beach Hotel</h3>
                                    </a>
                                    <div class="branch-info">
                                        <ul>
                                            <li>Kanton : <span>Zürich</span></li>
                                            <li>Zimmer : <span>04</span></li>
                                            <li>Girls : <span>06</span></li>
                                            <li>Leiter : <span>Mr.Noah</span></li>
                                        </ul>
                                    </div>
                                    <div class="branch-contact">
                                        <ul>
                                            <li><i class="ico lnr-map-marker"></i><a href="">Zollikerstrasse 788, 8008 Zurich</a></li>
                                            <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888">+41 848 888 888</a></li>
                                            <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com">info@email.com</a></li>
                                            <li><i class="ico lnr-link"></i><a href="#">Visit Website</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row branch">
                                <div class="col-lg-2 col-md-4">
                                    <a href="branch-detail.html" class="branch-img" style="background: url('assets/images/branch-02.jpg') no-repeat center center/cover;"></a>
                                </div>
                                <div class="col-lg-10 col-md-8">
                                    <a href="branch-detail.html" class="branch-title">
                                        <span class="category">Kategorie</span>
                                        <h3>Omni Nashville Hotel</h3>
                                    </a>
                                    <div class="branch-info">
                                        <ul>
                                            <li>Kanton : <span>Bern</span></li>
                                            <li>Zimmer : <span>06</span></li>
                                            <li>Girls : <span>10</span></li>
                                            <li>Leiter : <span>Mr.Gabriel</span></li>
                                        </ul>
                                    </div>
                                    <div class="branch-contact">
                                        <ul>
                                            <li><i class="ico lnr-map-marker"></i><a href="">Schauplatzgasse 10, 3011 Bern</a></li>
                                            <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888">+41 848 888 888</a></li>
                                            <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com">info@email.com</a></li>
                                            <li><i class="ico lnr-link"></i><a href="#">Visit Website</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row branch">
                                <div class="col-lg-2 col-md-4">
                                    <a href="branch-detail.html" class="branch-img" style="background: url('assets/images/branch-03.jpg') no-repeat center center/cover;"></a>
                                </div>
                                <div class="col-lg-10 col-md-8">
                                    <a href="branch-detail.html" class="branch-title">
                                        <span class="category">Kategorie</span>
                                        <h3>The Palazzo at The Venetian</h3>
                                    </a>
                                    <div class="branch-info">
                                        <ul>
                                            <li>Kanton : <span>Luzern</span></li>
                                            <li>Zimmer : <span>10</span></li>
                                            <li>Girls : <span>15</span></li>
                                            <li>Leiter : <span>Mr.David</span></li>
                                        </ul>
                                    </div>
                                    <div class="branch-contact">
                                        <ul>
                                            <li><i class="ico lnr-map-marker"></i><a href="">Kauffmannweg 29, 6003 Luzern</a></li>
                                            <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888">+41 848 888 888</a></li>
                                            <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com">info@email.com</a></li>
                                            <li><i class="ico lnr-link"></i><a href="#">Visit Website</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row branch">
                                <div class="col-lg-2 col-md-4">
                                    <a href="branch-detail.html" class="branch-img" style="background: url('assets/images/branch-04.jpg') no-repeat center center/cover;"></a>
                                </div>
                                <div class="col-lg-10 col-md-8">
                                    <a href="branch-detail.html" class="branch-title">
                                        <span class="category">Kategorie</span>
                                        <h3>The Cosmopolitan of Las Vegas, Autograph Collection</h3>
                                    </a>
                                    <div class="branch-info">
                                        <ul>
                                            <li>Kanton : <span>Zürich</span></li>
                                            <li>Zimmer : <span>04</span></li>
                                            <li>Girls : <span>06</span></li>
                                            <li>Leiter : <span>Mr.Noah</span></li>
                                        </ul>
                                    </div>
                                    <div class="branch-contact">
                                        <ul>
                                            <li><i class="ico lnr-map-marker"></i><a href="">Zollikerstrasse 788, 8008 Zurich</a></li>
                                            <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888">+41 848 888 888</a></li>
                                            <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com">info@email.com</a></li>
                                            <li><i class="ico lnr-link"></i><a href="#">Visit Website</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row branch">
                                <div class="col-lg-2 col-md-4">
                                    <a href="branch-detail.html" class="branch-img" style="background: url('assets/images/branch-05.jpg') no-repeat center center/cover;"></a>
                                </div>
                                <div class="col-lg-10 col-md-8">
                                    <a href="branch-detail.html" class="branch-title">
                                        <span class="category">Kategorie</span>
                                        <h3>Garden of the Gods Resort and Club</h3>
                                    </a>
                                    <div class="branch-info">
                                        <ul>
                                            <li>Kanton : <span>Bern</span></li>
                                            <li>Zimmer : <span>06</span></li>
                                            <li>Girls : <span>10</span></li>
                                            <li>Leiter : <span>Mr.Gabriel</span></li>
                                        </ul>
                                    </div>
                                    <div class="branch-contact">
                                        <ul>
                                            <li><i class="ico lnr-map-marker"></i><a href="">Schauplatzgasse 10, 3011 Bern</a></li>
                                            <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888">+41 848 888 888</a></li>
                                            <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com">info@email.com</a></li>
                                            <li><i class="ico lnr-link"></i><a href="#">Visit Website</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row branch">
                                <div class="col-lg-2 col-md-4">
                                    <a href="branch-detail.html" class="branch-img" style="background: url('assets/images/branch-06.jpg') no-repeat center center/cover;"></a>
                                </div>
                                <div class="col-lg-10 col-md-8">
                                    <a href="branch-detail.html" class="branch-title">
                                        <span class="category">Kategorie</span>
                                        <h3>Hyatt Regency Scottsdale Resort and Spa at Gainey Ranch</h3>
                                    </a>
                                    <div class="branch-info">
                                        <ul>
                                            <li>Kanton : <span>Luzern</span></li>
                                            <li>Zimmer : <span>10</span></li>
                                            <li>Girls : <span>15</span></li>
                                            <li>Leiter : <span>Mr.David</span></li>
                                        </ul>
                                    </div>
                                    <div class="branch-contact">
                                        <ul>
                                            <li><i class="ico lnr-map-marker"></i><a href="">Kauffmannweg 29, 6003 Luzern</a></li>
                                            <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888">+41 848 888 888</a></li>
                                            <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com">info@email.com</a></li>
                                            <li><i class="ico lnr-link"></i><a href="#">Visit Website</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../templates/footer %>