<script src="<%= site_redirect_url %>socket.io/socket.io.js"></script> 
<script>
  var socket = io("<%= site_redirect_url %>");
</script> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/main.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/alertify.js"></script>
<script src="<%= site_redirect_url %>datatable/datatables.min.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/custom.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="<%= site_redirect_url %>scripts/jquery-time-duration-picker.js"></script>
<script src="<%= site_redirect_url %>scripts/jquery.timeago.js"></script>
<!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBW-PM1jYDUVx3HG7BDCUuudzRhyBYVx0Y&libraries=places"></script>-->

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyB3D1_mbUXoQXt9S-ZRcnf55Jx51g_pezM&libraries=places"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/daterangepicker.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/dateconfig.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/drag-arrange.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/qrcode.min.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/qrcode.js"></script>

<% include scriptfile %>
<% if(typeof(page_js)!='undefined'){ %>
<script>
  <%- page_js; %>
</script>
<% } %>
</body>
</html>