<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>iWOX</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700|Roboto:400,700&display=swap" rel="stylesheet">
        <meta name="msapplication-tap-highlight" content="no">
        <link href="<%= site_redirect_url %>css/main.css" rel="stylesheet">
        <link href="<%= site_redirect_url %>css/custom.css" rel="stylesheet">
        <link href="<%= site_redirect_url %>css/alertify.css" rel="stylesheet">
        <link href="<%= site_redirect_url %>datatable/datatables.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/dark-hive/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="<%= site_redirect_url %>css/owl.carousel.min.css"/>
        <link rel="stylesheet" href="<%= site_redirect_url %>css/owl.theme.default.min.css"/>
         <link rel="stylesheet" type="text/css" media="all" href="<%= site_redirect_url %>css/daterangepicker.css" />
         <link href="https://cdn.jsdelivr.net/bootstrap.datepicker-fork/1.3.0/css/datepicker3.css" rel="stylesheet"/>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.css" rel="stylesheet">
        
        
        
    </head>
    <body>
        <div class="loader"></div>
        <div class="app-container app-theme-white fixed-header fixed-sidebar">
            <div class="app-header header-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                        </button>
                    </span>
                </div>
                <div class="app-header__content">
                    <div class="app-header-left">
                        <div class="search-wrapper">
                            <div class="input-holder">
                                <input type="text" class="search-input" placeholder="Type to search">
                                <button class="search-icon"><span></span></button>
                            </div>
                            <button class="close"></button>
                        </div>
                    </div>
                    <div class="app-header-right">
                        <div class="header-dots">
                            <a href="#" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
                                <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                    <span class="icon-wrapper-bg bg-danger"></span>
                                    <i class="icon text-danger fa fa-bell"></i>
                                    <span class="badge badge-dot badge-dot-sm badge-danger">Notifications</span>
                                </span>
                            </a>
                            <a href="chat" class="p-0 mr-2 btn btn-link">
                                <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                    <span class="icon-wrapper-bg bg-success"></span>
                                    <i class="icon text-success fa fa-comments"></i>
                                    <span class="badge badge-dot badge-dot-sm badge-success">Chat</span>
                                </span>
                            </a>
                            <a href="weekplanner.html" class="p-0 mr-2 btn btn-link">
                                <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                    <span class="icon-wrapper-bg bg-secondary"></span>
                                    <i class="icon text-secondary fa fa-calendar-alt"></i>
                                </span>
                            </a>
                        </div>
                        <div class="header-btn-lg pr-0">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="btn-group">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                <img width="36" class="rounded-circle" src="images/avatar.jpg" alt="">
                                                <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                            </a>
                                            <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-left">
                                                <div class="dropdown-menu-header">
                                                    <div class="dropdown-menu-header-inner bg-info">
                                                        
                                                        <div class="menu-header-content text-left">
                                                            <div class="widget-content p-0">
                                                                <div class="widget-content-wrapper">
                                                                    <div class="widget-content-left mr-3">
                                                                        <img width="42" class="rounded-circle"
                                                                        src="images/avatar.jpg"
                                                                        alt="">
                                                                    </div>
                                                                    <div class="widget-content-left">
                                                                        <div class="widget-heading">iWOX
                                                                        </div>
                                                                        <div class="widget-subheading opacity-8">Super Admin
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="scroll-area-xs" style="height: 135px;">
                                                    <div class="scrollbar-container ps">
                                                        <ul class="nav flex-column">
                                                            <li class="nav-item">
                                                                <a href="profile" class="nav-link lang_Myaccount">Mein Konto</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="changepassword" class="nav-link lang_Changepassword">Passwort ändern</a>
                                                            </li>
                                                            <li class="nav-item-divider nav-item"></li>
                                                            
                                                            <li class="nav-item">
                                                                <a href="logout" class="nav-link lang_Signout">Abmelden</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content-left  ml-3 header-user-info">
                                        <div class="widget-heading">
                                            iWOX
                                        </div>
                                        <div class="widget-subheading">
                                            Super Admin
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-main">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="logo-src"></div>
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                            </button>
                        </span>
                    </div>
                    <div class="scrollbar-sidebar">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu">
                                <!--  <%=sessionPermission.length%> -->
                                <% //console.log(sessionPermission[13].uadd) %>
                                <% //console.log(sessionPermission[13].uedit)%>
                                <% //console.log(sessionPermission[13].uview)%>
                                <% //console.log(sessionPermission[13].udelete)%>
                                <% //console.log(sessionPermission[13].name)%>
                                <li class="app-sidebar__heading">Admin</li>
                                <li class="mm-active" <%=  (sessionPermissionUser[1][1]=="1" || sessionPermissionUser[1][2]=="1" || sessionPermissionUser[1][3]=="1" || sessionPermissionUser[1][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="dashboard"><i class="metismenu-icon lnr-layers"></i> Übersicht</a>
                                </li>
                                <li <%=  (sessionPermissionUser[2][1]=="1" || sessionPermissionUser[2][2]=="1" || sessionPermissionUser[2][3]=="1" || sessionPermissionUser[2][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="bericht"><i class="metismenu-icon lnr-chart-bars"></i> Bericht</a>
                                </li>
                                <li <%=  (sessionPermissionUser[17][1]=="1" || sessionPermissionUser[17][2]=="1" || sessionPermissionUser[17][3]=="1" || sessionPermissionUser[17][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="arbeitsplan"><i class="metismenu-icon lnr-calendar-full"></i> Arbeitsplan </a>
                                </li>
                                <li class="app-sidebar__heading">Management</li>
                                <li <%=  (sessionPermissionUser[3][1]=="1" || sessionPermissionUser[3][2]=="1" || sessionPermissionUser[3][3]=="1" || sessionPermissionUser[3][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="filiale"><i class="metismenu-icon lnr-apartment"></i> Filiale</a>
                                </li>
                                <li <%=  (sessionPermissionUser[4][1]=="1" || sessionPermissionUser[4][2]=="1" || sessionPermissionUser[4][3]=="1" || sessionPermissionUser[4][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="weeklyplanner"><i class="metismenu-icon lnr-calendar-full"></i> Wochenplan</a>
                                </li>
                                <li <%=  (sessionPermissionUser[5][1]=="1" || sessionPermissionUser[5][2]=="1" || sessionPermissionUser[5][3]=="1" || sessionPermissionUser[5][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="dienstleistung"><i class="metismenu-icon lnr-leaf"></i> Dienstleistung</a>
                                </li>
                                <li <%=  (sessionPermissionUser[6][1]=="1" || sessionPermissionUser[6][2]=="1" || sessionPermissionUser[6][3]=="1" || sessionPermissionUser[6][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="girls"><i class="metismenu-icon lnr-users"></i> Girls</a>
                                </li>
                                <li <%=  (sessionPermissionUser[7][1]=="1" || sessionPermissionUser[7][2]=="1" || sessionPermissionUser[7][3]=="1" || sessionPermissionUser[7][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="vouchers"><i class="metismenu-icon lnr-gift"></i> Gutscheine</a>
                                </li>
                                <li <%=  (sessionPermissionUser[8][1]=="1" || sessionPermissionUser[8][2]=="1" || sessionPermissionUser[8][3]=="1" || sessionPermissionUser[8][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="pointview"><i class="metismenu-icon lnr-diamond"></i> Treuepunkte</a>
                                </li>
                                <li <%=  (sessionPermissionUser[9][1]=="1" || sessionPermissionUser[9][2]=="1" || sessionPermissionUser[9][3]=="1" || sessionPermissionUser[9][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="advertise"><i class="metismenu-icon lnr-bullhorn"></i> Werbung</a>
                                </li>
                                <li <%=  (sessionPermissionUser[18][1]=="1" || sessionPermissionUser[18][2]=="1" || sessionPermissionUser[18][3]=="1" || sessionPermissionUser[18][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="rubble"><i class="metismenu-icon lnr-magic-wand"></i> Rubble</a>
                                </li>
                                <li class="app-sidebar__heading">CRM</li>
                                <li <%=  (sessionPermissionUser[10][1]=="1" || sessionPermissionUser[10][2]=="1" || sessionPermissionUser[10][3]=="1" || sessionPermissionUser[10][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="customers"><i class="metismenu-icon lnr-smile"></i> Kunden</a>
                                </li>
                                <li <%=  (sessionPermissionUser[11][1]=="1" || sessionPermissionUser[11][2]=="1" || sessionPermissionUser[11][3]=="1" || sessionPermissionUser[11][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %> >
                                    <a href="notification"><i class="metismenu-icon lnr-alarm"></i> Benachrichtigungen</a>
                                </li>
                                <li <%=  (sessionPermissionUser[12][1]=="1" || sessionPermissionUser[12][2]=="1" || sessionPermissionUser[12][3]=="1" || sessionPermissionUser[12][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="customerdebt"><i class="metismenu-icon lnr-pie-chart"></i> Schulden</a>
                                </li>
                                <li class="app-sidebar__heading">Settings</li>
                                <li <%=  (sessionPermissionUser[13][1]=="1" || sessionPermissionUser[13][2]=="1" || sessionPermissionUser[13][3]=="1" || sessionPermissionUser[13][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="user"><i class="metismenu-icon lnr-user"></i> Benutzer</a>
                                </li>
                                <li <%=  (sessionPermissionUser[14][1]=="1" || sessionPermissionUser[14][2]=="1" || sessionPermissionUser[14][3]=="1" || sessionPermissionUser[14][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="servicetype"><i class="metismenu-icon lnr-database"></i> Services</a>
                                </li>
                                <li <%=  (sessionPermissionUser[15][1]=="1" || sessionPermissionUser[15][2]=="1" || sessionPermissionUser[15][3]=="1" || sessionPermissionUser[15][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="extratype"><i class="metismenu-icon lnr-database"></i> Extras</a>
                                </li>
                                <li <%=  (sessionPermissionUser[16][1]=="1" || sessionPermissionUser[16][2]=="1" || sessionPermissionUser[16][3]=="1" || sessionPermissionUser[16][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="zeit"><i class="metismenu-icon lnr-database"></i> Zeit</a>
                                </li>
                                <li <%=  (sessionPermissionUser[21][1]=="1" || sessionPermissionUser[21][2]=="1" || sessionPermissionUser[21][3]=="1" || sessionPermissionUser[21][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="category"><i class="metismenu-icon lnr-database"></i> Kategorie</a>
                                </li>
                                <!-- <li <%=  (sessionPermissionUser[19][1]=="1" || sessionPermissionUser[19][2]=="1" || sessionPermissionUser[19][3]=="1" || sessionPermissionUser[19][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="#"><i class="metismenu-icon lnr-printer"></i> Service Zettel</a>
                                </li>
                                <li <%=  (sessionPermissionUser[20][1]=="1" || sessionPermissionUser[20][2]=="1" || sessionPermissionUser[20][3]=="1" || sessionPermissionUser[20][4]=="1" || role_id=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="#"><i class="metismenu-icon lnr-star"></i> Bewertung</a> 
                                </li>-->
                                <li>
                                    <a href="permit"><i class="metismenu-icon lnr-user"></i>
                                    Bewilligungsart</a>
                                </li>
                                <li>
                                    <a href="hair"><i class="metismenu-icon lnr-database"></i> Haare</a>
                                </li>
                                <li>
                                    <a href="eyes"><i class="metismenu-icon lnr-database"></i> Augen</a>
                                </li>
                                <li>
                                    <a href="shoes"><i class="metismenu-icon lnr-database"></i> Schuhe</a>
                                </li>
                                <li>
                                    <a href="cloth"><i class="metismenu-icon lnr-database"></i>
                                    Konfektion</a>
                                </li>
                                <li>
                                    <a href="civilstatus"><i class="metismenu-icon lnr-database"></i>
                                    Zivilstand</a>
                                </li>
                                <li>
                                    <a href="privatepart"><i class="metismenu-icon lnr-database"></i> Intimbereich</a>
                                </li>
                                <li>
                                    <a href="oberweite"><i class="metismenu-icon lnr-database"></i> Oberweite</a>
                                </li>
                                <li>
                                    <a href="nationality"><i class="metismenu-icon lnr-database"></i>
                                    Nationalität</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>