<!doctype html>
<html lang="en">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>iWOX</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700|Roboto:400,700&display=swap" rel="stylesheet">
        <meta name="msapplication-tap-highlight" content="no">
        <link href="<%= site_redirect_url %>css/main.css" rel="stylesheet">
        <link href="<%= site_redirect_url %>css/custom.css" rel="stylesheet">
        <link href="<%= site_redirect_url %>css/alertify.css" rel="stylesheet">
    </head>
    <body>