<script type="text/javascript" src="<%= site_redirect_url %>scripts/login.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/validation.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/lang.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/multicheck.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/commonsp.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/user.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/datatable.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/removeRecord.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/service.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/extratype.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/category.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/customer.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/girls.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/branch.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/vouchers.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/points.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/weekplanner.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/notification.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/debt.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/workplanner.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/chatmessage.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/rubble.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/chartdata.js"></script>
<script type="text/javascript" src="<%= site_redirect_url %>scripts/advertise1.js"></script>






  