 <% for(var i = 0; i < details.length;i++){%>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="white-box">
				<div class="product-img">
					<img src="../images/shop/<%=details[i].shop_image %>" width="200" height="200"/>
					<div class="pro-img-overlay"><a href="editShop?shopId=<%=cryptr.encrypt(details[i].shop_id)%>" class="bg-info"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="bg-danger"><i class="ti-trash remove_recrod" data-id="<%=cryptr.encrypt(details[i].shop_id) %>" data-file="<%=details[i].shop_image %>"data-table="shop"data-column="shop_id"></i></a></div>
				</div>
				<a href="shop-details?shopId=<%=cryptr.encrypt(details[i].shop_id)%>">
				<div class="product-text">
					<span class="pro-price bg-danger"></span>
					<h3 class="box-title m-b-0"><%=details[i].shop_name %></h3>
					<small class="text-muted db"><%=details[i].category_name %></small>
				</div></a>
			</div>
		</div>
		<%}%>