<% 
var module_number=""; 
var module_numberadd="";
   module_number = module.length;
   var vid=1;
   module_numberadd = module.filter((obj) => obj.uadd === vid).length;
   module_numberedit = module.filter((obj) => obj.uedit === vid).length;
   module_numberview = module.filter((obj) => obj.uview === vid).length;
   module_numberdelete = module.filter((obj) => obj.udelete === vid).length;

%>
<div class="card-header">
                            <div class="card-header-title lang_Authorization">Berechtigung</div>
                        </div>
                        <div class="card-body bg-grey">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover"><thead>
                                        <tr>
                                            
                                            <th class="lang_pages">Seiten<br><span class="text-sm lang_Selectall">alles auswählen</span></th>
                                            <th class="text-center "><span class="lang_Create">Erstellen</span><br><input type="checkbox" class="permission-check create" <%= module_number == module_numberadd ? 'checked' : '' %>  id="create"></th>
                                            <th class="text-center"><span class="lang_Edit">Bearbeiten</span><br><input type="checkbox" class="permission-check useredit"  <%= module_number == module_numberedit ? 'checked' : '' %>  id=""></th>
                                            <th class="text-center "><span class="lang_View">Ansicht</span><br><input type="checkbox" class="permission-check userview"  <%= module_number == module_numberview ? 'checked' : '' %>  id=""></th>
                                            <th class="text-center "><span class="lang_Delete">Löschen</span><br><input type="checkbox" class="permission-check userremove" <%= module_number == module_numberdelete ? 'checked' : '' %> id=""></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% module.forEach(function(cmodule) {%>
                                        <tr>
                                            <input type="hidden" name="module" id="module<%= cmodule.id%>" value="<%= cmodule.id%>">
                                                <td ><%= cmodule.name%></td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="add<%= cmodule.id%>" value="1" <%= cmodule.uadd == '1' ? 'checked' : '' %> class="permission-check createcase chk" data-module="<%= cmodule.id %>" id="">
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="edit<%= cmodule.id%>" value="1" <%= cmodule.uedit == '1' ? 'checked' : '' %> class="permission-check usereditcase chk" data-module="<%= cmodule.id %>" id="">
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="view<%= cmodule.id%>" value="1" <%= cmodule.uview == '1' ? 'checked' : '' %> class="permission-check userviewcase chk" data-module="<%= cmodule.id %>" id="">
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="dele<%= cmodule.id%>" value="1" <%= cmodule.udelete == '1' ? 'checked' : '' %> class="permission-check userremovecase chk" data-module="<%= cmodule.id %>" id="">
                                                </td>
                                            </tr>
                                <%});%>
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>