<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-smile"></i> <span class="lang_Customers">Kunden</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title lang_Base">Basis</div>
                            </div>
                        </div>
                        <div class="card-body bg-grey">
                            <form id="customerForm">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-row">
                                            <div class="col-lg-12 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Badge">Badge</span><span class="field-error mandatory"></span></label>
                                                    <select type="select" id="badge" name="badge" class="custom-select">
                                                        <option value="VIP"  <%= details[0].badge == 'VIP' ? 'selected' : '' %>>VIP</option>
                                                        <option value="Premium" <%= details[0].badge == 'Premium' ? 'selected' : '' %>>Premium</option>
                                                        <option value="Standard" <%= details[0].badge == 'Standard' ? 'selected' : '' %>>Standard</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Firstname">Vorname</span><span class="field-error mandatory"></span></label>
                                                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Vorname" value="<%= typeof(details[0].first_name)!="undefined" && details[0].first_name!="" ? details[0].first_name:''; %>">
                                                </div>
                                                <input type="hidden" id="editid" name="editid" value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>">
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Surname">Nachname</span><span class="field-error mandatory"></span></label>
                                                    <input type="text"  id="lastName" name="lastName" class="form-control" placeholder="Nachname" value="<%= typeof(details[0].last_name)!="undefined" && details[0].last_name!="" ? details[0].last_name:''; %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Email">E-Mail</span><span class="field-error mandatory"></span></label>
                                                    <input type="email"  id="email" name="email"class="form-control" placeholder="E-Mail" value="<%= typeof(details[0].email)!="undefined" && details[0].email!="" ? details[0].email:''; %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Mobile">Mobil</span><span class="field-error mandatory"></span></label>
                                                    <input type="tel"  id="mobile" name="mobile" class="form-control" placeholder="+41 xx xxx xxxx " oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');" value="<%= typeof(details[0].mobile)!="undefined" && details[0].mobile!="" ? details[0].mobile:''; %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Password">Passwort</span><span class="field-error mandatory"></span></label>
                                                    <input type="password" id="password" name="password" class="form-control" placeholder="Passwort" value="<%= typeof(details[0].password)!="undefined" && details[0].password!="" ? details[0].password:''; %>" ><span class="eye-icon" ><i toggle="#password"class="fa fa-eye toggle-password"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Confirmpassword">Passwort bestätigen</span><span class="field-error mandatory"></span></label>
                                                    <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Passwort bestätigen" value="<%= typeof(details[0].password)!="undefined" && details[0].password!="" ? details[0].password:''; %>">
                                                    <span class="eye-icon"><i toggle="#confirmpassword"class="fa fa-eye toggle-password"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Email">Geburtsdatum</span> <span class="field-error mandatory"></span></label>
                                                    <input type="text" id="dob" name="dob" class="form-control swissSdate" value="<%= typeof(details[0].dob)!="undefined" && details[0].dob!="" ? details[0].dob:''; %>" placeholder="dob" readonly>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Status">Status</span> <span class="field-error mandatory"></span></label>
                                                    <select type="select" id="status" name="status" class="custom-select">
                                                        <option value="1" <%= details[0].status == '1' ? 'selected' : '' %>>aktiv</option>
                                                        <option value="0" <%= details[0].status == '0' ? 'selected' : '' %>>inaktiv</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="d-block text-right card-footer">
                            <a href="/customers" class="btn btn-secondary lang_Back">Zurück</a>
                            <a href="javascript:void(0)" class="btn btn-success customerSubmit lang_Save">Speichern</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>