<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-smile"></i> <span class="lang_Customers ">Kunden</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title lang_Customers"> Kunden</div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <% if(sessionPermission[9].uadd=="1"){%>
                                    <a href="addcustomer" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                    <%}%>
                                    <a data-toggle="collapse" href="#show-filter"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
                                </div>
                            </div>
                            <div class="collapse" id="show-filter">
                                <div class="box">
                                    <div class="form-row">
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Badge">Badge</span></label>
                                                <select type="select" id="cbadge" name="cbadge" class="custom-select">
                                                    <option value="All">All</option>
                                                    <option value="VIP">VIP</option>
                                                    <option value="Premium">Premium</option>
                                                    <option value="Standard">Standard</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Name">Name</span></label>
                                                <select id="cName" name="cName"  class="multiselect-dropdown" placeholder="Suchen" >
                                                <option value="All">All</option>
                                               <% customernamelist.forEach(function(cname){%>
                                                <option value="<%= cname.first_name %> <%= cname.last_name %>"> <%= cname.first_name %> <%= cname.last_name %></option>
                                                <%});%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Branch">Filiale</span></label>
                                                <select type="select" id="cbranch" name="cbranch" class="custom-select">
                                                    <option value="All">All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Mobile">Mobil</span></label>
                                                <input type="tel" id="cmobile" name="cmobile" class="form-control" placeholder="" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Status">Status</span></label>
                                                <select type="select" id="cstatus" name="cstatus" class="custom-select">
                                                    <option value="All">All</option>
                                                    <option value="1">aktiv</option>
                                                    <option value="0">inaktiv</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group text-right">
                                                <label for="" class=""><a href="javascript:void(0)" class="removeCustomerFilter"> <i class="pe-7s-close-circle"></i><span class="lang_ClearFilter"> Filter Löschen</span></a></label>
                                                <button class="btn btn-lg btn-block btn-primary customerSearchsubmit lang_Send">Senden</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="customer" class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center ">#</th>
                                            <th></th>
                                            <th class="lang_Firstname">Vorname</th>
                                            <th class="lang_Surname">Nachname</th>
                                            <th class="lang_Branch">Filiale</th>
                                            <th class="lang_Dob" >Geburtsdatum</th>
                                            <th class="lang_Mobile" >Mobil</th>
                                            <th class="text-right lang_Turnover">Umsatz (CHF)</th>
                                            <th class="text-center lang_pass">Treupass</th>
                                            <th class="lang_Vouchers" >Gutscheine</th>
                                            <th class="lang_Createdon">Erstellt am</th>
                                            <th class="text-center lang_Status">Status</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center text-muted">#56758</td>
                                            <td>
                                                <a href="" data-toggle="tooltip" data-original-title="VIP"><img src="images/vip.png" class="badge-img"></a>
                                            </td>
                                            <td><a href="customer-profile.html">von</a></td>
                                            <td><a href="customer-profile.html">Arx</a></td>
                                            <td>Zürich</td>
                                            <td>10.11.2000</td>
                                            <td>+41 848 888 888</td>
                                            <td class="text-right"><strong>1'000.00</strong></td>
                                            <td class="text-center"><strong>10</strong></td>
                                            <td><strong>5</strong></td>
                                            <td>10.11.2019 (12:30)</td>
                                            <td class="text-center">
                                                <div class="badge badge-success">aktiv</div>
                                            </td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>