<%if(branchauth.length>0){%>
<div class="mb-4">
    <h4>Bewilligung Verantwortliche</h4>
</div>
<p><span class="lang_Approvalof">Bewilligung von</span> <strong><%=branchauth[0].startdate%></strong> - <span class="lang_Approvaluntil">Bewilligung bis </span><strong><%=branchauth[0].enddate%></strong> &nbsp;&nbsp;&nbsp; <strong><i class="lnr-user"></i> <%=branchauth[0].uname%></strong>
 <%if(branchauth[0].file!=""){%>
 <a href="<%= site_redirect_url %><%= file_link_localapproval_fornt%><%=branchauth[0].file%>"><i class="fa fa-download"></i><span class=""> Download-Datei</span></a>
 <%}%></p>
<%if(branchauth.length>1){%>
<div class="mb-4 mt-4">
    <h4><span class="lang_Course">Verlauf</span></h4>
</div>
<div class="vertical-timeline custom vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
    <%branchauth.forEach(function(bapp,key){%>
    <%if(key!=0){%>
    <h6 class="timelin-date"><%=bapp.spdate%></h6>
    <div class="vertical-timeline-item vertical-timeline-element">
        <div>
            <div class="vertical-timeline-element-icon bounce-in">
                <i class="lnr-history"></i>
            </div>
            <div class="vertical-timeline-element-content bounce-in">
                <h4 class="timeline-title">
                <span class="lang_Approvalof">Bewilligung von</span> <strong><%=bapp.startdate%></strong> -<span class="lang_Approvaluntil"> Bewilligung bis </span><strong><%=bapp.enddate%></strong> &nbsp;&nbsp;&nbsp; <i class="lnr-user"></i> <%=bapp.uname%> &nbsp;&nbsp;&nbsp;
                <%if(bapp.file!=""){%>
                
                <a href="<%= site_redirect_url %><%= file_link_localapproval_fornt%><%=bapp.file%>"><i class="fa fa-download"></i></a>
                <%}%>
                </h4>
                <span class="vertical-timeline-element-date"><%=bapp.sptime%></span>
            </div>
        </div>
    </div>
     <%}%>
   <% });%>
</div>
<%}%>
<%}%>