<% console.log("test");%>
<% console.log(branchlist);%>
<%branchlist.forEach(function(bdata){%>
<div class="row branch blist">
	<div class="col-lg-2 col-md-4">

		<%if (bdata.image !="" && bdata.image !="undefined"){ %>
		<a href="filialedetails?branchid=<%=  app.locals.encrypt(bdata.id)%>" class="branch-img" style="background: url('<%= file_link_branch_fornt%><%= bdata.image !="" && bdata.image !="undefinded"?bdata.image:'' %>') no-repeat center center/cover;"></a>
		<%}else{%>
		<a href="filialedetails?branchid=<%=  app.locals.encrypt(bdata.id)%>" class="branch-img" style="background: url('../images/dummy1.jpg') no-repeat center center/cover;"></a>
		<%}%>
	</div>
	<div class="col-lg-10 col-md-8">
		<a href="filialedetails?branchid=<%=  app.locals.encrypt(bdata.id)%>" class="branch-title">
			<span class="category"><%= bdata.category%></span>
			<h3><%= bdata.title%></h3>
		</a>
		<div class="branch-info">
			<ul>
				<li><span class="lang_Canton">Kanton</span> : <span><%= bdata.caton%></span></li>
				<li><span class="lang_Rooms">Zimmer</span> : <span>04</span></li>
				<li><span class="lang_Girls">Girls</span> : <span>06</span></li>
				<li><span class="lang_Leader">Leiter</span> : <span><%= bdata.leader%></span></li>
			</ul>
		</div>
		<div class="branch-contact">
			<ul>
				<li><i class="ico lnr-map-marker"></i><a href=""><%= bdata.address%></a></li>
				<li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888"><%= bdata.phone%></a></li>
				<li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com"><%= bdata.email%></a></li>
				<li><i class="ico lnr-link"></i><a href="#"><%= bdata.website%></a></li>
			</ul>
		</div>
	</div>
</div>
<%})%>