<script type="text/javascript">
var branch_auth=1;
var namelistdata ="";
<% if(user.length!=""){
user.forEach(function(suser){%>
namelistdata+='<option value="<%= suser.id %>"> <%= suser.first_name %><%= suser.last_name %></option>';
<%});}%>
//console.log(namelistdata);
</script>
<div class="mb-4">
    <h4><span class="lang_Authapproval">Bewilligung Verantwortliche</span></h4>
</div>
<div id="branchauth">
    <% if(branchauth.length!=""){
    branchauth.forEach(function(branchauth_data,key){
    branch_authc = parseInt(key) + parseInt(1); %>
    
    <script>
    branch_auth = "<%=branch_authc%>";
    console.log(branch_auth);
    </script>
    <div id="ba<%= branch_authc %>">
        <div class="form-row">
            <div class="col-lg-3 col-md-3">
                <div class="position-relative form-group">
                    <label for=""><span class="lang_Approvalof">Bewilligung von</span></label>
                    <input type="hidden" value="<%=branch_authc%>" id="localapprovalpermit" name="localapprovalpermit">
                    <input type="hidden" value="<%=branchauth_data.file%>" id="old_file_permit" name="old_file_permit">
                    <input type="hidden" value="<%=branchauth_data.id%>" id="localpermitid" name="localpermitid">
                    <input type="text" class="form-control" readonly="" value="<%=branchauth_data.startdate%>" name="permissionSdate<%=branch_authc%>">
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="position-relative form-group">
                    <label for=""><span class="lang_Approvaluntil">Bewilligung bis</span></label>
                    <input type="text" class="form-control" readonly="" value="<%=branchauth_data.enddate%>"  name="permissionEdate<%=branch_authc%>">
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="position-relative form-group">
                    <label for=""><span class="lang_Responsible">Verantwortliche</span></label>
                    <select type="select"  name="permissionName<%=branch_authc%>" class="custom-select">
                        <% if(user.length!=""){
                        user.forEach(function(suser){%>
                        <option value="<%= suser.id %>" <%= (branchauth_data.responsible) == suser.id ?'selected':''%>> <%= suser.first_name %> <%= suser.last_name %></option>
                        <%});}%>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
            <div class="position-relative form-group">
                <label for=""><span class="lang_Uploadfile">Datei hochladen</span></label>
                <input type="file" class="form-control" name="localDocpermit<%=branch_authc%>" accept="application/pdf">
            </div>
        </div>
            <% if(key==0){%>
            <div class="col-lg-2 col-md-2">
                <div class="position-relative form-group">
                    <label for="">&nbsp;</label>
                    <a href="javascript:;" class="btn btn-lg btn-block btn-primary branchauthAdd lang_Add">hinzufügen</a>
                </div>
            </div>
            <% }%>
        </div>
    </div>
    <%});} else{%>
    <div id="ba1">
        <input type="hidden" value="1" id="localapprovalpermit" name="localapprovalpermit">
    <input type="hidden" value="nodata" id="old_file_permit" name="old_file_permit">
    <input type="hidden" id="localpermitid" name="localpermitid" value="abc">
        <div class="form-row">
            <div class="col-lg-3 col-md-3">
                <div class="position-relative form-group">
                    <label for=""><span class="lang_Approvalof">Bewilligung von</span></label>
                    <input type="text" class="form-control swissSdate" value=""  name="permissionSdate1" readonly="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="position-relative form-group">
                    <label for=""><span class="lang_Approvaluntil">Bewilligung bis</span></label>
                    <input type="text" class="form-control swissSdate" value=""  name="permissionEdate1" readonly="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="position-relative form-group">
                    <label for=""><span class="lang_Responsible">Verantwortliche</span></label>
                    <select type="select"  name="permissionName1" class="custom-select">
                        <% if(user.length!=""){
                        user.forEach(function(suser){%>
                        <option value="<%= suser.id %>"> <%= suser.first_name %> <%= suser.last_name %></option>
                        <%});}%>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
            <div class="position-relative form-group">
                <label for=""><span class="lang_Uploadfile">Datei hochladen</span></label>
                <input type="file" class="form-control" name="localDocpermit1" accept="application/pdf">
            </div>
        </div>
            <div class="col-lg-2 col-md-2">
                <div class="position-relative form-group">
                    <label for="">&nbsp;</label>
                    <a href="javascript:void(0)" class="btn btn-lg btn-block btn-primary branchauthAdd lang_Add">hinzufügen</a>
                </div>
            </div>
        </div>
    </div>
    <%}%>
</div>