<div class="mb-4">
    <h4>Statistik</h4>
</div>
<div class="form-row">
    <div class="col-lg-6 col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Sales Report</h5>
                <div id="chart-apex-area"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Service Report</h5>
                <div id="chart-apex-column"></div>
            </div>
        </div>
    </div>
</div>