<!-- <%= girls.length%> -->

<div class="mb-4">
    <h4>Girls</h4>
</div>
<div class="form-row">
 <% if(girls.length!=""){
     girls.forEach(function(girls_data,key){ %>

    <div class="col-lg-2 col-md-3">
        <div class="girl">
            <img src="<%= file_link_gallery_fornt%><%=girls_data.gimage%>" alt="">
            <p class="girl-name"><%=girls_data.girlsname%></p>
        </div>
    </div>
   <%});
}%>
</div>