<script type="text/javascript">
  var local_auth=1;
</script>
<div class="mb-4">
    <h4><span class="lang_Localapproval">Lokal Bewilligung</span></h4>
</div>
<div id="localapprove" >
  <!--  <%= localapprove.length%>  --> 
 <% if(localapprove.length!=""){
 localapprove.forEach(function(localapprove_data,key){
 local_authc = parseInt(key) + parseInt(1); 
 apval =  parseInt(key) + parseInt(1)%>

<script>
  local_auth = "<%=local_authc%>";
  console.log(local_auth);
</script>   
<div id="lc<%= local_authc %>">
<div class="form-row">
    <input type="hidden" value="<%=apval%>" id="localapproval" name="localapproval">
    <input type="hidden" value="<%=localapprove_data.file%>" id="old_file" name="old_file">
    <input type="hidden" value="<%=localapprove_data.id%>" id="localid" name="localid">
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="lang_Approvalof">Bewilligung von</span></label>
            <input type="text" class="form-control" readonly="" value="<%=localapprove_data.startdate%>" name="localSdate<%=apval%>">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="lang_Approvaluntil">Bewilligung bis</span></label>
            <input type="text" class="form-control" readonly="" value="<%=localapprove_data.enddate%>" name="localEdate<%=apval%>">
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="position-relative form-group">
            <label for=""><span class="lang_Uploadfile">Datei hochladen</span></label>
            <input type="file" class="form-control" name="localDoc<%=apval%>" accept="application/pdf">
        </div>
    </div>
    <% if(key==0){%>
    <div class="col-lg-2 col-md-2">
        <div class="position-relative form-group">
            <label for="">&nbsp;</label>
            <a href="javascript:;" class="btn btn-lg btn-block btn-primary localauthAdd lang_Add">hinzufügen</a>
        </div>
    </div>
    <% }%>
</div>
</div>
<%});} else{%>
<div id="lc1">
<div class="form-row">
    <input type="hidden" value="1" id="localapproval" name="localapproval">
    <input type="hidden" value="nodata" id="old_file" name="old_file">
    <input type="hidden" value="" id="localid" name="localid">
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="lang_Approvalof">Bewilligung von</span></label>
            <input type="text" class="form-control swissSdate" value=""  name="localSdate1" readonly="">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="lang_Approvaluntil">Bewilligung bis</span></label>
            <input type="text" class="form-control swissSdate" value=""  name="localEdate1"readonly="">
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="position-relative form-group">
            <label for=""><span class="lang_Uploadfile">Datei hochladen</span></label>
            <input type="file" class="form-control" name="localDoc1" accept="application/pdf">
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="position-relative form-group">
            <label for="">&nbsp;</label>
            <a href="javascript:;" class="btn btn-lg btn-block btn-primary localauthAdd lang_Add">hinzufügen</a>
        </div>
    </div>
</div>
</div>
<%}%>

</div>
