<%if(localapprove.length>0){%>
<div class="mb-4">
    <h4><span class="lang_Localapproval">Lokal Bewilligung</span></h4>
</div>
<p><span class="lang_Approvalof">Bewilligung von</span> <strong><%=localapprove[0].startdate%></strong> - <span class="lang_Approvaluntil">Bewilligung bis</span> <strong><%=localapprove[0].enddate%></strong> &nbsp;&nbsp;&nbsp;
 <%if(localapprove[0].file!=""){%>
 <a href="<%= site_redirect_url %><%= file_link_localapproval_fornt%><%=localapprove[0].file%>"><i class="fa fa-download"></i><span class=""> Download-Datei</span></a>
 <%}%></p>
<%if(localapprove.length>1){%>
<div class="mb-4 mt-4">
    <h4><span class="lang_Course">Verlauf</span></h4>
</div>
<div class="vertical-timeline custom vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
    <%localapprove.forEach(function(lapp,key){%>
    <%if(key!=0){%>
    <h6 class="timelin-date"><%=lapp.spdate%></h6>
    <div class="vertical-timeline-item vertical-timeline-element">
        <div>
            <div class="vertical-timeline-element-icon bounce-in">
                <i class="lnr-history"></i>
            </div>
            <div class="vertical-timeline-element-content bounce-in">
                <h4 class="timeline-title">
                <span class="lang_Approvalof">Bewilligung von</span> <strong><%=lapp.startdate%></strong> - <span class="lang_Approvaluntil">Bewilligung bis</span> <strong><%=lapp.enddate%></strong> &nbsp;&nbsp;&nbsp;
                <%if(lapp.file!=""){%>
                
                <a href="<%= site_redirect_url %><%= file_link_localapproval_fornt%><%=lapp.file%>"><i class="fa fa-download"></i></a>
                <%}%>
                </h4>
                <span class="vertical-timeline-element-date"><%=lapp.sptime%></span>
            </div>
        </div>
    </div>
    <%}%>
   <% });%>
</div>
<%}%>
<%}%>