<script type="text/javascript">
  var room_auth=1;
</script>
<div class="mb-4">
    <h4>Zimmer <a href="javascript:void(0)" class="btn-icon btn-sm btn btn-primary pull-right roomsAdd"><i class="pe-7s-plus btn-icon-wrapper"> </i>Erstellen</a></h4>
</div>
 
<div class="form-row zimmer" id="roomdata" style="width: 100%">
   <!--  <div id="roomdata" style="width: 100%"> -->
       
     <% if(rooms.length!=""){
     rooms.forEach(function(rooms_data,key){
     room_authc = parseInt(key) + parseInt(1); 
     caval =  parseInt(key) + parseInt(1)%>
        <script>
        room_auth = "<%=room_authc%>";
        console.log(room_auth);
        </script> 
        <div id="lc<%= room_authc %>" class="col-lg-3 col-md-4">
        <input type="hidden" value="<%=caval%>" id="roomapproval" name="roomapproval">
        <input type="hidden" value="<%=rooms_data.file%>" id="old_file_room" name="old_file_room">
        <input type="hidden" value="<%=rooms_data.id%>" id="roomid" name="roomid">
            <div class="position-relative">
            <div class="uploader fileup<%=caval%>" >
                <div class="action-icons">
                    <span data-toggle="tooltip" data-original-title="Löschen" class="del btn-icon btn-icon-only btn btn-danger"><i class="pe-7s-trash btn-icon-wrapper removeImagefilebranch" data-id="fileup<%=caval%>" data-deid="lc<%= room_authc %>" data-file="<%=rooms_data.file%>" data-fileid="<%=app.locals.encrypt(rooms_data.id)%>"> </i></span>
                </div>
                <img src="<%= file_link_rooms_fornt%><%=rooms_data.file%>"/>
                <input type="file" name="roomimage<%=caval%>"  id="filePhoto<%=caval%>" class="fPhoto filePhoto<%=caval%>"  data-id="filePhoto<%=caval%>" data-imval="fileup<%=caval%>" />
            </div>
            </div>
            <div class="position-relative form-group mt-3">
                <input type="text" class="form-control" value="<%= rooms_data.titel%>" name="roomtitle<%=caval%>" placeholder="Titel">
            </div>
            <div class="position-relative form-group">
                <textarea rows="3" class="form-control" name="roomdescription<%=caval%>" placeholder="Beschreibung"><%=rooms_data.description%></textarea>
            
       </div> 
         </div>
        <%});} else{%>
        
        <div id="lc1" class="col-lg-3 col-md-4">
        <input type="hidden" value="1" id="roomapproval" name="roomapproval">
        <input type="hidden" value="nodata" id="old_file_room" name="old_file_room">
        <input type="hidden" value="" id="roomid" name="roomid">
                <div class="position-relative">
                <div class="uploader fileup1" >
                    <div class="action-icons">
                        <span data-toggle="tooltip" data-original-title="Löschen" class="del btn-icon btn-icon-only btn btn-danger"><i class="pe-7s-trash btn-icon-wrapper removeImagefilebranch" data-id="fileup1" data-deid="lc1" data-file="" data-fileid=""> </i></span>
                    </div>
                    <img src="../images/dropzone.png"/>
                    <input type="file" name="roomimage1"  id="filePhoto1" class="fPhoto filePhoto1"  data-id="filePhoto1" data-imval="fileup1" />
                </div>
                </div>
                <div class="position-relative form-group mt-3">
                    <input type="text" class="form-control" name="roomtitle1" placeholder="Titel">
                </div>
                <div class="position-relative form-group">
                    <textarea rows="3" class="form-control" name="roomdescription1" placeholder="Beschreibung"></textarea>
                </div>
            </div>
        
    
        <%}%>
    </div>
<!-- </div> -->


