<div class="mb-4">
    <h4>Zimmer</h4>
</div>

<div class="form-row">
    <%rooms.forEach(function(roomdata){%>
    <div class="col-lg-3 col-md-4">
        <div class="zimmer-single">
            <div class="zimmer-image">
                <img src="<%= file_link_rooms_fornt%><%=roomdata.file%>" alt="">
            </div>
            <div class="zimmer-detail">
                <h5><%= roomdata.titel%></h5>
                <p><%= roomdata.description%></p>
            </div>
        </div>
    </div>
   <%});%>
</div>