<%if(sptime.length>0){%>
<div class="mb-4">
	<h4>Verlauf</h4>
</div>
<div class="vertical-timeline custom vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
	<%sptime.forEach(function(ssp,key){%>
	<h6 class="timelin-date"><%= ssp.spdate%></h6>
	<div class="vertical-timeline-item vertical-timeline-element">
		<div>
			<div class="vertical-timeline-element-icon bounce-in">
				<i class="lnr-history"></i>
			</div>
			<div class="vertical-timeline-element-content bounce-in">
				<h4 class="timeline-title"><span><%= ssp.branchname%></span></h4>
				<span class="vertical-timeline-element-date"><%= ssp.sptime%></span>
			</div>
		</div>
	</div>
	<%});%>
</div>
<%}%>