<div class="mb-4">
</div>
<label for=""><span class="field-error mandatory" id="galleryerror"></label>
<input type="hidden" name="imagecount" id="imagecount" value="<%= (gallery_image.length)!="undefined" && (gallery_image.length)!="" ? gallery_image.length:'0'; %>"/>
<input type="hidden" name="u_id" id="u_id" value="<%=u_id%>">
<input type="hidden" name="filetype" id="filetype" value="girls">
<label for=""></label>
<input type="file" style="display:none" id="file" multiple="multiple" name="file" accept="image/jpeg,image/png,image/jpg" class="gallery-img" ></input>
<div id="upload" class="drop-area dropzone">
  
</div>
<div id="gallery-sortables">
  <ul id="girls-gallery-images" class="gallery imges-gallery draggable">
    <%
    if(gallery_image.length>0){
    gallery_image.forEach(function(g_image, index) {
    
    %>
   <!--  <li class="gallery_image" style="background:url('<%= file_link_gallery_fornt %><%= g_image.image %>') no-repeat; background-size: cover; background-position: center top;">
      <img src="<%= file_link_gallery_fornt %><%= g_image.image %>" width="42" height="42">
      <a href="javascript:void(0)" data-id="<%=app.locals.encrypt(g_image.id)%>" data-vid="v<%=g_image.id%>" class="remove-image" data-name="<%=g_image.image%>"><i class="fa fa-close"></i></a></li> -->
      <li class="draggable-element gallery_image">
    <div class="card">
        <div class="card-header">
            <span class="">
                <input type="checkbox" name="viewid" value="<%=g_image.id%>" <%= g_image.viewid=="1" ? 'checked':''; %>>
                <input type="hidden" name="listid" value="<%=g_image.id%>">
            </span>
            <a href="javascript:void(0)" data-id="<%=app.locals.encrypt(g_image.id)%>" data-vid="v<%=g_image.id%>" data-name="<%=g_image.image%>" class="btn-icon btn-icon-only btn btn-link remove-image">
                <i class="pe-7s-trash btn-icon-wrapper removeImagefilegirls"></i>
            </a>
            
        </div>
        <div class="card-body">
            <div class="gallery_image" style="background:url('<%= file_link_gallery_fornt %><%= g_image.image %>') no-repeat; background-size: cover; background-position: center top;">
            </div>
        </div>
    </div>
</li>
    <%
    }); }%>
  </ul>
</div>
<div class="progress progress-xxs upload-progress " style="display:none;">
  <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="70"
    aria-valuemin="0" aria-valuemax="100" style="width:0%">
    <span class="sr-only">70% Complete</span>
  </div>
</div>
