
<div class="mb-4">
    <h4>Gallery</h4>
</div>
<div class="form-row girl-gallery">
   <!--  <%= gallery_image.length%> -->
    <%if(gallery_image.length>0){
    gallery_image.forEach(function(gname){%>
    <%if(gname.viewid=="1"){%>
    <div class="col-lg-2 col-md-3">
        <div class="girl">
          <a href="#"><img src="<%= file_link_gallery_fornt %><%=gname.image%>" alt=""></a>
        </div>
    </div>
    <%}%>
    <%});}%>
</div>