
<%if(girlslist.length>0){
girlslist.forEach(function(gdata){%>
<div class="row girl glist">
    
    <div class="col-lg-2 col-md-3">
        <div class="avatar-holder round large center mb-2">
            <img src="<%= file_link_gallery_fornt %><%= gdata.pimage%>" alt="">
        </div>
    </div>
    <div class="col-lg-10 col-md-9">
        <div class="action-icons">
            <%if(gdata.status == 1){%>
            <span class="badge badge-success">aktiv</span>
            <%}else{%>
            <span class="badge badge-danger">inaktiv</span>
            <%}%>
        </div>
        <a href="girlsdetails?girlsid=<%=  app.locals.encrypt(gdata.id)%>" class="branch-title">
            <%if(pindata.length>0){
            pindata.forEach(function(ppdata){%>
            <!-- <%= ppdata.girls_id%>
            <%= gdata.id%> -->
            <%if(ppdata.girls_id==gdata.id){%>
            <span class="category new"><%=ppdata.pin%></span>
            <%}%>
            <%});}%>
            <!-- <span class="category new">NEW</span>
            <span class="category top">TOP</span>
            <span class="category escort">ESCORT</span> -->
            <h3><%=gdata.profilename%></h3>
        </a>
        <div class="branch-info">
            <ul>
                <li>Bewilligung bis : <span><%=gdata.approvaluntill%></span></li>
                <li>Ausweis : <span> Green Card</span></li>
                <li>Nationalität : <span><%=gdata.nationality%></span></li>
            </ul>
        </div>
        <div class="branch-contact">
            <ul>
                <li><i class="ico lnr-apartment"></i><a href="javascript:;"><%=gdata.place%></a></li>
                <li><i class="ico lnr-map-marker"></i><a href="javascript:;"><%=gdata.address%></a></li>
                <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888"><%=gdata.mobile%></a></li>
                <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com"><%=gdata.email%></a></li>
            </ul>
        </div>
    </div>
</div>
<%});}%>