<div class="mb-4">
    <h4>ID</h4>
</div>
<div class="form-row">
    <div class="col-md-6 col-lg-3">
        <div class="card mb-3">
            <div class="card-header">ID vorderseite
                <div class="btn-actions-pane-right actions-icon-btn">
                    <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-cloud-download btn-icon-wrapper"></i></a>
                </div>
            </div>
            <div class="card-body text-center">
                <img src="<%= file_link_girls_fornt%><%=details[0].imageidf%>" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card mb-3">
            <div class="card-header">ID rückseite
                <div class="btn-actions-pane-right actions-icon-btn">
                    <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-cloud-download btn-icon-wrapper"></i></a>
                </div>
            </div>
            <div class="card-body text-center">
                <img src="<%= file_link_girls_fornt%><%=details[0].imageidb%>" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card mb-3">
            <div class="card-header">Pass vorderseite
                <div class="btn-actions-pane-right actions-icon-btn">
                    <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-cloud-download btn-icon-wrapper"></i></a>
                </div>
            </div>
            <div class="card-body text-center">
                <img src="<%= file_link_girls_fornt%><%=details[0].imagepb%>" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card mb-3">
            <div class="card-header">Pass rückseite
                <div class="btn-actions-pane-right actions-icon-btn">
                    <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-cloud-download btn-icon-wrapper"></i></a>
                </div>
            </div>
            <div class="card-body text-center">
                <img src="<%= file_link_girls_fornt%><%=details[0].imagepb%>" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</div>