<div class="mb-4">
    <h4>ID</h4>
</div>
<label for=""><span class="field-error mandatory" id="iderror1"></label>
<div class="form-row">

    <div class="col-md-6 col-lg-3">
        <div class="card mb-3">
            <div class="card-header"><span class="">ID vorderseite</span>
            <div class="btn-actions-pane-right actions-icon-btn">
                <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link">
                    <% if (details[0].imageidf !="" && typeof(details[0].imageidf) !="undefined" && typeof(details[0].imageidf) !=null ){ %>

                    <i class="pe-7s-cloud-upload btn-icon-wrapper"></i><i class="pe-7s-trash btn-icon-wrapper removeImagefilegirls" data-deid="fileup_1" data-file="<%=details[0].imageidf%>" data-fileid="<%=app.locals.encrypt(details[0].id)%>" data-id="filePhoto_1" data-hid="imageidf"> </i>
                    <%}else{%>

                    <i class="pe-7s-cloud-upload btn-icon-wrapper"></i><i class="pe-7s-trash btn-icon-wrapper removeImagefilegirls" data-deid="fileup_1" data-file="" data-fileid="" data-id="filePhoto_1" data-hid="imageidf"> </i>
                     <%}%>

                </a>
            </div>
         </div>
        <div class="card-body">
            <% if (details[0].imageidf !="" && typeof(details[0].imageidf) !="undefined" && typeof(details[0].imageidf) !=undefined){ %>
            <div class="uploader-ss fileup_1" >
                
                <img src="<%= file_link_girls_fornt%><%=details[0].imageidf%>">
                <input type="file" name="idproof1"  id="filePhoto_1" class="fPhotocc  filePhoto_1"  data-id="filePhoto_1" data-imval="fileup_1"  accept="image/jpeg,image/png,image/jpg" onchange="loadFile(event,'filePhoto_1')"/>
              
            </div>
            <input type="hidden" value="<%=details[0].imageidf%>" id="imageidf" name="imageidf">
            <%}else{%>
            <div class="uploader-ss fileup_1" >
                <img src="../images/dropzone.png"/>
                <input type="file" name="idproof1"  id="filePhoto_1" class="fPhotocc filePhoto_1"  data-id="filePhoto_1" data-imval="fileup_1" accept="image/jpeg,image/png,image/jpg" onchange="loadFile(event,'filePhoto_1')"/>
            </div>
            <input type="hidden" value="nodata" id="imageidf" name="imageidf">
            <%}%>
        </div>
    </div>
</div>
<div class="col-md-6 col-lg-3">
    <div class="card mb-3">
        <div class="card-header"><span class="">ID rückseite</span>
        <div class="btn-actions-pane-right actions-icon-btn">
            <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><% if (details[0].imageidb !="" && typeof(details[0].imageidb) !="undefined" && typeof(details[0].imageidb) !=null ){ %>

                    <i class="pe-7s-cloud-upload btn-icon-wrapper"></i><i class="pe-7s-trash btn-icon-wrapper removeImagefilegirls" data-deid="fileup_2" data-file="<%=details[0].imageidb%>" data-fileid="<%=app.locals.encrypt(details[0].id)%>"  data-id="filePhoto_2" data-hid="imageidb"> </i>
                    <%}else{%>

                    <i class="pe-7s-cloud-upload btn-icon-wrapper"></i><i class="pe-7s-trash btn-icon-wrapper removeImagefilegirls" data-deid="fileup_2" data-file="" data-fileid="" data-id="filePhoto_2" data-hid="imageidb"> </i>
                     <%}%></a>
        </div>
    </div>
    <div class="card-body">
        <% if (details[0].imageidb !="" && typeof(details[0].imageidb) !="undefined" && typeof(idproof[0].imageidb) !=undefined){ %>
        <div class="uploader-ss fileup_2" >
            
            <img src="<%= file_link_girls_fornt%><%=details[0].imageidb%>">
            <input type="file" name="idproof2"  id="filePhoto_2" class="fPhotocc filePhoto_2"  data-id="filePhoto_2" data-imval="fileup_2" accept="image/jpeg,image/png,image/jpg" onchange="loadFile(event,'filePhoto_2')"/>
        </div>
        <input type="hidden" value="<%=details[0].imageidb%>" id="imageidb" name="imageidb">
        <%}else{%>
        <div class="uploader-ss fileup_2" >
            <img src="../images/dropzone.png"/>
            <input type="file" name="idproof2"  id="filePhoto_2" class="fPhotocc filePhoto_2"  data-id="filePhoto_2" data-imval="fileup_2" accept="image/jpeg,image/png,image/jpg" onchange="loadFile(event,'filePhoto_2')"/>
        </div>
        <input type="hidden" value="nodata" id="imageidb" name="imageidb">
        <%}%>
    </div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="card mb-3">
    <div class="card-header"><span class="">Pass vorderseite</span>
    <div class="btn-actions-pane-right actions-icon-btn">
        <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><% if (details[0].imagepf !="" && typeof(details[0].imagepf) !="undefined" && typeof(details[0].imagepf) !=null ){ %>

                    <i class="pe-7s-cloud-upload btn-icon-wrapper"></i><i class="pe-7s-trash btn-icon-wrapper removeImagefilegirls" data-deid="fileup_3" data-file="<%=details[0].imagepf%>" data-fileid="<%=app.locals.encrypt(details[0].id)%>" data-id="filePhoto_3" data-hid="imagepf"> </i>
                    <%}else{%>

                    <i class="pe-7s-cloud-upload btn-icon-wrapper"></i><i class="pe-7s-trash btn-icon-wrapper removeImagefilegirls" data-deid="fileup_3" data-file="" data-fileid="" data-id="filePhoto_3" data-hid="imagepf"> </i>
                     <%}%></a>
    </div>
</div>
<div class="card-body">
    <% if (details[0].imagepf !="" && typeof(details[0].imagepf) !="undefined" && typeof(details[0].imagepf) !=undefined){ %>
    <div class="uploader-ss fileup_3" >
        
        <img src="<%= file_link_girls_fornt%><%=details[0].imagepf%>">
        <input type="file" name="idproof3"  id="filePhoto_3" class="fPhotocc filePhoto_3"  data-id="filePhoto_3" data-imval="fileup_3" accept="image/jpeg,image/png,image/jpg" onchange="loadFile(event,'filePhoto_3')"/>
    </div>
    <input type="hidden" value="<%=details[0].imagepf%>" id="imagepf" name="imagepf">
    <%}else{%>
    <div class="uploader-ss fileup_3" >
        <img src="../images/dropzone.png"/>
        <input type="file" name="idproof3"  id="filePhoto_3" class="fPhotocc filePhoto_3"  data-id="filePhoto_3" data-imval="fileup_3" accept="image/jpeg,image/png,image/jpg" onchange="loadFile(event,'filePhoto_3')"/>
    </div>
    <input type="hidden" value="nodata" id="imagepf" name="imagepf">
    <%}%>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="card mb-3">
<div class="card-header"><span class="">Pass rückseite</span>
<div class="btn-actions-pane-right actions-icon-btn">
     <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><% if (details[0].imagepb !="" && typeof(details[0].imagepb) !="undefined" && typeof(details[0].imagepb) !=null ){ %>

                    <i class="pe-7s-cloud-upload btn-icon-wrapper"></i><i class="pe-7s-trash btn-icon-wrapper removeImagefilegirls" data-deid="fileup_4" data-file="<%=details[0].imagepb%>" data-fileid="<%=app.locals.encrypt(details[0].id)%>" data-id="filePhoto_4" data-hid="imagepb"> </i>
                    <%}else{%>

                    <i class="pe-7s-cloud-upload btn-icon-wrapper"></i><i class="pe-7s-trash btn-icon-wrapper removeImagefilegirls" data-deid="fileup_4" data-file="" data-fileid="" data-id="filePhoto_4" data-hid="imagepb"> </i>
                     <%}%></a>
</div>
</div>
<div class="card-body">
<% if (details[0].imagepb !="" && typeof(details[0].imagepb) !="undefined" && typeof(details[0].imagepb) !=undefined){ %>
<div class="uploader-ss fileup_4" >
    
    <img src="<%= file_link_girls_fornt%><%=details[0].imagepb%>">
    <input type="file" name="idproof4"  id="filePhoto_4" class="fPhotocc filePhoto_4"  data-id="filePhoto_4" data-imval="fileup_4" accept="image/jpeg,image/png,image/jpg" onchange="loadFile(event,'filePhoto_4')"/>
</div>
<input type="hidden" value="<%=details[0].imagepb%>" id="imagepb" name="imagepb">
<%}else{%>
<div class="uploader-ss fileup_4" >
    <img src="../images/dropzone.png"/>
    <input type="file" name="idproof4"  id="filePhoto_4" class="fPhotocc filePhoto_4"  data-id="filePhoto_4" data-imval="fileup_4"  accept="image/jpeg,image/png,image/jpg" onchange="loadFile(event,'filePhoto_4')"/>
</div>
<input type="hidden" value="nodata" id="imagepb" name="imagepb">
<%}%>
</div>
</div>
</div>
</div>