
<%if(officedata.length>0){%>
<div class="mb-4">
    <h4>Office</h4>
</div>
<p>Bewilligung von <strong><%=officedata[0].startdate%></strong> - Bewilligung bis <strong><%=officedata[0].enddate%></strong> - Bewilligungsart <strong><%=officedata[0].idcard%></strong><%if(officedata[0].file!=""){%>
 <a href="<%= site_redirect_url %><%= file_link_girls_fornt%><%=officedata[0].file%>"><i class="fa fa-download"></i><span class=""> Download-Datei</span></a>
 <%}%></p>
<div class="mb-4 mt-5">
    <h4>Verlauf</h4>
</div>
<div class="vertical-timeline custom vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
    <%officedata.forEach(function(bapp,key){%>
    <%if(key!=0){%>
    <h6 class="timelin-date"><%=bapp.spdate%></h6>
    <div class="vertical-timeline-item vertical-timeline-element">
        <div>
            <div class="vertical-timeline-element-icon bounce-in">
                <i class="lnr-history"></i>
            </div>
            <div class="vertical-timeline-element-content bounce-in">
                <h4 class="timeline-title">
                    Bewilligung von <strong><%=bapp.startdate%></strong> - Bewilligung bis <strong><%=bapp.enddate%></strong> - Bewilligungsart <strong><%=bapp.idcard%></strong>
                    &nbsp;&nbsp;&nbsp;
                <%if(bapp.file!=""){%>
                
                <a href="<%= site_redirect_url %><%= file_link_girls_fornt%><%=bapp.file%>"><i class="fa fa-download"></i></a>
                <%}%>
                </h4>
                <span class="vertical-timeline-element-date"><%=bapp.sptime%></span>
            </div>
        </div>
    </div>
     <%}%>
   <% });%>
</div>
<%}%>