<script type="text/javascript">
var office_auth=1;
var namelistdata ="";
<% if(user.length!=""){
user.forEach(function(suser){%>
namelistdata+='<option value="<%= suser.id %>"> <%= suser.name %></option>';
<%});}%>
//console.log(namelistdata);
</script>
<div class="mb-4">
    <h4><span class="">Office</span></h4>
</div>
<div id="officeapprove" >
   
    <% if(officedata.length>0){
    officedata.forEach(function(officedata_data,key){
    office_authc = parseInt(key) + parseInt(1);
    apval =  parseInt(key) + parseInt(1);%>
    <script>
    office_auth = "<%=office_authc%>";
    
    </script>
    
    <div id="of<%= office_authc %>">
        <input type="hidden" name="oldid" id="oldid" value="<%=officedata_data.id%>">
        <input type="hidden" value="<%=officedata_data.file%>" id="old_file" name="old_file">

        <input type="hidden" name="officedata" id="officedata" value="<%=apval%>">
        <div class="form-row">
            <div class="col-lg-3 col-md-3">
                <div class="position-relative form-group">
                    <label for=""><span class="">Bewilligung von</span><span class="field-error mandatory"></span></label>
                    <input type="text" id="startdate<%=apval%>" name="startdate<%apval%>" value="<%=officedata_data.sdate%>" class="form-control" placeholder="Bewilligung von"  readonly>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="position-relative form-group">
                    <label for=""><span class="">Bewilligung bis</span><span class="field-error mandatory"></span></label>
                    <input type="text"  id="enddate<%=apval%>" name="enddate<%apval%>"  value="<%=officedata_data.edate%>" class="form-control" placeholder="Bewilligung bis" readonly>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="position-relative form-group">
                    <label for=""><span class="">Bewilligungsart</sapn><span class="field-error mandatory"></span></label>
                    <select type="select" id="permit<%=apval%>" name="permit<%apval%>" class="custom-select" readonly>
                        <% if(user.length!=""){
                        user.forEach(function(suser){%>
                        <option value="<%= suser.id %>" <%= (officedata_data.responsible) == suser.id ?'selected':''%>> <%= suser.name %> </option>
                        <%});}%>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
        <div class="position-relative form-group">
            <label for=""><span class="lang_Uploadfile">Datei hochladen</span></label>
            <input type="file" class="form-control" name="localDoc<%=apval%>" accept="application/pdf" >
        </div>
    </div>
            <% if(key==0){%>
            <div class="col-lg-2 col-md-2">
                <div class="position-relative form-group">
                    <label for="">&nbsp;</label>
                    <a href="javascript:;" class="btn btn-lg btn-block btn-primary officeauthAdd">hinzufügen</a>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <%});} else{%>
    <div id="of1">
        <input type="hidden" name="oldid" id="oldid" value="abc">
        <input type="hidden" name="officedata" id="officedata" value="1">
        <input type="hidden" value="nodata" id="old_file" name="old_file">
        <div class="form-row">
            <div class="col-lg-3 col-md-3">
                <div class="position-relative form-group">
                    <label for=""><span class="">Bewilligung von</span><span class="field-error mandatory"></span></label>
                    <input type="text" id="startdate1" name="startdate1" class="form-control swissSdate" placeholder="Bewilligung von" value="" readonly="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="position-relative form-group">
                    <label for=""><span class="">Bewilligung bis</span><span class="field-error mandatory"></span></label>
                    <input type="text"  id="enddate1" name="enddate1" class="form-control swissSdate" placeholder="Bewilligung bis" value="" readonly="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="position-relative form-group">
                    <label for=""><span class="">Bewilligungsart</sapn><span class="field-error mandatory"></span></label>
                    <select type="select" id="permit1" name="permit1" class="custom-select">
                        <%=user.length%>
                        <% if(user.length!=""){
                        user.forEach(function(suser){%>
                        <option value="<%= suser.id %>"> <%= suser.name %></option>
                        <%});}%>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
        <div class="position-relative form-group">
            <label for=""><span class="lang_Uploadfile">Datei hochladen</span></label>
            <input type="file" class="form-control" name="localDoc1" accept="application/pdf">
        </div>
    </div>
            <div class="col-lg-2 col-md-2">
                <div class="position-relative form-group">
                    <label for="">&nbsp;</label>
                    <a href="javascript:;" class="btn btn-lg btn-block btn-primary officeauthAdd">hinzufügen</a>
                </div>
            </div>
        </div>
    </div>
    <%}%>
</div>