<div class="mb-4">
    <h4>Privat</h4>
</div>
<div class="form-row">
    <div class="col-lg-12">
        <div class="card no-shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover mb-0">
                        <tr>
                            <td width="20%">Vorname</td>
                            <td><strong><%= typeof(details[0].first_name)!="undefined" && details[0].first_name!="" ? details[0].first_name:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Nachname</td>
                            <td><strong><%= typeof(details[0].last_name)!="undefined" && details[0].last_name!="" ? details[0].last_name:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Zivilstand</td>
                            <td><strong><%= typeof(details[0].civilstatus)!="undefined" && details[0].civilstatus!="" ? details[0].civilstatus:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Geburtsdatum</td>
                            <td><strong><%= typeof(details[0].dob)!="undefined" && details[0].dob!="" ? details[0].dob:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Nationalität</td>
                            <td><strong><%= typeof(details[0].nationality)!="undefined" && details[0].nationality!="" ? details[0].nationality:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Kinder</td>
                            <td><strong><%= typeof(details[0].childern)!="undefined" && details[0].childern!="" ? details[0].childern:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td><strong><%= typeof(details[0].address)!="undefined" && details[0].address!="" ? details[0].address:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>PLZ</td>
                            <td><strong><%= typeof(details[0].postcode)!="undefined" && details[0].postcode!="" ? details[0].postcode:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Ort</td>
                            <td><strong><%= typeof(details[0].place)!="undefined" && details[0].place!="" ? details[0].place:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Land</td>
                            <td><strong><%= typeof(details[0].land)!="undefined" && details[0].land!="" ? details[0].land:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Tel</td>
                            <td><strong><%= typeof(details[0].mobile)!="undefined" && details[0].mobile!="" ? details[0].mobile:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>E-Mail</td>
                            <td><strong><%= typeof(details[0].email)!="undefined" && details[0].email!="" ? details[0].email:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Whatsapp</td>
                            <td><strong><%= typeof(details[0].whatsapp)!="undefined" && details[0].whatsapp!="" ? details[0].whatsapp:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Facebook ID</td>
                            <td><strong><%= typeof(details[0].facebook)!="undefined" && details[0].facebook!="" ? details[0].facebook:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Instagram ID</td>
                            <td><strong><%= typeof(details[0].instagram)!="undefined" && details[0].instagram!="" ? details[0].instagram:'-'%></strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>