<div class="mb-4">
    <h4><span>Privat</span></h4>
</div>
<div class="form-row">
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Vorname</span><span class="field-error mandatory"></label>
            <input type="text" id="first_name" name="first_name" class="form-control" value="<%= typeof(details[0].first_name)!="undefined" && details[0].first_name!="" ? details[0].first_name:''; %>" placeholder="Vorname">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Nachname</span><span class="field-error mandatory"></label>
            <input type="text" id="last_name" name="last_name" class="form-control" value="<%= typeof(details[0].last_name)!="undefined" && details[0].last_name!="" ? details[0].last_name:''; %>" placeholder="Nachname">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Zivilstand</span><span class="field-error mandatory"></label>

            <select type="select" id="civilstatus" name="civilstatus" class="custom-select">
                <option value="">wählen</option>
                <%if(civilstatus.length>0){
                civilstatus.forEach(function(cvdata){%>
                <option value="<%= cvdata.civilstatus%>" <%= (details[0].civilstatus)==cvdata.civilstatus?'selected':''%> ><%= cvdata.civilstatus%></option>
                <%});}%>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Geburtsdatum</span><span class="field-error mandatory"></label>
            <input type="text" id="dob" name="dob" class="form-control swissSdate" value="<%= typeof(details[0].dob)!="undefined" && details[0].dob!="" ? details[0].dob:''; %>" readonly>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Nationalität</span><span class="field-error mandatory"></label>
            <select type="select" id="snationality" name="snationality" class="custom-select">
                <option value="">wählen</option>
                <%if(nationality.length>0){
                nationality.forEach(function(pndata){%>
                <option value="<%= pndata.nationality%>" <%= (details[0].pnationality)==pndata.nationality?'selected':''%> ><%= pndata.nationality%></option>
                <%});}%>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Kinder </span><span class="field-error mandatory"></label>
            <select type="select" id="children" name="children" class="custom-select">
                <option value="">wählen</option>
                <option value="Ja" <%= (details[0].children)=="Ja"?'selected':''%>>Ja</option>
                <option value="Nein" <%= (details[0].children)=="Nein"?'selected':''%>>Nein</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Tel</span><span class="field-error mandatory"></label>
            <input type="tel" id="mobile" name="mobile" class="form-control" value="<%= typeof(details[0].mobile)!="undefined" && details[0].mobile!="" ? details[0].mobile:''; %>">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">E-Mail</span><span class="field-error mandatory"></label>
            <input type="email" id="email" name="email" class="form-control" value="<%= typeof(details[0].email)!="undefined" && details[0].email!="" ? details[0].email:''; %>">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Adresse</span><span class="field-error mandatory"></label>
            <input type="text" id="address" name="address" class="form-control" value="<%= typeof(details[0].address)!="undefined" && details[0].address!="" ? details[0].address:''; %>">
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
    <div id="addressDetails" style="<%= details[0].address? 'display:block' : 'display:none' %>">
    <div class="form-row">
        <div class="col-lg-4 col-md-4">
            <div class="position-relative form-group">
                <label for=""><span class="">PLZ</span><span class="field-error mandatory"></label>
                <input type="text" id="postcode" name="postcode" class="form-control" value="<%= typeof(details[0].postcode)!="undefined" && details[0].postcode!="" ? details[0].postcode:''; %>">
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="position-relative form-group">
                <label for=""><span class="">Ort</span><span class="field-error mandatory"></label>
                <input type="text" id="place" name="place" class="form-control" value="<%= typeof(details[0].place)!="undefined" && details[0].place!="" ? details[0].place:''; %>">
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="position-relative form-group">
                <label for=""><span class="">Land</span><span class="field-error mandatory"></label>
                <input type="text" id="land" name="land" class="form-control" value="<%= typeof(details[0].land)!="undefined" && details[0].land!="" ? details[0].land:''; %>">
            </div>
        </div>
    </div>
    </div>
    </div>
    
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Whatsapp</span><span class="field-error mandatory"></label>
            <input type="text" id="whatsapp" name="whatsapp" class="form-control" value="<%= typeof(details[0].whatsapp)!="undefined" && details[0].whatsapp!="" ? details[0].whatsapp:''; %>">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Facebook ID</span><span class="field-error mandatory"></label>
            <input type="text" id="facebook" name="facebook" class="form-control" value="<%= typeof(details[0].facebook)!="undefined" && details[0].facebook!="" ? details[0].facebook:''; %>">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Instagram ID</span><span class="field-error mandatory"></label>
            <input type="text" id="instagram" name="instagram" class="form-control" value="<%= typeof(details[0].instagram)!="undefined" && details[0].instagram!="" ? details[0].instagram:''; %>">
        </div>
    </div>
    
</div>