<div class="mb-4">
    <h4>Profile</h4>
</div>
<div class="form-row">
    <div class="col-lg-6">
        <div class="card no-shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover mb-0">
                        <tr>
                            <td width="25%">Alter</td>
                            <td><strong><%= typeof(details[0].age)!="undefined" && details[0].age!="" ? details[0].age:'-'%></strong></td>
                            <td width="25%">Intimbereich</td>
                            <td><strong><%= typeof(details[0].privatpart)!="undefined" && details[0].privatpart!="" ? details[0].privatpart:''%></strong></td>
                        </tr>
                        <tr>
                            <td>Grösse</td>
                            <td><strong><%= typeof(details[0].size)!="undefined" && details[0].size!="" ? details[0].size:''%></strong></td>
                            <td>Tattoo</td>
                            <td><strong><%= typeof(details[0].tattoo)!="undefined" && details[0].tattoo!="" ? details[0].tattoo:''%></strong></td>
                        </tr>
                        <tr>
                            <td>Gewicht</td>
                            <td><strong><%= typeof(details[0].weight)!="undefined" && details[0].weight!="" ? details[0].weight:''%></strong></td>
                            <td>Rauen</td>
                            <td><strong><%= typeof(details[0].smoke)!="undefined" && details[0].smoke!="" ? details[0].smoke:''%></strong></td>
                        </tr>
                        <tr>
                            <td>Haare</td>
                            <td><strong><%= typeof(details[0].hair)!="undefined" && details[0].hair!="" ? details[0].hair:'-'%></strong></td>
                            <td>Alkohol</td>
                            <td><strong><%= typeof(details[0].alcohol)!="undefined" && details[0].alcohol!="" ? details[0].alcohol:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Augen</td>
                            <td><strong><%= typeof(details[0].eyes)!="undefined" && details[0].eyes!="" ? details[0].eyes:''%></strong></td>
                            <td>Nationalität</td>
                            <td><strong><%= typeof(details[0].nationality)!="undefined" && details[0].nationality!="" ? details[0].nationality:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Oberweite</td>
                            <td><strong><%= typeof(details[0].bust)!="undefined" && details[0].bust!="" ? details[0].bust:'-'%></strong></td>
                            <td>Sprachen</td>
                            <td><strong><%= typeof(details[0].language)!="undefined" && details[0].language!="" ? details[0].language:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Konfektion</td>
                            <td><strong><%= typeof(details[0].readymadecloth)!="undefined" && details[0].readymadecloth!="" ? details[0].readymadecloth:'-'%></strong></td>
                            <td>Escort</td>
                            <td><strong><%= typeof(details[0].escort)!="undefined" && details[0].escort!="" ? details[0].escort:'-'%></strong></td>
                        </tr>
                        <tr>
                            <td>Schuhe</td>
                            <td><strong><%= typeof(details[0].shoes)!="undefined" && details[0].shoes!="" ? details[0].shoes:'-'%></strong></td>
                            <td>&nbsp;</td>
                            <td><strong>&nbsp;</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-6">
        <div class="card no-shadow">
            <div class="card-body scroll-area-md">
                <div class="scrollbar-container ps--active-y ps">
                    <h5>Über mich</h5>
                    <p><%= typeof(details[0].aboutme)!="undefined" && details[0].aboutme!="" ? details[0].aboutme:''%></p>
                    <div class="divider"></div>
                    <h5>Services</h5>
                    <div class="service-list">
                        <ul>
                         <% if(servicedata.length>0){
                    servicedata.forEach(function(stypedata)
                    { if(stypedata.servicecount>0){%>
                    <li><%=stypedata.service%></li>
                    
                    <%} });}%>
                    </ul>
                    </div>
                    <div class="divider"></div>
                    <h5>Extras</h5>
                    <div class="extra-list">
                        <ul>
                          <% if(extradata.length>0){
                    extradata.forEach(function(etypedata){
                    if(etypedata.extracount>0){%>
                     <li><%=etypedata.extra%></li>
                    <%} });}%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>