<% var cars = ["New", "Top", "Escort"];%>
<%pinv=new Array();
pinv=getUniqueArray(arrayColumn(pindata,'pin'));
console.log(pin);
console.log(pindata);
%>
<!-- if(inArray('2',submoduleAccess) || global.sessionUser['user_role']==1) -->
    <div class="mb-4">
        <h4>Profile</h4>
    </div>
    <div class="form-row">
        <div class="col-lg-12 col-md-12">
            <div class="position-relative form-group">
                <label for=""><span class="">Profilname</span><span class="field-error mandatory"></span></label>
                <input type="text" id="profilename" name="profilename" value="<%= typeof(details[0].profilename)!="undefined" && details[0].profilename!="" ? details[0].profilename:''; %>"class="form-control" placeholder="Profilname">
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="position-relative form-group">
                <label for=""><span class="">Anstecknadel</span><span class="field-error mandatory"></span></label>
                <select multiple="multiple" id="pin" name="pin" class="multiselect-dropdown form-control">
                    <optgroup label="">
                    <% if(pindata.length>0){
                    pindata.forEach(function(ptypedata){%>
                    <%pin.forEach(function(ptype){%>
                    <option value="<%=ptype.pin%>" <%= (ptypedata.pin) == ptype.pin?'selected':'' %> ><%=ptype.pin%></option>
                    <% });});}else{%>
                    <%if(pin.length>0){
                    pin.forEach(function(ptype){%>
                    <option value="<%=ptype.pin%>"><%=ptype.pin%></option>
                    <%});}}%>
                    
                        
                    </optgroup>
                </select>
            </div>
            <input type="hidden" name="editid" id="editid" value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>" />
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="position-relative form-group">
                <label for=""><span class="">Alter</span><span class="field-error mandatory"></span></label>
                <input type="text" id="age" name="age" value="<%= typeof(details[0].age)!="undefined" && details[0].age!="" ? details[0].age:''; %>"class="form-control" placeholder="Alter">
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="position-relative form-group">
                <label for=""><span class="">Grösse (CM)<span class="field-error mandatory"></span></span>
            </label>
            <input type="text" id="gsize" name="gsize" value="<%= typeof(details[0].size)!="undefined" && details[0].size!="" ? details[0].size:''; %>"class="form-control" placeholder="Grösse">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Gewicht (KG)</span><span class="field-error mandatory"></span></label>
            <input type="text" d="weight" name="weight" class="form-control" value="<%= typeof(details[0].last_name)!="undefined" && details[0].weight!="" ? details[0].weight:''; %>" placeholder="Gewicht">
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Haare</span><span class="field-error mandatory"></span></label>
            <select type="select" id="hair" name="hair" class="custom-select">
                <option value="">wählen</option>
                <%if(hair.length>0){
                hair.forEach(function(hdata){%>
                <option value="<%= hdata.hair%>" <%= (details[0].hair)==hdata.hair?'selected':''%> ><%= hdata.hair%></option>    
                <%});}%>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Augen</span><span class="field-error mandatory"></span></label>
            <select type="select" id="eyes" name="eyes" class="custom-select">
                <option value="">wählen</option>
              <%if(eyes.length>0){
                eyes.forEach(function(edata){%>
                <option value="<%= edata.eyes%>" <%= (details[0].eyes)==edata.eyes?'selected':''%> ><%= edata.eyes%></option>    
                <%});}%>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Oberweite 

</span><span class="pull-right"><div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="natur" value="natur" name="oberweite" <%= details[0].oberweitetype=="natur" ? 'checked':''; %>>
    <label class="form-check-label" for="natur">Natur</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="silikon" value="silikon" name="oberweite" <%= details[0].oberweitetype=="silikon" ? 'checked':''; %>>
    <label class="form-check-label" for="silikon">Silikon</label>
  </div></span></label>

            <select type="select" id="bust" name="bust" class="custom-select">
                 <option value="">wählen</option>
              <%if(bust.length>0){
                bust.forEach(function(bdata){%>
                <option value="<%= bdata.bust%>" <%= (details[0].bust)==bdata.bust?'selected':''%> ><%= bdata.bust%></option>    
                <%});}%>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Konfektion</span><span class="field-error mandatory"></span></label>
            <select type="select" id="readymadecloth" name="readymadecloth" class="custom-select">
                <option value="">wählen</option>
              <%if(cloth.length>0){
                cloth.forEach(function(cdata){%>
                <option value="<%= cdata.cloth%>" <%= (details[0].readymadecloth)==cdata.cloth?'selected':''%> ><%= cdata.cloth%></option>    
                <%});}%>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Schuhe</span><span class="field-error mandatory"></span></label>
            <select type="select" id="shoes" name="shoes" class="custom-select">
                 <option value="">wählen</option>
                <%if(shoes.length>0){
                shoes.forEach(function(sdata){%>
                <option value="<%= sdata.shoes%>" <%= (details[0].shoes)==sdata.shoes?'selected':''%> ><%= sdata.shoes%></option>    
                <%});}%>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Intimbereich</span><span class="field-error mandatory"></span></label>
           <select type="select" id="privatepart" name="privatepart" class="custom-select">
            <option value="">wählen</option>
              <%if(privatepart.length>0){
                privatepart.forEach(function(pvdata){%>
                <option value="<%= pvdata.privatepart%>" <%= (details[0].privatepart)==pvdata.privatepart?'selected':''%> ><%= pvdata.privatepart%></option>    
                <%});}%>
               
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Tattoo</span><span class="field-error mandatory"></span></label>
            <select type="select" id="tattoo" name="tattoo" class="custom-select">
                <option value="">wählen</option>
                <option value="Ja" <%= (details[0].tattoo)=="Ja"?'selected':''%>>Ja</option>
                <option value="Nein"<%= (details[0].tattoo)=="Nein"?'selected':''%>>Nein</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Rauchen</span><span class="field-error mandatory"></span></label>
            <select type="select" id="smoke" name="smoke" class="custom-select">
                <option value="">wählen</option>
                <option value="Ja" <%= (details[0].smoke)=="Ja"?'selected':''%>>Ja</option>
                <option value="Nein" <%= (details[0].smoke)=="Nein"?'selected':''%>>Nein</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Alkohol</span><span class="field-error mandatory"></span></label>
            <select type="select" id="alcohol" name="alcohol" class="custom-select">
                <option value="">wählen</option>
                <option value="Ja" <%= (details[0].alcohol)=="Ja"?'selected':''%>>Ja</option>
                <option value="Nein" <%= (details[0].alcohol)=="Nein"?'selected':''%>>Nein</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Nationalität</span><span class="field-error mandatory"></span></label>
            <select type="select" id="nationality" name="nationality" class="custom-select">
                <option value="">wählen</option>
                <%if(nationality.length>0){
                nationality.forEach(function(ndata){%>
                <option value="<%= ndata.nationality%>" <%= (details[0].nationality)==ndata.nationality?'selected':''%> ><%= ndata.nationality%></option>    
                <%});}%>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="position-relative form-group">
            <label for=""><span class="">Escort</span><span class="field-error mandatory"></span></label>
            <select type="select" id="escort" name="escort" class="custom-select">
                <option value="">wählen</option>
                <option value="Ja" <%= (details[0].escort)=="Ja"?'selected':''%>>Ja</option>
                <option value="Nein" <%= (details[0].escort)=="Nein"?'selected':''%>>Nein</option>
            </select>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="position-relative form-group">
            <label for=""><span class="">Über mich</span><span class="field-error mandatory"></span></label>
            <textarea class="form-control" id="aboutme" name="aboutme" rows="4"><%= typeof(details[0].aboutme)!="undefined" && details[0].aboutme!="" ? details[0].aboutme:''; %></textarea>
        </div>
    </div>
    <!-- <div class="col-lg-12 col-md-12">
        <div class="position-relative form-group">
            <label for=""><span class="">Services</span><span class="field-error mandatory"></span></label>
            <select multiple="multiple" id="servicetype" name="servicetype" class="multiselect-dropdown form-control">
                <optgroup label="">
                    <% if(servicedata.length>0){
                    servicedata.forEach(function(stypedata){%>
                    <%servicetype.forEach(function(stype){%>
                    <option value="<%=stype.id%>" <%= (stypedata.service) == stype.id?'selected':'' %> ><%=stype.service%></option>
                    <% });});}else{%>
                    <%if(servicetype.length>0){
                    servicetype.forEach(function(stype){%>
                    <option value="<%=stype.id%>"><%=stype.service%></option>
                    <%});}}%>
                </optgroup>
                
            </select>
        </div>
    </div> -->
    <div class="col-lg-12 col-md-12 mb-3">
         <label for="" class="form-group">
            <input  type="hidden" id="ssid"><span class="">Services </span>  <span class="field-error mandatory"></span></label>
        <div class="row">
       <% if(servicedata.length>0){%>
        <div class="col-lg-3">
          <label class="form-check">
              <input class="form-check-input serviceselect" type="checkbox"  value="" <% if((servicedata.length) == (servicedata[0].sgirlscount)){ %> checked <% }else{ %> <% }%>>alle
            </label>
        </div> 
           <%servicedata.forEach(function(stypedata){%>
           <div class="col-lg-3">
                <label class="form-check">
                  <input class="form-check-input serviceselectcase" type="checkbox" name="servicetype"value="<%=stypedata.id%>" <%=stypedata.servicecount>0 ? "checked":''; %>><%=stypedata.service%>
                </label>
            </div>
            <%});}else{%>
            <div class="col-lg-3">
                <label class="form-check form-check-inline">
                  <input class="form-check-input serviceselect" type="checkbox"  value="" >alle
                </label>
            </div>
             <%servicetype.forEach(function(stype){%>
             <div class="col-lg-3">
                 <label class="form-check">
                  <input class="form-check-input serviceselectcase" type="checkbox" name="servicetype"value="<%=stype.id%>"><%= stype.service %>
                </label>
            </div>
            <%});}%>
         </div>
        
    </div>
    <!-- <div class="col-lg-12 col-md-12">
        <div class="position-relative form-group">
            <label for=""><span class="">Extras</span><span class="field-error mandatory"></span></label>
            <select multiple="multiple" id="extratype" name="extratype" class="multiselect-dropdown form-control" >
                <optgroup label="">
                    <% if(extradata.length>0){
                    extradata.forEach(function(etypedata){%>
                    <%extratype.forEach(function(etype){%>
                    <option value="<%=etype.id%>" <%= (etypedata.extra) == etype.id?'selected':'' %> ><%=etype.extra%></option>
                    <% });});}else{%>
                    <%if(extratype.length>0){
                    extratype.forEach(function(etype){%>
                    <option value="<%=etype.id%>"><%=etype.extra%></option>
                    <%});}}%>
                </optgroup>
            </select>
        </div>
    </div> -->
    <div class="col-lg-12 col-md-12 mb-3">
        <label for="" class="form-group"><input  type="hidden" id="eeid"><span class="">Extra </span>  <span class="field-error mandatory"></span></label>
        <div class="row">
        <% if(extradata.length>0){%>
        <div class="col-lg-3">
          <label class="form-check">
              <input class="form-check-input extraselect" type="checkbox" value="" <% if((extradata.length) == (extradata[0].egirlscount)){ %> checked <% }else{ %> <% }%> >alle
            </label>
        </div>
            
            <%extradata.forEach(function(etypedata){%>
        <div class="col-lg-3">
            <label class="form-check">
              <input class="form-check-input extraselectcase" type="checkbox" name="extratype" value="<%=etypedata.id%>" <%=etypedata.extracount>0 ? "checked":''; %>><%=etypedata.extra%>
            </label>
        </div>
            <%});}else{%>
        <div class="col-lg-3">
            <label class="form-check">
              <input class="form-check-input extraselect" type="checkbox" value=""  >alle
            </label>
        </div>
             <%extratype.forEach(function(etype){%>
        <div class="col-lg-3">
             <label class="form-check">
              <input class="form-check-input extraselectcase" type="checkbox" name="extratype"value="<%=etype.id%>"><%= etype.extra %>
            </label>
        </div>
            <%});}%>
         </div>
        
    </div>
  
</div>
