<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-users"></i> Girls</div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <form id="girlForm">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title">Hinzufügen</div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="/girls" class="btn btn-secondary">Zurück</a>
                                    <a href="javascript:;" class="btn btn-success girlSubmit">Speichern</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <ul class="nav">
                                <li class="nav-item"><a data-toggle="tab" href="#profile" class="nav-link active show">Profile</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#office" class="nav-link show">Office</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#gallery" class="nav-link show">Gallery</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#privat" class="nav-link show">Privat</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#id" class="nav-link show">ID</a></li>
                            </ul>
                        </div>
                        <div class="card-body bg-grey">
                            <div class="tab-content">
                                
                                <div class="tab-pane active show" id="profile" role="tabpanel">
                                     <% include ../../girls-templates/profile %>
                                    <!-- <div class="mb-4">
                                        <h4>Profile</h4>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Anstecknadel</span><span class="field-error mandatory"></label>
                                                <select multiple="multiple" id="pin" name="pin" class="multiselect-dropdown form-control">
                                                    <optgroup label="Choose">
                                                        <option value="New">New</option>
                                                        <option value="Top">Top</option>
                                                        <option value="Escort">Escort</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Alter</span><span class="field-error mandatory"></label>
                                                <input type="text" id="age" name="age" value="<%= typeof(details[0].age)!="undefined" && details[0].age!="" ? details[0].age:''; %>"class="form-control" placeholder="Alter">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Grösse (CM)<span class="field-error mandatory"></span>
                                                </label>
                                                <input type="text" id="gsize" name="gsize" value="<%= typeof(details[0].gsize)!="undefined" && details[0].gsize!="" ? details[0].gsize:''; %>"class="form-control" placeholder="Grösse">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Gewicht (KG)</span><span class="field-error mandatory"></label>
                                                <input type="text" d="weight" name="weight" class="form-control" value="<%= typeof(details[0].last_name)!="undefined" && details[0].weight!="" ? details[0].weight:''; %>" placeholder="Gewicht">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Haare</span><span class="field-error mandatory"></label>
                                                <select type="select" id="hair" name="hair" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Augen</span><span class="field-error mandatory"></label>
                                                <select type="select" id="eyes" name="eyes" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Oberweite<span class="field-error mandatory"></span></label>
                                                <input type="text" value="<%= typeof(details[0].bust)!="undefined" && details[0].bust!="" ? details[0].bust:''; %>"id="bust" name="bust" class="form-control" value="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Konfektion<span class="field-error mandatory"></span></label>
                                                <select type="select" id="readymadecloth" name="readymadecloth" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Schuhe</span><span class="field-error mandatory"></label>
                                                <select type="select" id="shoes" name="shoes" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Intimbereich</span><span class="field-error mandatory"></label>
                                                <input type="text" id="privatepart" name="privatepart" class="form-control" value="<%= typeof(details[0].privatepart)!="undefined" && details[0].privatepart!="" ? details[0].privatepart:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Tattoo</span><span class="field-error mandatory"></label>
                                                <select type="select" id="tattoo" name="tattoo" class="custom-select">
                                                    <option value="">Ja</option>
                                                    <option value="">Nein</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Rauen</span><span class="field-error mandatory"></label>
                                                <select type="select" id="smoke" name="smoke" class="custom-select">
                                                    <option value="">Ja</option>
                                                    <option value="">Nein</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Alkohol</span><span class="field-error mandatory"></label>
                                                <select type="select" id="alcohol" name="alcohol" class="custom-select">
                                                    <option value="">Ja</option>
                                                    <option value="">Nein</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Nationalität</span><span class="field-error mandatory"></label>
                                                <select type="select" id="nationality" name="nationality" class="custom-select">
                                                    <option value="">German</option>
                                                    <option value="">English</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Escort</span><span class="field-error mandatory"></label>
                                                <select type="select" id="escort" name="escort" class="custom-select">
                                                    <option value="">Ja</option>
                                                    <option value="">Nein</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Über mich</span><span class="field-error mandatory"></label>
                                                <textarea class="form-control" id="aboutme" name="aboutme" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Services</span><span class="field-error mandatory"></label>
                                                <select multiple="multiple" id="servicetype" name="servicetype" class="multiselect-dropdown form-control">
                                                    <optgroup label="Services">
                                                        <% if(servicetype.length!=""){
                                                         servicetype.forEach(function(stype){%>
                                                    <option value="<%= stype.id %>"> <%= stype.service %> </option>
                                                    <%});}%>
                                                    </optgroup>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Extras</span><span class="field-error mandatory"></label>
                                                <select multiple="multiple" id="extratype" name="extratype" class="multiselect-dropdown form-control">
                                                    <optgroup label="Extras Group">
                                                           <% if(extratype.length!=""){
                                                         extratype.forEach(function(etype){%>
                                                    <option value="<%= etype.id %>"> <%= etype.extra %> </option>
                                                    <%});}%>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="tab-pane show" id="office" role="tabpanel">
                                    <div class="mb-4">
                                        <h4>Office</h4>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-3 col-md-3">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Bewilligung von</span><span class="field-error mandatory"></label>
                                                <input type="date" id="startdate" name="startdate" class="form-control" placeholder="Bewilligung von" value="13.11.2018">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Bewilligung bis</span><span class="field-error mandatory"></label>
                                                <input type="date"  id="enddate" name="enddate" class="form-control" placeholder="Bewilligung bis" value="12.11.2019">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><sapn>Bewilligungsart</sapn><span class="field-error mandatory"></label>
                                                <select type="select" id="permit" name="permit" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2">
                                            <div class="position-relative form-group">
                                                <label for="">&nbsp;</label>
                                                <a href="javascript:;" class="btn btn-lg btn-block btn-primary">hinzufügen</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane show" id="gallery" role="tabpanel">
                                    <div class="mb-4">
                                        <h4><span>Gallery</span> <a href="#" class="btn-icon btn-sm btn btn-primary pull-right"><i class="pe-7s-plus btn-icon-wrapper"> </i><span>hinzufügen</span></a></h4>
                                    </div>
                                    <a href="javascript:;">
                                        <div class="upload-lg"></div>
                                    </a>
                                    
                                </div>
                                <div class="tab-pane show" id="privat" role="tabpanel">
                                    <div class="mb-4">
                                        <h4><span>Privat</span></h4>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Vorname</span><span class="field-error mandatory"></label>
                                                <input type="text" id="first_name" name="first_name" class="form-control" value="<%= typeof(details[0].first_name)!="undefined" && details[0].first_name!="" ? details[0].first_name:''; %>" placeholder="Vorname">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Nachname</span><span class="field-error mandatory"></label>
                                                <input type="text" id="last_name" name="last_name" class="form-control" value="<%= typeof(details[0].last_name)!="undefined" && details[0].last_name!="" ? details[0].last_name:''; %>" placeholder="Nachname">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Zivilstand</span><span class="field-error mandatory"></label>
                                                <select type="select" id="civilstatus" name="civilstatus" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Geburtsdatum</span><span class="field-error mandatory"></label>
                                                <input type="date" id="dob" name="dob" class="form-control" value="<%= typeof(details[0].dob)!="undefined" && details[0].dob!="" ? details[0].dob:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Nationalität</span><span class="field-error mandatory"></label>
                                                <select type="select" id="snationality" name="snationality" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Kinder</span><span class="field-error mandatory"></label>
                                                <select type="select" id="childern" name="childern" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Adresse</span><span class="field-error mandatory"></label>
                                                <input type="text" id="address" name="address" class="form-control" value="<%= typeof(details[0].address)!="undefined" && details[0].address!="" ? details[0].address:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>PLZ</span><span class="field-error mandatory"></label>
                                                <input type="text" id="postcode" name="postcode" class="form-control" value="<%= typeof(details[0].postcode)!="undefined" && details[0].postcode!="" ? details[0].postcode:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Ort</span><span class="field-error mandatory"></label>
                                                <input type="text" id="place" name="place" class="form-control" value="<%= typeof(details[0].place)!="undefined" && details[0].place!="" ? details[0].place:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Land</span><span class="field-error mandatory"></label>
                                                <select type="select" id="land" name="land" class="custom-select">
                                                    <option value="">Choose</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Tel</span><span class="field-error mandatory"></label>
                                                <input type="tel" id="mobile" name="mobile" class="form-control" value="<%= typeof(details[0].mobile)!="undefined" && details[0].mobile!="" ? details[0].mobile:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>E-Mail</span><span class="field-error mandatory"></label>
                                                <input type="email" id="email" name="email" class="form-control" value="<%= typeof(details[0].email)!="undefined" && details[0].email!="" ? details[0].email:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Whatsapp</span><span class="field-error mandatory"></label>
                                                <input type="text" id="whatsapp" name="whatsapp" class="form-control" value="<%= typeof(details[0].whatsapp)!="undefined" && details[0].whatsapp!="" ? details[0].whatsapp:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Facebook ID</span><span class="field-error mandatory"></label>
                                                <input type="text" id="facebook" name="facebook" class="form-control" value="<%= typeof(details[0].facebook)!="undefined" && details[0].facebook!="" ? details[0].facebook:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span>Instagram ID</span><span class="field-error mandatory"></label>
                                                <input type="text" id="instagram" name="instagram" class="form-control" value="<%= typeof(details[0].instagram)!="undefined" && details[0].instagram!="" ? details[0].instagram:''; %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane show" id="id" role="tabpanel">
                                    <div class="mb-4">
                                        <h4>ID</h4>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="card mb-3">
                                                <div class="card-header"><sapn>ID vorderseite</sapn>
                                                    <div class="btn-actions-pane-right actions-icon-btn">
                                                        <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-cloud-upload btn-icon-wrapper"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <a href="javascript:;">
                                                        <div class="upload-md"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="card mb-3">
                                                <div class="card-header"><sapn>ID rückseite</sapn>
                                                    <div class="btn-actions-pane-right actions-icon-btn">
                                                        <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-cloud-upload btn-icon-wrapper"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <a href="javascript:;">
                                                        <div class="upload-md"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="card mb-3">
                                                <div class="card-header"><span>Pass vorderseite</span>
                                                    <div class="btn-actions-pane-right actions-icon-btn">
                                                        <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-cloud-upload btn-icon-wrapper"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <a href="javascript:;">
                                                        <div class="upload-md"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="card mb-3">
                                                <div class="card-header"><span>Pass rückseite</span>
                                                    <div class="btn-actions-pane-right actions-icon-btn">
                                                        <a href="javascript:;" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-cloud-upload btn-icon-wrapper"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <a href="javascript:;">
                                                        <div class="upload-md"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-block text-right card-footer">
                            <a href="/girls" class="btn btn-secondary">Zurück</a>
                            <a href="javascript:;" class="btn btn-success girlSubmit">Speichern</a>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>