<% include ../../templates/header %>
<style type="text/css">




</style>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-users"></i><span class=""> Girls</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                
                <div class="col-md-12 col-lg-12">
                    <form id="girlForm" encType="multipart/form-data">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title"><span class="">Girls</span></div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="/girls" class="btn btn-secondary">Zurück</a>
                                    <a href="javascript:;" class="btn btn-success girlSubmit">Speichern</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <ul class="nav" id="mtab">
                                <li class="nav-item profileval"><a data-toggle="tab" href="#profile" class="nav-link active "><span class="">Profile</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#office" class="nav-link "><span class="">Office</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#gallery" class="nav-link "><span class="">Gallery</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#privat" class="nav-link "><span class="">Privat</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#id" class="nav-link ">ID</a></li>
                            </ul>
                        </div>
                        
                        <div class="card-body bg-grey">
                            <div class="tab-content">
                                
                                <div class="tab-pane active show" id="profile" role="tabpanel">
                                     <% include ../../girls-templates/profile %>
                                    
                                </div>
                                <div class="tab-pane show" id="office" role="tabpanel">
                                   <% include ../../girls-templates/office %>
                                </div>
                                <div class="tab-pane show" id="gallery" role="tabpanel">
                                   <% include ../../girls-templates/gallery %>
                                    
                                </div>
                                <div class="tab-pane show" id="privat" role="tabpanel">
                                   <% include ../../girls-templates/private %>
                                </div>
                                <div class="tab-pane show" id="id" role="tabpanel">
                                      <% include ../../girls-templates/idproof %>
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-block text-right card-footer">
                            <a href="/girls" class="btn btn-secondary">Zurück</a>
                            <a href="javascript:;" class="btn btn-success girlSubmit">Speichern</a>
                        </div>
                    </div>
                </form>
                </div>
            
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>