<% include ../../templates/header %>
<div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div><i class="header-icon lnr-users"></i><span class=""> Girls</span></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tabs-animation">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="mb-3 card">
                                    <div class="fixed-card-header" id="FixedCardHeader">
                                        <div class="card-header">
                                            <div class="card-header-title"><span class=""> Girls</span></div>
                                            <div class="btn-actions-pane-right actions-icon-btn">
                                                <a href="addgirls" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                                <a data-toggle="collapse" href="#show-filter"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
                                            </div>
                                        </div>
                                        <div class="collapse" id="show-filter">
                                            <div class="box">
                                                <div class="form-row">
                                                    <div class="col-lg-2 col-md-4">
                                                        <div class="position-relative form-group">
                                                            <label for="" class=""><span class="">Girl Name </span></label>
                                                            <select type="select" id="vcgirls" name="vcgirls" class="multiselect-dropdown">
                                                            <option value="all">Alle</option>
                                                             <% if(details.length>0){
                                                             details.forEach(function(tdata){%>
                                                             <option value="<%= tdata.first_name%><%= tdata.last_name%>"><%= tdata.first_name%><%= tdata.last_name%></option>

                                                             <%});}%>
                                                        </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4">
                                                        <div class="position-relative form-group">
                                                            <label for="" class=""><span class="">Anstecknadel</span></label>
                                                            <select type="select" id="vcpin" name="vcpin" class="custom-select">
                                                                <option value="all">Alle</option>
                                                                <option value="New">New</option>
                                                                <option value="Top">Top</option>
                                                                <option value="Escort">Escort</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4">
                                                        <div class="position-relative form-group">
                                                            <label for="" class=""><span class="">Filiale</span></label>
                                                            <select type="select" id="vcbranch" name="vcbranch" class="custom-select">
                                                                <option value="all">Alle</option>
                                                             <% if(branch.length>0){
                                                             branch.forEach(function(bdata){%>
                                                             <option value="<%= bdata.id%>"><%= bdata.title%></option>

                                                             <%});}%>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4">
                                                        <div class="position-relative form-group">
                                                            <label for="" class=""><span class="">Ausweis</span></label>
                                                            <select type="select" id="vcidc" name="vcidc" class="custom-select">
                                                                <option value="all">Alle</option>
                                                             <!-- <% if(details.length>0){
                                                             details.forEach(function(tdata){%>
                                                             <option value="<%= tdata.title%>"><%= tdata.title%></option>

                                                             <%});}%> -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4">
                                                        <div class="position-relative form-group">
                                                            <label for="" class=""><span class="">Status</span></label>
                                                            <select type="select" id="vcstatus" name="vcstatus" class="custom-select">
                                                                <option value="all">Alle</option>
                                                                <option value="1">aktiv</option>
                                                                <option value="0">inaktiv</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4">
                                                        <div class="position-relative form-group text-right">
                                                            <label for="" class=""><a href="javascript:void(0)" class="removegirlsFilter"> <i class="pe-7s-close-circle"></i> <span class="">Filter Löschen</span></a></label>
                                                            <button class="btn btn-lg btn-block btn-primary girlslistfun">Senden</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card-body girls-list total-girls">
                                       <!--  <%=details.length%> -->
                                        <%if(details.length>0){
                                        details.forEach(function(gdata){%>
                                        <div class="row girl glist">
                                            
                                            <div class="col-lg-2 col-md-3">
                                                <div class="avatar-holder round large center mb-2">
                                                    <img src="<%= file_link_gallery_fornt %><%= gdata.pimage%>" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-10 col-md-9">
                                                <div class="action-icons">
                                                    <%if(gdata.status == 1){%>
                                                    <span class="badge badge-success">aktiv</span>
                                                    <%}else{%>
                                                    <span class="badge badge-danger">inaktiv</span>
                                                    <%}%>
                                                </div>
                                                <a href="girlsdetails?girlsid=<%=  app.locals.encrypt(gdata.id)%>" class="branch-title">
                                                    <%if(pindata.length>0){
                                                    pindata.forEach(function(ppdata){%>
                                                    <!-- <%= ppdata.girls_id%>
                                                    <%= gdata.id%> -->
                                                    <%if(ppdata.girls_id==gdata.id){%>
                                                    <%if(ppdata.pin!=""){%>
                                                     <span class="category new"><%=ppdata.pin%></span> 
                                                     <%}%>  
                                                     <%}%>  
                                                    <%});}%>
                                                    <!-- <span class="category new">NEW</span>
                                                    <span class="category top">TOP</span>
                                                    <span class="category escort">ESCORT</span> -->
                                                    <h3><%=gdata.profilename%></h3>
                                                  
                                                </a>
                                                <div class="branch-info">
                                                    <ul>
                                                        <li>Bewilligung bis : <span>
                                                              <% console.log(gdata.approvaluntill);%><%=gdata.approvaluntill%></span></li>

                                                        <li>Ausweis : <span> </span></li>
                                                        <li>Nationalität : <span><%=gdata.nationality%></span></li>
                                                    </ul>
                                                </div>
                                                <div class="branch-contact">
                                                    <ul>
                                                        <li><i class="ico lnr-apartment"></i><a href="javascript:;"><%=gdata.place%></a></li>
                                                        <li><i class="ico lnr-map-marker"></i><a href="javascript:;"><%=gdata.address%></a></li>
                                                        <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888"><%=gdata.mobile%></a></li>
                                                        <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com"><%=gdata.email%></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <%});}%>

                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<% include ../../templates/footer %>