<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-users"></i> Girls</div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title">Basis</div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="javascript:history.back()" class="btn btn-secondary">Zurück</a>
                                    <a href="editgirls?girlsid=<%=  app.locals.encrypt(details[0].id)%>" class="btn btn-warning">Bearbeiten</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-grey girl-view">
                            <div class="form-row girl">
                                <div class="col-lg-2 col-md-3">
                                    <div class="avatar-holder round large center mb-2">
                                        <img src="<%= file_link_gallery_fornt %><%= details[0].pimage%>" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-9">
                                    <div class="action-icons">
                                        <span class="badge badge-success">aktiv</span>
                                    </div>
                                    <a href="#" class="branch-title">
                                        <%if(pindata.length>0){%>
                                        <%pindata.forEach(function(pdata){%>
                                        <%if(pdata.pin!=""){%>
                                        <span class="category new"><%= pdata.pin%></span>
                                        <%}%>
                                        <%});}%>
                                        <h3><%= details[0].profilename%></h3>
                                    </a>
                                    <div class="branch-info">
                                        <ul>
                                            <li>Bewilligung bis : <span><%= typeof(details[0].created_date)!="undefined" && details[0].created_date!="" ? details[0].approvaluntill:''%></span></li>
                                            <li>Ausweis : <span> </span></li>
                                            <li>Nationalität : <span><%= typeof(details[0].nationality)!="undefined" && details[0].nationality!="" ? details[0].nationality:''%></span></li>
                                        </ul>
                                    </div>
                                    <div class="branch-contact">
                                        <ul>
                                            <li><i class="ico lnr-apartment"></i><a href="javascript:;"><%= typeof(details[0].place)!="undefined" && details[0].place!="" ? details[0].place:''%></a></li>
                                            <li><i class="ico lnr-map-marker"></i><a href="javascript:;"><%= typeof(details[0].address)!="undefined" && details[0].address!="" ? details[0].address:''%></a></li>
                                            <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888"><%= typeof(details[0].mobile)!="undefined" && details[0].mobile!="" ? details[0].mobile:''%></a></li>
                                            <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com"><%= typeof(details[0].email)!="undefined" && details[0].email!="" ? details[0].email:''%></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <ul class="nav">
                                <li class="nav-item"><a data-toggle="tab" href="#profile" class="nav-link active show">Profile</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#office" class="nav-link show">Office</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#gallery" class="nav-link show">Gallery</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#privat" class="nav-link show">Privat</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#id" class="nav-link show">ID</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#statistics" class="nav-link show">Statistik</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#verlauf" class="nav-link show">Verlauf</a></li>
                                <!-- <li class="nav-item"><a data-toggle="tab" href="#bewertung" class="nav-link show">Bewertung</a></li> -->
                                <li class="nav-item"><a data-toggle="tab" href="#liveme" class="nav-link show">Liveme</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#pin" class="nav-link show">Pin</a></li>
                            </ul>
                        </div>
                        <div class="card-body bg-grey">

                            <div class="tab-content">
                                
                                <div class="tab-pane active show" id="profile" role="tabpanel">
                                    <% include ../../girls-templates/profileview %>
                                </div>
                                <div class="tab-pane show" id="office" role="tabpanel">
                                     <% include ../../girls-templates/officeview %>
                                </div>
                                <div class="tab-pane show" id="gallery" role="tabpanel">
                                  <% include ../../girls-templates/galleryview %>
                                </div>
                                <div class="tab-pane show" id="privat" role="tabpanel">
                                    <% include ../../girls-templates/privateview %>
                                </div>
                                <div class="tab-pane show" id="id" role="tabpanel">
                                    <% include ../../girls-templates/idproofview %>
                                </div>
                                <div class="tab-pane show" id="statistics" role="tabpanel">
                                    <div class="mb-4">
                                        <h4>Statistik</h4>
                                    </div>
                                    <div id="chart-apex-area"></div>
                                </div>
                                <div class="tab-pane show" id="verlauf" role="tabpanel">
                                    <% include ../../girls-templates/course %>
                                    <!-- <div class="mb-4">
                                        <h4>Verlauf</h4>
                                    </div>

                                    <div class="vertical-timeline custom vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                        <h6 class="timelin-date">Okt 9, 2019</h6>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div>
                                                <div class="vertical-timeline-element-icon bounce-in">
                                                    <i class="lnr-history"></i>
                                                </div>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title"><span>Zürich</span></h4>
                                                    <span class="vertical-timeline-element-date">10:30 PM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="timelin-date">Okt 5, 2019</h6>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div>
                                                <div class="vertical-timeline-element-icon bounce-in">
                                                    <i class="lnr-history"></i>
                                                </div>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">Zürich</h4>
                                                    <span class="vertical-timeline-element-date">10:30 PM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="timelin-date">Okt 3, 2019</h6>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div>
                                                <div class="vertical-timeline-element-icon bounce-in">
                                                    <i class="lnr-history"></i>
                                                </div>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">Bern</h4>
                                                    <span class="vertical-timeline-element-date">10:30 PM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="timelin-date">Okt 1, 2019</h6>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div>
                                                <div class="vertical-timeline-element-icon bounce-in">
                                                    <i class="lnr-history"></i>
                                                </div>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">St. Gallen</h4>
                                                    <span class="vertical-timeline-element-date">10:30 PM</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="tab-pane show" id="bewertung" role="tabpanel">
                                    <div class="mb-4">
                                        <h4>Bewertung</h4>
                                    </div>
                                </div>
                                <div class="tab-pane show" id="liveme" role="tabpanel">
                                    <div class="mb-4">
                                        <h4>Liveme</h4>
                                    </div>
                                </div>
                                <div class="tab-pane show" id="pin" role="tabpanel">
                                    <div class="mb-4">
                                        <h4>Privat</h4>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12">
                                            <div class="card no-shadow">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped table-hover mb-0">
                                                            <tr>
                                                                <td width="20%">ID</td>
                                                                <td><strong><%= typeof(details[0].tabid)!="undefined" && details[0].tabid!="" ? details[0].tabid:'-'%></strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Pin</td>
                                                                <td><strong>
                                                                    <div class="position-relative form-group">
                                                                        <input name="password" id="password" placeholder="Passwort" type="password" class="form-control" value="<%= typeof(details[0].pin)!="undefined" && details[0].pin!="" ? details[0].pin:'-'%>" readonly>
                                                                        <span class="eye-icon"><i toggle="#password"class="fa fa-eye toggle-password"></i></span>
                                                                    </div>
                                                                </strong></td>
                                                            </tr>
                                                            
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-block text-right card-footer">
                            <a href="javascript:history.back()" class="btn btn-secondary">Zurück</a>
                            <a href="editgirls?girlsid=<%=  app.locals.encrypt(details[0].id)%>" class="btn btn-warning">Bearbeiten</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<% include ../../templates/footer %>