<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-leaf"></i><span class="lang_Service"> Dienstleistung</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <form id="serviceForm">
                        <div class="mb-3 card">
                            <div class="fixed-card-header" id="FixedCardHeader">
                                <div class="card-header">
                                    <div class="card-header-title"><span class="lang_Base">Basis</span></div>
                                </div>
                            </div>
                            <div class="card-body bg-grey">
                                
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Title">Titel</span><span class="field-error mandatory"></span></label>
                                            <input type="text" id="title" name="title" value="<%= typeof(details[0].title)!="undefined" && details[0].title!="" ? details[0].title:''; %>"class="form-control" placeholder="Titel">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Branch">Filiale</span><span class="field-error mandatory"></span></label>
                                            <select type="select" id="sbranch" name="sbranch" class="custom-select">
                                                <%branch.forEach(function(branchdata){%>
                                                <option value="<%=branchdata.id%>" <%= (details[0].branch) == branchdata.id?'selected':'' %> ><%=branchdata.title%></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Time">Zeit</span><span class="field-error mandatory"></span></label>
                                            <select type="select" id="szeit" name="szeit" class="custom-select">
                                                <%zeit.forEach(function(szeit){%>
                                                <option value="<%=szeit.id%>" <%= (details[0].zeit) == szeit.id?'selected':'' %>><%=szeit.zeit%></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Price">Preis</span><span class="field-error mandatory"></span></label>
                                            <input type="text" id="sprice" name="sprice" value="<%= typeof(details[0].price)!="undefined" && details[0].price!="" ? details[0].price:''; %>" class="form-control" placeholder="CHF" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');">
                                        </div>
                                        <input type="hidden" name="editid" id="editid" value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>" />
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Status">Status</span><span class="field-error mandatory"></span></label>
                                            <select type="select" id="sstatus" name="sstatus" class="custom-select">
                                                <option value="1" <%= details[0].status == 1?'selected':'' %>>aktiv</option>
                                                <option value="0" <%= details[0].status == 0?'selected':'' %>>inaktiv</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="">Extra Time</span><span class="field-error mandatory"></span></label>
                                            <select type="select" id="etime" name="etime" class="custom-select">
                                                <%zeit.forEach(function(szeit){%>
                                                <option value="<%=szeit.id%>" <%= (details[0].etime) == szeit.id?'selected':'' %>><%=szeit.zeit%></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                     <div class="col-lg-4">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Price">Extra time Preis</span><span class="field-error mandatory"></span></label>
                                            <input type="text" id="eprice" name="eprice" value="<%= typeof(details[0].eprice)!="undefined" && details[0].eprice!="" ? details[0].eprice:''; %>" class="form-control" placeholder="CHF" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');">
                                        </div>
                                    </div>
                                       <div class="col-lg-4">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Price">Minimum Preis</span><span class="field-error mandatory"></span></label>
                                            <input type="text" id="mprice" name="mprice" value="<%= typeof(details[0].mprice)!="undefined" && details[0].mprice!="" ? details[0].mprice:''; %>" class="form-control" placeholder="CHF" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');">
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <span class="sstype"></span>
                          <!--   <div class="card-header">
                                <ul class="nav">
                                    <li class="nav-item"><a data-toggle="tab" href="#services-add" class="nav-link active show"><span class="">Services</span></a></li>
                                    <li class="nav-item"><a data-toggle="tab" href="#extras-add" class="nav-link show"><span class="lang_Extras">Extras</span></a></li>
                                </ul>
                            </div>
                            <div class="card-body bg-grey">
                                <div class="tab-content">
                                    
                                    <div class="tab-pane active show" id="services-add" role="tabpanel">
                                        <% include ../../service-templates/servicetype %>
                                    </div>
                                    <div class="tab-pane show" id="extras-add" role="tabpanel">
                                        <% include ../../service-templates/extratype %>
                                    </div>
                                </div>
                            </div> -->
                            <div class="d-block text-right card-footer">
                                <a href="/dienstleistung" class="btn btn-secondary lang_Back">Zurück</a>
                                <a href="javascript:void(0)" class="btn btn-success serviceSubmit lang_Save">Speichern</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>