<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-leaf"></i><span class="lang_Service"> Dienstleistung</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title"><span class="lang_Base">Basis</span></div>
                            </div>
                        </div>
                        <div class="card-body bg-grey service-view">
                            <div class="service">
                                <div class="action-icons bottom-right">
                                    <%if(details[0].status==1){%>
                                    <span class="badge badge-success">aktiv</span>
                                    <%}else{%>
                                    <span class="badge badge-danger">inaktiv</span>
                                    <%}%>
                                </div>
                                <a href="#" class="branch-title">
                                    <h3><span class=""><%= details[0].title%></span></h3>
                                </a>
                                <div class="branch-info">
                                    <ul>
                                        <li><span class="lang_Branch">Filiale</span> : <span><%= details[0].branch%></span></li>
                                        <li><span class="lang_Time">Zeit</span> : <span><%= details[0].zeit%></span></li>
                                        <li><span class="lang_Price">Preis</span> : <span><%= numeral(details[0].price).format('$ 0,.00'); %></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card-header">
                            <ul class="nav">
                                <li class="nav-item"><a data-toggle="tab" href="#services-add" class="nav-link active show"><span class="">Services</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#extras-add" class="nav-link show"><span class="lang_Extras">Extras</span></a></li>
                            </ul>
                        </div>
                        <div class="card-body bg-grey">
                            <div class="tab-content">
                                
                                <div class="tab-pane active show" id="services-add" role="tabpanel">
                                    <div class="mb-4">
                                        <h4><span class="">Services</span></h4>
                                    </div>
                                    <div class="service-list">
                                        <ul>
                                            <%if(servicedata.length>0){
                                            servicedata.forEach(function(sd){%>
                                                 <li><%=sd.servicename%></li>
                                            <%});}%>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane show" id="extras-add" role="tabpanel">
                                    <div class="mb-4">
                                        <h4><span class="">Extras</span></h4>
                                    </div>
                                    <div class="extra-list">
                                        <ul>
                                            <%if(extradata.length>0){
                                            extradata.forEach(function(ed){%>
                                                 <li><%=ed.extraname%><span><%= numeral(ed.extraprice).format('$ 0,.00'); %></span></li>
                                            <%});}%>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="d-block text-right card-footer">
                            <a href="/dienstleistung" class="btn btn-secondary lang_Back">Zurück</a>
                            <% if(sessionPermission[4].uedit=="1"){%>
                            <a href="editservice?serviceid=<%=  app.locals.encrypt(details[0].id)%>" class="btn btn-warning lang_Edit">Bearbeiten</a>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>