<% console.log("test");%>
<% console.log(servicelist);%>
<% if(servicelist.length>0){
servicelist.forEach(function(datype){%>
<div class="col-lg-4 slist">
	<div class="service">
		<div class="action-icons bottom-right">
			<%if(datype.status==1){%>
			<span class="badge badge-success">aktiv</span>
			<%}else{%>
			<span class="badge badge-danger">inaktiv</span>
			<%}%>
		</div>
		<a href="viewdienstleistung?serviceid=<%=  app.locals.encrypt(datype.id)%>" class="branch-title">
			<h3><%= datype.title%></h3>
		</a>
		<div class="branch-info">
			<ul>
				<li><span class="lang_Branch">Filiale</span> : <span><%= datype.branch%></span></li>
				<li><span class="lang_Time">Zeit</span> : <span><%= datype.zeit%></span></li>
				<li><span class="lang_Price">Preis</span> : <span> <%= numeral(datype.price).format('$ 0,.00'); %></span></li>
			</ul>
		</div>
		<!-- <div class="branch-contact">
			<ul>
				<li><i class="ico lnr-tag"></i><span><%= datype.servicecount%></span> <span class="">Services</span></li>
				<li><i class="ico lnr-tag"></i><span><%= datype.extracount%></span> <span class="lang_Extras">Extras</span></li>
			</ul>
		</div> -->
	</div>
</div>
<%});}%>