<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-leaf"></i><span class="lang_Service"> Dienstleistung</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title"><span class="lang_Service">  Dienstleistung</span></div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <% if(sessionPermission[4].uadd=="1"){%>
                                    <a href="adddienstleistung" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                    <% }%>
                                    <a data-toggle="collapse" href="#show-filter"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
                                </div>
                            </div>
                            <div class="collapse" id="show-filter">
                                <div class="box">
                                    <div class="form-row">
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Title">Title</span></label>
                                               <select type="select" id="vcservice" name="vcservice" class="multiselect-dropdown">
                                                     <option value="all">Alle</option>
                                                     <% if(details.length>0){
                                                     details.forEach(function(tdata){%>
                                                     <option value="<%= tdata.title%>"><%= tdata.title%></option>

                                                     <%});}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Branch">Filiale</span></label>
                                                <select type="select" id="vcbranch" name="vcbranch" class="custom-select">
                                                    <option value="all">Alle</option>
                                                 <% if(branch.length>0){
                                                 branch.forEach(function(bdata){%>
                                                 <option value="<%= bdata.id%>"><%= bdata.title%></option>

                                                 <%});}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Time">Zeit</span></label>
                                                <select type="select" id="vctime" name="vctime" class="custom-select">
                                                    <option value="all">Alle</option>
                                                 <% if(stime.length>0){
                                                 stime.forEach(function(stdata){%>
                                                 <option value="<%= stdata.id%>"><%= stdata.zeit%></option>

                                                 <%});}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Price">Preis</span></label>
                                                <select type="select" id="vcprice" name="vcprice" class="custom-select">
                                                     <option value="all">Alle</option>
                                                    <option value="1-50">CHF 1 - 50</option>
                                                    <option value="50-100">CHF 50 - 100</option>
                                                    <option value="100-200">CHF 100 - 200</option>
                                                    <option value="200-500">CHF 200 - 500</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Status">Status</span></label>
                                                <select type="select" id="vcstatus" name="vcstatus" class="custom-select">
                                                    <option value="all">Alle</option>
                                                    <option value="1">aktiv</option>
                                                    <option value="0">inaktiv</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group text-right">
                                                <label for="" class=""><a href="javascript:void(0)" class="removeserviceFilter"> <i class="pe-7s-close-circle"></i><span class="lang_ClearFilter"> Filter Löschen</span></a></label>
                                                <button class="btn btn-lg btn-block btn-primary lang_Send servicelistfun">Senden</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="form-row total-service">
                                <% if(details.length>0){
                                details.forEach(function(datype){%>
                                <div class="col-lg-4 slist">
                                    <div class="service">
                                        <div class="action-icons bottom-right">
                                            <%if(datype.status==1){%>
                                            <span class="badge badge-success">aktiv</span>
                                            <%}else{%>
                                            <span class="badge badge-danger">inaktiv</span>
                                            <%}%>
                                        </div>
                                        <a href="viewdienstleistung?serviceid=<%=  app.locals.encrypt(datype.id)%>" class="branch-title">
                                            <h3><%= datype.title%></h3>
                                        </a>
                                        <div class="branch-info">
                                            <ul>
                                                <li><span class="lang_Branch">Filiale</span> : <span><%= datype.branch%></span></li>
                                                <li><span class="lang_Time">Zeit</span> : <span><%= datype.zeit%></span></li>
                                                <li><span class="lang_Price">Preis</span> : <span> <%= numeral(datype.price).format('$ 0,.00'); %></span></li>
                                            </ul>
                                        </div>
                                        <!-- <div class="branch-contact">
                                            <ul>
                                                <li><i class="ico lnr-tag"></i><span><%= datype.servicecount%></span> <span class="">Services</span></li>
                                                <li><i class="ico lnr-tag"></i><span><%= datype.extracount%></span> <span class="lang_Extras">Extras</span></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                                <%});}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>