<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-database " ></i> <span class="">Oberweite</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title " > Oberweite</div>
                                <div class="btn-actions-pane-right actions-icon-btn" <li class="mm-active" >
                                    <a href="javascript:;" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link open-right-drawer"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="bust" class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>#</th>
                                            <th class="">Oberweite</th>
                                            <th class="lang_Createdon">Erstellt am</th>
                                            <th class="lang_Status">Status</th>
                                            <th class="lang_Action">Aktion</th>
                                           
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr>
                                            <td>01</td>
                                            <td>#232</td>
                                            <td>The Clearing Factor</td>
                                            <td>20.11.2019 (12:30)</td>
                                            <td><span class="badge badge-success">aktiv</span></td>
                                            <td class="text-right">
                                                <a href="javascript:;" data-toggle="tooltip" data-original-title="Löschen"><i class="lnr-trash"></i></a>
                                            </td>
                                        </tr> -->
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<div class="app-drawer-wrapper">
<div class="drawer-nav-btn">
<button type="button" class="hamburger hamburger--elastic is-active ">
<span class="hamburger-box"><span class="hamburger-inner ebustclear"></span></span>
</button>
</div>
<div class="drawer-content-wrapper">
<div class="scrollbar-container">
    <h3 class="drawer-heading lang_Create" >Erstellen</h3>
    
    <div class="drawer-section">
        <div class="form-group">
            <label for=""><span class="">Oberweite </span> <span class="field-error mandatory"></span> </label>
            <input type="text" id="busttype" name="busttype" class="form-control" placeholder="">
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block bustsubmit lang_submit">Einreichen</button>
        </div>
    </div>
</div>
</div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<% include ../../templates/footer %>