<% include ../../templates/header %>
 <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div><i class="header-icon lnr-magic-wand"></i><span class="lang_Rubble"> Rubble</span></div>
                            </div>
                        </div>
                    </div>
                     <form id="rubbleForm">
                    <div class="tabs-animation">
                      
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="mb-3 card">
                                    <div class="fixed-card-header" id="FixedCardHeader">
                                        <div class="card-header">
                                            <div class="card-header-title"><span class="lang_Create">Erstellen</span></div>
                                        </div>
                                    </div>

                                    <div class="card-body bg-grey">
                                        <div class="row mt-2">
                                            <div class="col-lg-3 col-md-6">
                                                <div class="form-group">
                                                <label for=""><span class=""></span><span class="field-error mandatory"></span></label>
                                                <% if (details[0].image !="" && typeof(details[0].image) !="undefined" && typeof(details[0].image) !=undefined){ %>
                                                <div class="rubbleup_1" onclick="$('#rubble_1').click()">
                                                    <img src="<%= file_link_rubble_fornt%><%=details[0].image%>">
                                                        <input type="file" name="rubbleimage"  id="rubble_1" class="fPhotorub fPhoto-rub"  data-id="rubble_1" data-imval="rubbleup_1" />
                                                </div>
                                                <%}else{%>
                                                <div class="rubbleup_1" onclick="$('#rubble_1').click()">

                                                    <img src="../images/dropzone.png">
                                                        <input type="file" name="rubbleimage"  id="rubble_1" class="fPhotorub fPhoto-rub"  data-id="rubble_1" data-imval="rubbleup_1"  />
                                                </div>
                                            <%}%>
                                                
                                            </div>
                                            <input type="hidden" id="oldfile" name="oldfile" class="form-control" value="<%= typeof(details[0].image)!="undefined" && details[0].image!="" ? details[0].image:''; %>">
                                            </div>
                                            <div class="col-lg-9 col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Title">Rubble Titel</span><span class="field-error mandatory"></span></label>
                                                    <input type="text" id="title" name="title" value="<%= typeof(details[0].title)!="undefined" && details[0].title!="" ? details[0].title:''; %>" class="form-control" placeholder="Titel">
                                                </div>
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Dateofexpiry">Gültig bis</span><span class="field-error mandatory"></span></label>
                                                    <input type="text" id="cdate" name="cdate" value="<%= typeof(details[0].cdate)!="undefined" && details[0].cdate!="" ? details[0].cdate:''; %>" class=" form-control" placeholder="Gültig bis"  data-toggle="datepicker" readonly="">
                                                </div>
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Longdescription">Description</span><span class="field-error mandatory"></span></label>
                                                    <textarea id="description" name="description" class="form-control" rows="3" placeholder=""><%= typeof(details[0].description)!="undefined" && details[0].description!="" ? details[0].description:''; %></textarea>
                                                </div>
                                                <input type="hidden" name="editid" id="editid" value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-block text-right card-footer">
                                        <a href="rubble" class="btn btn-secondary lang_Abort">Abbrechen</a>
                                        <a href="javascript:;" class="btn btn-success rubbleSubmit lang_Create">Erstellen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
<% include ../../templates/footer %>