<% include ../../templates/header %>
<div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div><i class="header-icon lnr-magic-wand"></i><span class="lang_Rubble"> Rubble</span></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tabs-animation">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="mb-3 card">
                                    <div class="fixed-card-header" id="FixedCardHeader">
                                        <div class="card-header">
                                            <div class="card-header-title"><span class="lang_Rubble"> Rubble</span></div>
                                            <div class="btn-actions-pane-right actions-icon-btn">
                                                 <% if(sessionPermissionUser[18][1]=="1"){%>
                                                <a href="addrubble" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                                <%}%>
                                                <a data-toggle="collapse" href="#show-filter"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
                                            </div>
                                        </div>
                                        <div class="collapse" id="show-filter">
                                            <div class="box">
                                                <div class="form-row">
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="position-relative form-group">
                                                            <label for="" class=""><span class="lang_Rubblename">Rubble Name</span></label>
                                                            <select type="select" id="cname" name="cname" class="multiselect-dropdown">
                                                                <option value="all">Alle</option>
                                                                             <%if(rubblelist.length>0){
                                                                rubblelist.forEach(function(rdata){%>
                                                                <option value="<%= rdata.id%>"  ><%= rdata.title%></option>    
                                                                <%});}%>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="position-relative form-group">
                                                            <label for="" class=""><span class="lang_Dateofexpiry">Gültig bis</span></label>
                                                            <input type="date" id="cdate" name="cdate" class="form-control" placeholder="Datum">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="position-relative form-group">
                                                            <label for="" class=""><span class="lang_Status">Status</span></label>
                                                            <select type="select" id="cstatus" name="cstatus" class="custom-select">
                                                                <option value="all">All</option>
                                                                 <option value="1">aktiv</option>
                                                            <option value="0">inaktiv</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="position-relative form-group text-right">
                                                            <label for="" class=""><a href="javascript:void(0)" class="removeRubbleFilter"> <i class="pe-7s-close-circle"></i><span class="lang_ClearFilter"> Filter Löschen</span></a></label>
                                                            <button class="btn btn-lg btn-block btn-primary rubbleSearchsubmit lang_Send">Senden</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table  id="rubbleview" class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th><span class="lang_Rubble">Rubble</span></th>
                                                        <th><span class="lang_Dateofexpiry">Gültig bis</span></th>
                                                        <th><span class="lang_Createdon">Erstellt am</span></th>
                                                        <th><span class="lang_Totallyrubbed">Total gerubbelt</span></th>
                                                        <th><span class="lang_Status">Status</span></th>
                                                        <th><span class="lang_Action">Aktion</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="app-drawer-wrapper">
        <div class="drawer-nav-btn">
            <button type="button" class="hamburger hamburger--elastic is-active">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
        </div>
        <div class="drawer-content-wrapper">
            <div class="scrollbar-container">
                <h3 class="drawer-heading"><span class="lang_Rubble">Rubble</span></h3>
               
                <div class="drawer-section">
                    <div class="voucher-view">
                        <a href="#" class="voucher-img"><img src="assets/images/scratch-01.jpg" class="img-fluid" alt=""></a>
                        <table id="rubbleSeparateDetails" class="table table-bordered table-striped">
                            

                        </table>
                        <ul class="userPopupEdit">
                    <li class="" <%= (sessionPermissionUser[18][2]=="1" )? 'style=display:block':'style=display:none'; %>>
                        <a href="" class="rubbleEdit lang_Edit"><span class="lang_Edit">Bearbeiten</span></a>
                    </li>
                    
                </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-drawer-overlay d-none animated fadeIn"></div>
<% include ../../templates/footer %>