<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-database " ></i> <span class="lang_Time">Zeit</div>
                   
                </div>
            </div>
        </div>
       
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title lang_Time" > Zeit</div>
                                <div class="btn-actions-pane-right actions-icon-btn" <li class="mm-active" <%=  (sessionPermission[15].uadd=="1")? 'style=display:block':'style=display:none'; %>>
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link "><i class="pe-7s-plus btn-icon-wrapper rdataClick"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="zeit" class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>#</th>
                                            <th class="lang_Time">zeit</th>
                                            <th class="lang_Createdon">Erstellt am</th>
                                            <th class="lang_Status">Status</th>
                                            <% if(sessionPermission[15].udelete=="1"){%>
                                            <th class="lang_Action">Aktion</th>
                                            <%}%>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr>
                                            <td>01</td>
                                            <td>#232</td>
                                            <td>The Clearing Factor</td>
                                            <td>20.11.2019 (12:30)</td>
                                            <td><span class="badge badge-success">aktiv</span></td>
                                            <td class="text-right">
                                                <a href="javascript:;" data-toggle="tooltip" data-original-title="Löschen"><i class="lnr-trash"></i></a>
                                            </td>
                                        </tr> -->
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
 
<div class="app-drawer-wrapper">
<div class="drawer-nav-btn">
<button type="button" class="hamburger hamburger--elastic is-active ">
<span class="hamburger-box"><span class="hamburger-inner ztypeclear"></span></span>
</button>
</div>
<div class="drawer-content-wrapper">
<div class="scrollbar-container">
    <h3 class="drawer-heading lang_Create" >Erstellen</h3>
    
    <div class="drawer-section">
        <div class="form-group">
            <label for=""><span class="lang_Time">zeit</span> <span class="field-error mandatory"></span> </label>
           <input type="time" id="zeitc" name="zeitc" class="form-control" placeholder="hrs:mins" value="00:00" pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$"> 
            
           <!--  <input type="text" readonly="readonly" id="widget" class="form-control" placeholder="Click here..." size="100" style="text-align: center;" />
            <input type="hidden" name="duration" value="PT3H25M45S" id="duration" />
            <input type="hidden" name="seconds" value="12345" id="seconds" /> -->
            
            <input type="hidden" name="editid" value="" id="editid" />  
            
        </div>
       <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block zeitsubmit lang_submit">Einreichen</button>
        </div>
    </div>
</div>
</div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>

<% include ../../templates/footer %>