
.no-radius{ border-radius: 0px !important; }
.no-border{ border:none !important; }
.btn { border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.btn:hover, .btn:focus{ color: #fff !important; }
.app-header__content .btn:hover { color: inherit !important; }
.text-sm{ font-size: 80%; }
a:hover, a:focus{ text-decoration: none; color: #137eff !important; }
.login-page{ max-width: 100% !important; }
.login-left{ background: #137eff !important; color: #fff; min-height: 350px; padding: 30px 30px 30px 50px;}
.login-right{ padding: 30px 50px 30px 30px; position: relative; }
.login-logo{ text-align: center; opacity: 0.2; }
.login-logo img{ max-width: 150px; }
.login-page .form-control { height: 42px; }
.form-control:focus, .custom-select:focus{ box-shadow : none; }
.back-to-login{ position: absolute; bottom: 30px; margin: 0; left: 35px;}
.back-to-login a{ color: #137eff !important; font-weight: 600; }
.loader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url('../images/pageLoader.gif') 50% 50% no-repeat rgba(255,255,255,1); background-size:500px; display: none;}
.branch, .girl{ margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #ddd; }
.branch-img{ height: 150px; margin-bottom: 0; display: block; overflow: hidden; position: relative; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.branch-title .category{ background:#d0e5ff; font-size: 12px; padding: 2px 15px;margin-bottom: 5px;display: inline-block; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
/*.category.new{ background-color: #16aaff !important; color: #fff !important; }
.category.top{ background-color: #f7b924 !important; color: #fff !important; }
.category.escort{ background-color: #3ac47d !important; color: #fff !important; }*/
.branch-title h3{ font-size: 20px; color:rgba(13,27,62,0.7);margin-bottom: 15px; }
.branch-info ul{ list-style: none; padding: 0;margin: 0; }
.branch-info ul li{ color: #999; display: inline-block; margin-right: 10px; padding-right: 10px; position: relative; }
.branch-info ul li:last-child:before{ content: none; }
.branch-info ul li:before{ position: absolute; content: ""; width: 1px; height: 12px; background: #ddd; top: 5px; right: 0px; }
.branch-info ul li span{ font-weight: 600; color: #333; }
.branch-contact {position: relative;}
.branch-contact ul{ list-style: none; padding: 20px 0 0;margin: 20px 0 0; border-top: 1px dashed #ddd; }
.branch-contact ul li{display: inline-block; margin-right: 15px; padding-left: 20px; position: relative; color: #333;}
.branch-contact ul li a{ color: #333; }
.branch-contact ul li .ico{ position: absolute; left: 0; top: 4px; color: #137eff; }
.box{ padding: 15px; background: #f5f5f5; }
.actions-icon-btn .btn-link{ color: #495057 !important; }
.bg-grey { background: #f7f8fa; }
.login-page .form-group .eye-icon{bottom: 12px !important;}
.form-group label{ margin-bottom: 3px !important; width: 100%;}
.form-group .eye-icon{ position: absolute; bottom: 10px; right: 12px; opacity: 0.5; cursor: pointer; }
.form-group .eye-icon:hover, .form-group .eye-icon.active{   opacity: 0.8; }
.upload-lg{ width: 100%; overflow: hidden; height:440px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;  background: url(../images/dropzone.png) no-repeat center center/contain #6c757d; }
.upload-md{ width: 100%; overflow: hidden; height:250px !important; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;  background: url(../images/dropzone.png) no-repeat center center/contain #6c757d; }
.upload-sm{ width: 100%; overflow: hidden; height:145px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;  background: url(../images/dropzone.png) no-repeat center center/contain #6c757d; }
/*.zimmer{ margin: 5px 5px 15px 5px; padding: 15px 10px 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background: #fff; border:1px dashed #ddd; }*/
.zimmer textarea{ resize: none; height:150px; }
.zimmer-single { margin-bottom: 30px; }
.zimmer-image{ width: 100%; position: relative; height: 250px; margin-bottom: 15px; }
.zimmer-image img{width: 100%; height: 100%; object-fit: cover;}
.branch-image{width: 100%; position: relative; height: 440px; }
.branch-image img{width: 100%; height: 100%; object-fit: cover;}
.zimmer-image img:hover, .branch-image img:hover, .branch-img:hover, .girl img:hover{ opacity: 0.8; }
.girl{  overflow: hidden; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; position: relative; }
.girl img{width: 100%; height: 300px; object-fit: cover;}
.action-icons{position: absolute; right: 15px; top: 15px; z-index: 9;}
.action-icons .btn { width: 30px; height: 30px; line-height: 30px !important; padding: 0; text-align: center; border-radius: 2px; }
.action-icons.bottom-right { top: inherit; bottom: 25px; }
.girl .girl-name {position: absolute; bottom: 0; left: 0; right: 0; padding: 15px; background: #fff; font-size: 16px; font-weight: 600; margin:0;}
.card-header, .card-title{ font-weight: normal; }
.fixed-card-header.fixed{position: fixed; top: 60px;background:#fff;z-index: 10;right: 30px;left: 250px; }
.app-container.closed-sidebar .fixed-card-header.fixed{ left: 110px; }
.branch-view .branch{ padding: 0; margin: 0 -15px; border:none; }
.branch-view h6{height: 38px; line-height: 38px; border: 1px dashed #ccc; padding: 0 15px; font-size: 14px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.service {padding: 20px 20px 25px; margin-bottom: 10px; background:#f9f9f9; position: relative;}
.service-view .service, .girl-view .girl { padding: 0; margin: 0; border:none; }
.service-list ul, .extra-list ul{ padding: 0; margin: 0; }
.service-list li {display: inline-table;color:#212529;padding: 3px 6px;margin-right: calc(calc(2.25rem + 2px)/5 - 1px);margin-top: 5px; background-color:#e0f3ff;border: 1px solid #94d5ff; cursor: default; vertical-align: top; text-align: center; overflow: hidden; max-width: 100%; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.extra-list li {display: inline-table;color:#212529;padding:3px 6px;margin-right: calc(calc(2.25rem + 2px)/5 - 1px);margin-top: 5px; background-color:#e0f3ff;border: 1px solid #94d5ff; cursor: default; vertical-align: top; overflow: hidden; max-width: 100%; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.extra-list li span{ display: block; font-weight: 600; font-size: 20px; }
table .widget-content img{ width: 40px; height: 40px; }
.avatar-holder{ width: 50px; height: 50px; position: relative; overflow: hidden; }
.avatar-holder img{ width: 100%; }
.avatar-holder.center{ margin: 0 auto; }
.avatar-holder.large{ width: 100%; height: 100%; max-width:150px; max-height:150px;  }
.avatar-holder.round{ border-radius: 50%; }
.nav .nav-link{ font-size: 15px; }
.table th, .table td { padding: 9px; }
.table td:last-child a{ margin-left: 15px; }
.girl-gallery .girl{ padding: 0; border:none; }
.select-voucher{ text-align: center; cursor: pointer; margin-bottom: 15px; position: relative; background: #fff; border:2px dashed #ddd; padding: 5px; }
.select-voucher img{ height: 100%; max-width: 100%; object-fit: cover; }
.select-voucher:hover,
.select-voucher.active{ border-color: #3ac47d;}
.select-voucher.active:before{ position: absolute; content: ""; top: 10px; left: 10px; width: 30px; height: 30px; background: url(../images/check-green.svg) no-repeat center center; background-size: 100%; }
.qrcode-holder{ background: url(../images/qr-code.png) no-repeat center center #fff; position: relative; border:2px dashed #ddd; padding: 5px; background-size: 60%; margin-top: 15px; height: 275px;}
.voucher-view .voucher-img{ padding: 10px; border:1px solid #e9ecef; display: block; margin-bottom: 15px;}
.phone-container { margin:0 auto;  width: 400px; height: 814px; position: relative; top: 0; padding:118px 30px 100px 32px; background: url(../images/iphone.png) no-repeat center center/cover; } 
.mobil-content{ border-radius: 40px; height: 100%; overflow: auto;}
.mobil-content .banner-slider{ margin-bottom: 15px; background: #ddd; height: 275px; overflow: hidden; }
.mobil-content .banner-slider img{object-fit: cover; height: 275px;}
.mobil-content .slider{width: 100%; height: 275px; }
.mobil-content .slider img{ width: 100%; height: 100%; object-fit: cover; }
.points-detail{ padding: 20px; }
.points-count { padding: 0; margin:0; text-align: center;}
.points-count li { list-style: none; display:  inline-block; margin: 5px; width: 40px; height: 40px; text-align: center; line-height: 40px; border:1px solid #ddd; border-radius: 50%; }
.banner-slider .owl-dots{ position: absolute; bottom: 10px; left: 0; right: 0; z-index: 9; }
.owl-theme .owl-dots .owl-dot span {width: 20px !important; height: 5px !important;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background:#137eff !important; }
#FixedIPhone.fixed { position: fixed; top: 60px; right: 30px; float: inherit !important; z-index: 10; ; }
.iphone-x { position: relative;  margin: 20px;   float: right; width: 340px;  height: 780px; background-color: #fff; border-radius: 40px; box-shadow: 0px 0px 0px 11px #efefef, 0px 0px 0px 13px #efefef, 0px 0px 0px 20px #e5e5e5; }
.iphone-x:before, .iphone-x:after {  content: ""; position: absolute; left: 50%; transform: translateX(-50%); z-index: 9;}
.iphone-x:after { bottom: 7px;  width: 140px; height: 4px; background-color: #efefef; border-radius: 10px;}
.iphone-x:before { top: 0px; width: 56%; height: 30px; background-color: #efefef; border-radius: 0px 0px 40px 40px; }
.iphone-x .speaker, .iphone-x .camera{ position: absolute; display: block; color: transparent; }
.iphone-x .speaker { z-index:9; top: 0px; left: 50%; transform: translate(-50%, 6px); height: 8px; width: 15%; background-color: #101010; border-radius: 8px; box-shadow: inset 0px -3px 3px 0px rgba(255, 255, 255, 0.2);}
.iphone-x .camera {z-index:9; left: 10%; top: 0px; transform: translate(180px, 4px); width: 12px; height: 12px; background-color: #101010; border-radius: 12px; box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);}
.iphone-x .camera:after {	z-index:9; content: ""; position: absolute; background-color: #2d4d76; width: 6px; height: 6px; top: 2px;left: 2px; top: 3px; left: 3px; display: block; border-radius: 4px; box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);}
.img-list ul{ padding: 0; margin: 0; }
.img-list ul li { width: 18%; margin: 0.8%; overflow: hidden; display: inline-block; position: relative; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.img-list ul li img{ width: 100%; }
.badge-img { max-width: 30px; }
.vertical-timeline.custom .vertical-timeline-element-icon{width: 35px; height: 35px; background:#aaa;text-align: center;line-height: 36px;left: 96px;border-radius: 50%;top: -2px;color:#fff;font-size: 15px;}
.vertical-timeline.custom:before { width: 1px; background: #999;  top: 0px; left: 114px; bottom: 44px; height: inherit;}
.vertical-timeline.custom .vertical-timeline-element{ margin:2rem 0; }
.vertical-timeline.custom .vertical-timeline-element-content{ margin-left: 150px; }
.vertical-timeline.custom .vertical-timeline-element-content .vertical-timeline-element-date{ color: #999;  left: -110px; top: 4px;} 
.vertical-timeline.custom .timelin-date{ font-size: 14px; width: 100px; text-align: right; }
.vertical-timeline.custom { padding: 0; margin: 30px 0 0; }

.notify-contact{text-align: center; padding: 0; margin: 0;}
.notify-contact li{ list-style: none; display: inline-block; }
.notify-contact li a{ font-size: 30px; display: block; line-height: 30px; margin: 15px;}
.notify-contact li a span{ display: block; font-size: 13px; color: #333; }

.notify-social{text-align: center; padding: 0; margin: 0;}
.notify-social li{list-style: none; display: inline-block;}
.notify-social li a{font-size: 40px; display: block; margin: 5px;}

.app-page-title .page-title-heading{ position: relative; padding-left: 30px; }
.app-page-title .page-title-heading .header-icon{position: absolute; left: 0; top: 6px;}

.weekplanner-header .form-row{ width: 95%; }
.weekplanner-header .form-row .form-group{ margin-bottom: 0; }
.weekplanner-header .custom-select, .weekplanner-header .form-control{ font-size: 12px; height: 32px; padding: 5px; }

.pagination.custom{ margin: 0; }
.pagination.custom .page-link { padding:7px; font-size: 13px; border-color: #ced4da; color: #495057 !important; }
.pagination.custom .page-link:hover, .pagination.custom .page-link:focus{  color: #495057 !important; background-color: #F6F7F8; }

.card { border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.weekplanner-calendar tr td p{ font-weight: 600; margin: 3px 0 0; }
.weekplanner-calendar tr td p span{ font-size: 80%; opacity: 0.8;display: block; font-weight: 400;  }
.weekplanner-calendar tr td p span.girlsView{font-size: 100%; opacity: 1;}
.weekplanner-calendar tr td .add-shedule{  opacity: 0; text-align: center; font-size: 30px;width: 30px;margin: 0 auto;display: block; }
.weekplanner-calendar tr td{ width: 150px; height: 70px; position: relative; border: 1px solid #e9ecef;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.weekplanner-calendar tr td:hover .act, .weekplanner-calendar tr td:hover .custom-control, 
.weekplanner-calendar tr td:hover .add-shedule{ opacity: 1; }
.weekplanner-calendar tr td .act{ opacity: 0; z-index: 9; padding: 0; margin: 0; text-align: center; position: absolute; bottom: -15px; left: 0; right: 0;}
.weekplanner-calendar tr td .act li{ list-style: none;  display: inline-block; }
.weekplanner-calendar tr td .act li a{ width: 30px; height: 30px; border:2px solid #fff; background: #fff; color: #222; display: inline-block;text-align: center; line-height: 18px; border-radius: 50%; font-size: 14px; margin: 0 !important; line-height: 26px;}
.weekplanner-calendar tr td .act li a.add{ background:#137eff !important; color:#fff !important;  }

.weekplanner-calendar tr td .act li a.add .fa-edit{}
.weekplanner-calendar tr td .act li a.remove{ background:#d92550 !important; color:#fff !important;  }
.weekplanner-calendar tr th {width: 150px; text-align: center;height: 80px;}
.weekplanner-calendar tr th .single-date{}
.weekplanner-calendar tr th .single-date.today .date{ color: #137eff !important; }
.weekplanner-calendar tr th .date{ margin: 0; display: block; color: #222; font-weight: 600;}
.weekplanner-calendar tr td.active{ background: #333; color: #fff; }
.weekplanner-calendar .control{ padding: 0; margin: 0; list-style: none; display: inline-block; }
.weekplanner-calendar .control li{display: inline-block;}
.weekplanner-calendar .control li a{ display: inline-block; color: #999; margin: 2px 5px; }
.weekplanner-calendar .girls-sheduled{ display: block; color: #222; font-weight: 400; font-size: 12px;}
.weekplanner-calendar .girls-sheduled span{ font-size: 10px; }
.weekplanner-girls-list .widget-content .widget-content-left .widget-heading{ font-size: 13px; }
.weekplanner-girls-list{ background-color: #F6F7F8; position: relative; height: 75vh; }
.weekplanner-girls-list .list-group-item{ background: none; padding:30px 15px; height: 70.5px; border:none; border-bottom: 1px solid #e9ecef !important; }
.weekplanner-girls-list .list-group-item.wplan-h{height: 101.5px}
.weekplanner-girls-list .title{ padding: 27px 15px; font-size: 18px; font-weight: 600; border-bottom: 1px solid #e9ecef !important; }
.weekplanner-girls-list .widget-content-left img{ border:3px solid transparent; }

.drawer-section .card-header-tab-animation{ padding: 0; margin-bottom: 15px; }
.drawer-section .tab-content .widget-content{ padding: 0; }
.drawer-section .nav .nav-link{ font-size: 13px; padding: 13px; }
.drawer-section .tab-content .list-group-item, .drawer-content-wrapper .widget-content{ padding: 10px 0;  }
.drawer-section .tab-content .list-group-item:first-child, .drawer-content-wrapper .list-group-item:first-child{border-top: none;}
.timeline-title strong{ color: #137eff; }

.popover-custom { border-color:#ddd;  width: 445px; top: 9px !important; border-radius: 4px; background: white; box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px; filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2)); }
.popover-custom .arrow:before{ border-bottom-color: #ddd !important; }
.popver-title{ text-align: center; padding: 10px; border-bottom: 1px solid #ddd; }
.popver-title h5{ margin: 0; font-size: 14px; }
.popover-sides{ padding: 16px; position: relative; min-height: 200px; width: 50%; float: left; }
.popover-sides.left { border-right: 1px solid #ddd; }

.girls-li{ margin: 0; padding: 0; }
.girls-li li { display: block; border-bottom:  1px solid #eee; padding: 10px 0; list-style: none; font-size: 13px; }
.girls-li li.total{ border-bottom: none; font-weight: 600; }
.girls-li li span{ margin-right: 5px; }
.girls-li li strong{ float: right; }

.btn-actions-pane-right .btn{ font-size: 12px; }

.working-slots label{ font-size: 10px; margin: 0 0 5px 0; padding: 2px 5px; background:rgba(255,255,255,0.1); }
.weekplanner-calendar{ margin-bottom: 0; }
.weekplanner-calendar tr td .custom-control{ position: absolute; right: 0px; bottom: 5px; opacity: 0; border:none; }
.weekplanner-calendar tr td .custom-control-input:checked .custom-control{ opacity: 1 !important; }
.weekplanner-calendar tr td .custom-control-input:checked ~ .custom-control-label::before { background-color: #3ac47d; }
.weekplanner-calendar tr td .custom-checkbox .custom-control-label::before { border-radius: 0; }

.chat-main .scroll-area-lg{ height: 65vh; }

.chat-users .list-group .list-group-item{ border-bottom: 1px solid #eee !important; border:none; background: none; }
.chat-users .list-group .list-group-item.active, .chat-users .list-group .list-group-item:hover{ background: #fff; color: rgba(13,27,62,0.7); }
.chat-users{ background: #f5f5f5; border-bottom: 1px solid #eee !important; border-right: 1px solid #eee !important;  }

.branch-contact.custom ul{ padding: 0; margin: 0; border:0; }
.branch-contact.custom ul li{ margin-right: 5px; }
.table .progress{ margin: 5px 0; background: #ddd; }

.book-now .girl img{height: 200px;}
.book-now .girl{ border: none; margin-bottom: 15px; padding: 0; }
.book-now .girl .girl-name { padding: 5px; font-size: 13px; }
.table-summary th{ border:none !important; background: rgba(255,255,255,0.1); }
.table-summary td{ border:none !important; }
.girl .choose, .girl:hover .choose { z-index: 99; position: absolute; right: 10px; top: 10px; font-size: 20px; color: #3ac47d !important; }
.service .choose{z-index: 99; position: absolute; right: 15px; top: 15px; font-size: 30px; color: #3ac47d !important; }
.payment-options{ margin: 0; padding: 0; }
.payment-options li {display: inline-block;margin: 0px 10px 15px 0; }
.payment-options li a{ display: inline-block;  border-radius: 3px; padding: 10px 20px; background: #eee; color: #222;  }
.payment-options li a:hover, .payment-options li a.active, .payment-options li a:focus{ background: #3ac47d;  color: #fff !important;}
.card-body.sm{ padding: 8px; }

.uploader-ss {position:relative; overflow:hidden; width:100%; height:250px; background: url(../images/dropzone.png) no-repeat center center/contain #6c757d;

}

.fPhotocc{
    position:absolute;
    width: 100%;
    overflow: hidden;
    height: 250px;
    left: 0;
    z-index:2;
    opacity:0;
 }
.uploader-ss img{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 250px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
 }
 .dropzone {
width: 100%;
overflow: hidden;
height: 440px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
background: url(../images/dropzone.png) no-repeat center center/contain #6c757d;
}
.uploader {position:relative; overflow:hidden; width:100%; height:250px; background: url(../images/dropzone.png) no-repeat center center/contain #6c757d;

}
.uploader-m {position:relative; overflow:hidden; width:100%; height:440px; background: url(../images/dropzone.png) no-repeat center center/contain #6c757d;

}

.fPhoto{
    position:absolute;
    width:100%;
    height:250px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader img{
    position:absolute;
    width:100%;
    height:250px;
    z-index:1;
    border:none;
}
.uploader-m img{
    position:absolute;
    width:100%;
    height:440px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    object-fit: cover;
}
.uploader-s {position:relative; overflow:hidden; width:100%; height:145px; background: url(../images/dropzone.png) no-repeat center center/contain #6c757d;

}

.fPhoto-adv{
    position:absolute;
    width:100%;
    height:160px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
}
.advertiseup_1{
	background: #6c757d;
    text-align: center;
}
.advertiseup_1 img{height: 160px; object-fit: cover;}
.uploader-s img{
    position:absolute;
    width:100%;
    height:145px;
    z-index:1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.fPhoto-rub{
    position:absolute;
    width:100%;
    height:160px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
}
.rubbleup_1{
	background: #6c757d;
    text-align: center;
}
.rubbleup_1 img{height: 236px; object-fit: cover;height: 236px;object-fit: cover;width: 100%;}

#girls-gallery-images{display: inline-block; width: 100%; margin-top: 30px}
#girls-gallery-images{padding-left: 0px;}
#girls-gallery-images li{display: inline-block; margin-right: 10px; margin-bottom: 10px; border:1px solid #f1f1f1;list-style: none; cursor: move;}
#girls-gallery-images li .gallery_image{width: 150px; height: 200px; }
#girls-gallery-images li a{position: absolute; top: 18px; right: 5px; border-radius: 3px; padding: 0px 5px; color: rgba(13,27,62,0.7);}
#girls-gallery-images li a:hover{color: #137eff !important;}
#gallery-sortables{margin-bottom: 10px; margin-top: 20px; display: inline-block; width: 100%;}
#gallery-sortables .upload-progress{height: 10px;}



@media only screen and (max-width: 767px) {
	.login-right{ padding-bottom: 70px; }
	.girl{ margin-bottom: 30px; }
	.zimmer{ margin-bottom: 30px; padding: 15px 10px 15px; }
	.upload-sm, .upload-lg, .branch-img{ margin-bottom: 15px; }
	.app-container.closed-sidebar .fixed-card-header.fixed{ left: 15px; right: 15px; }
	.avatar-holder.round{ border-radius: 4px; }
	.nav .nav-link { font-size: 12px; padding: 10px 5px; }
}

@media only screen and (min-width: 768px) and (max-width: 990px)  {
	.app-container.closed-sidebar .fixed-card-header.fixed{ left: 30px; right: 30px; }
}

.ui-corner-all { z-index: 99999!important;  display: block; background:#e9ecef;border: 0px none;}
.ui-corner-all table td strong{font-weight:normal !important;}

#advertiseview .open-right-drawer img{width: 150px;height: 55px; object-fit: cover;}
.mandatory{float: right; color: #ff0000;}
.addfilialeUpload img{object-fit: cover;}
.userPopupEdit{padding: 0px; margin: 0px; width: 100%; text-align: left;}
.userPopupEdit li{display: inline-block !important;}
.erstellen-eirls{min-height: 40px;}
.erstellen-eirls span{width: 40px; height: 40px; object-fit: cover; display: inline-block; background-size: cover !important;border-radius: 50%;background-position: center top !important;}
.wplan{color: #fff; padding: 5px; position: relative; max-height: 130px; height: 130px}
.weekplanner-calendar.wtime tr td{padding: 0px; vertical-align: top;height: 130px;}
.weekplanner-calendar.wtime tr td .act{position: sticky;bottom: -5px;}
.scroll-area-td{height: 130px;overflow-x: hidden;}
.weekplanner-calendar.wtime tr td .add-shedule{position: absolute;top: 50%; left: 50%; transform: translate(-50%,-50%);}

#chmove{height: auto;min-height: calc(100% - 73px);max-height: calc(100% - 73px);overflow-x: hidden;width: 100%;}
.chat-conversation{    float: right;width: 100%;height: 72vh;overflow: hidden;position: relative;background: #fff;}
.chat-footer{overflow-y: scroll !important;max-height: 150px;}
#chmove::-webkit-scrollbar {display: none;}
.chat-footer::-webkit-scrollbar {display: none;}
.weekFilialenCircl i{font-size: 32px;}
.weekplanner-calendar tr td .scroll-area-td{height: 80px;}
.weekplanner-calendar tr td .wplan{height: 80px; padding-left: 10px;}
.weekplanner-calendar tr td .wplan span{display: block;}
.weekplanner-calendar tr td .add-shedule{margin: 15px auto;}
.bookedGirlsOverlay{opacity:0.4;}