<% include ../../templates/header %>
<div class="app-main__outer">
<div class="app-main__inner">
<div class="app-page-title">
<div class="page-title-wrapper">
    <div class="page-title-heading">
        <div><i class="header-icon lnr-gift"></i><span class="lang_Vouchers"> Gutscheine</span></div>
    </div>
</div>
</div>

<div class="tabs-animation">
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="mb-3 card">
            <div class="fixed-card-header" id="FixedCardHeader">
                <div class="card-header">
                    <div class="card-header-title"><span class="lang_Vouchers">Gutschein Erstellen</span></div>
                </div>
            </div>
            <form id="vouchersForm">
            <div class="card-body bg-grey">
                <div class="voucher-type">
                    <div class="form-row">
                        <div class="col-lg-2 col-sm-3 srate" data-type="pcdata" data-price="cc">
                            <div class="select-voucher pcc <%=(details[0].type==2)?'active':'';%>">
                                <img src="images/vouchers/percentage.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-3 srate" data-type="pdata" data-price="200">
                            <div class="select-voucher p200 <%=(details[0].price==200)?'active':'';%>">
                                <img src="images/vouchers/200.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-3 srate" data-type="pdata" data-price="100">
                            <div class="select-voucher p100 <%=(details[0].price==100)?'active':'';%> ">
                                <img src="images/vouchers/100.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-3 srate" data-type="pdata" data-price="50">
                            <div class="select-voucher p50 <%=(details[0].price==50)?'active':'';%>">
                                <img src="images/vouchers/50.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-3 srate" data-type="pdata" data-price="20">
                            <div class="select-voucher p20 <%=(details[0].price==20)?'active':'';%>">
                                <img src="images/vouchers/20.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-3 srate" data-type="pdata" data-price="10">
                            <div class="select-voucher p10 <%=(details[0].price==10)?'active':'';%>">
                                <img src="images/vouchers/10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="row mt-2">
                    <div class="col-lg-3 col-md-6">
                        <div class="qrcode-holder"></div>
                    </div>
                    <div class="col-lg-9 col-md-6">
                        <div class="position-relative form-group">
                            <label for=""><span class="lang_Title">Titel</span><span class="field-error mandatory"></span></label>
                            <input type="text" class="form-control" placeholder="Titel" value="<%= typeof(details[0].title)!="undefined" && details[0].title!="" ? details[0].title:''; %>" id="title" name="title">
                        </div>
                        <% if(typeof(details[0].id)!="undefined" && details[0].id!=""){%>
                        <div  id="priceView" <%=  (typeof(details[0].price)!="undefined" && details[0].price!="")? 'style=display:block':'style=display:none'; %>>
                            <div class="position-relative form-group">
                                <label for=""><span class="lang_Chf">CHF</span><span class="field-error mandatory"></span></label>
                                <input type="tel" class="form-control" placeholder=""  value="<%= typeof(details[0].price)!="undefined" && details[0].price!="" ? details[0].price:''; %>" id="price" name="price" readonly>
                            </div>
                        </div>
                        
                        <div id="percentageView" <%=  (typeof(details[0].percentage)!="undefined" && details[0].percentage!="")? 'style=display:block':'style=display:none'; %>>
                            <div class="position-relative form-group">
                                <label for=""><span class="lang_Percentage">Prozentsatz</span><span class="field-error mandatory"></span></label>
                                <input type="tel" class="form-control" placeholder="" value="<%= typeof(details[0].percentage)!="undefined" && details[0].percentage!="" ? details[0].percentage:''; %>" id="percentage" name="percentage"readonly>
                            </div>
                        </div>
                        <% }else{%>
                        <div  id="priceView">
                            <div class="position-relative form-group">
                                <label for=""><span class="lang_Chf">CHF</span><span class="field-error mandatory"></span></label>
                                <input type="tel" class="form-control" placeholder=""  value="<%= typeof(details[0].price)!="undefined" && details[0].price!="" ? details[0].price:''; %>" id="price" name="price">
                            </div>
                        </div>
                        
                        <div style="display:none"; id="percentageView">
                            <div class="position-relative form-group">
                                <label for=""><span class="lang_Percentage">Prozentsatz</span><span class="field-error mandatory"></span></label>
                                <input type="tel" class="form-control" placeholder="" value="<%= typeof(details[0].percentage)!="undefined" && details[0].percentage!="" ? details[0].percentage:''; %>" id="percentage" name="percentage">
                            </div>
                        </div>
                         <% }%>
                        <div class="position-relative form-group">
                            <label for=""><span class="lang_Dateofexpiry">Gültig bis</span><span class="field-error mandatory"></span></label>
                            <input type="text" class="form-control swissSdate" value="<%= typeof(details[0].expiry)!="undefined" && details[0].expiry!="" ? details[0].expiry:''; %>" placeholder="Gültig bis" id="expiry" name="expiry" readonly>
                        </div>

                        <div class="position-relative form-group">
                            <label for=""><span class="lang_Mobile">Mobilnummer</span><span class="field-error mandatory"></span></label>
                            <input type="text" class="form-control" placeholder="Mobilnummer" value="<%= typeof(details[0].mobile)!="undefined" && details[0].mobile!="" ? details[0].mobile:''; %>" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');" id="mobile" name="mobile">
                        </div>
                        <input type="hidden" id="editid" name="editid" value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>">
                        <input type="hidden" id="type" name="type" value="<%= typeof(details[0].type)!="undefined" && details[0].type!="" ? details[0].type:'1'; %>">
                    </div>
                </div>
            </div>
            </form>
            <div class="d-block text-right card-footer">
                <a href="/vouchers" class="btn btn-secondary lang_Abort">Abbrechen</a>
                <a href="javascript:void(0)" class="btn btn-success vouchersSubmit lang_Create">Erstellen</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>
</div>
</div>

<% include ../../templates/footer %>
