<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-gift"></i><span class="lang_Vouchers"> Gutscheine</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title"><span class="lang_Vouchers"> Gutscheine</span></div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <% if(sessionPermission[6].uadd=="1"){%>
                                    <a href="addvouchers" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                     <% }%>
                                    <a data-toggle="collapse" href="#show-filter"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
                                </div>
                            </div>
                            <div class="collapse" id="show-filter">
                                <div class="box">
                                    <div class="form-row">
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_VoucherName">Gutscheinname</span></label>
                                                <select type="select" id="vname" name="vname" class="custom-select">
                                                    <option value="All">All</option>
                                                    <%if(list.length>0){
                                                    list.forEach(function(vlist){%>
                                                <option value="<%=vlist.title%>"><%=vlist.title%></option>
                                               <% });
                                                }%>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Chf">CHF</span></label>
                                                <select type="select" id="eprice" name="eprice" class="custom-select">
                                                    <option value="All">All</option>
                                                    <%if(list.length>0){
                                                    list.forEach(function(plist){%>
                                                    <%if(plist.price==""){%>
                                                    <option value="<%=plist.percentage%>"><%=plist.percentage%> % </option>
                                                    <%}else{%>
                                                    <option value="<%=plist.price%>">CHF <%=plist.price%></option>
                                                    <%}%>
                                                
                                               <% });
                                                }%>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Dateofexpiry">Gültig bis</span></label>
                                                <select type="select" id="eexpiry" name="eexpiry" class="custom-select">
                                                    <option value="All">All</option>
                                                    <%if(list.length>0){
                                                    list.forEach(function(elist){%>
                                                <option value="<%=elist.edate%>"><%=elist.expiry%></option>
                                               <% });
                                                }%>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Mobile">Mobilnummer</span></label>
                                                <input type="tel" id="emobile" name="emobile" class="form-control" placeholder="Mobilnummer">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Status">Status</span></label>
                                                <select type="select" id="estatus" name="estatus" class="custom-select">
                                                    <option value="All">All</option>
                                                    <option value="1">aktiv</option>
                                                    <option value="2">inaktiv</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group text-right">
                                                <label for="" class=""><a href="javascript:void(0);" class="removeVouchersFilter"> <i class="pe-7s-close-circle "></i><span class="lang_ClearFilter" > Filter Löschen</span></a></label>
                                                <button class="btn btn-lg btn-block btn-primary vouchersSearchsubmit lang_Send">Senden</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="vouchers" class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th><span class="lang_Vouchers">Gutschein Code</span></th>
                                            <th><span class="lang_Vouchers">Gutscheine</span></th>
                                            <th class="text-right"><span class="lang_Chf">CHF</span></th>
                                            <th><span class="lang_Dateofexpiry">Gültig bis</span></th>
                                            <th><span class="lang_Createdon">Erstellt am</span></th>
                                            <th><span class="lang_Redeemedon">Eingelöst am</span></th>
                                            <th><span class="lang_Mobile">Mobilnummer</span></th>
                                            <th class="text-center"><span class="lang_Status">Status</span></th>
                                            <th class="text-right"><span class="lang_Action">Aktion</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
            </div>
        </div>
    </div>

    <div class="app-drawer-wrapper">
        <div class="drawer-nav-btn">
            <button type="button" class="hamburger hamburger--elastic is-active">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
        </div>
        <div class="drawer-content-wrapper">
            <div class="scrollbar-container">
                <h3 class="drawer-heading"><span class="lang_Vouchers">Gutscheine</span></h3>
               
                <div class="drawer-section">
                    <div class="voucher-view">
                        <span class="voucher-img" id="bqrcode"></span>
                        <table id="vouchersSeparateDetails" class="table table-bordered table-striped">
                           
                        </table>
                        <span class="" <%= (sessionPermission[6].uedit=="1" )? 'style=display:block':'style=display:none'; %>><a href="" class="voucherEdit lang_Edit">Bearbeiten</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-drawer-overlay d-none animated fadeIn"></div>
<% include ../../templates/footer %>