<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-user"></i> <span class="lang_User">Benutzer</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <form id="userForm">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title lang_Base">Basis</div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="/user" class="btn btn-secondary lang_Abort">Abbrechen</a>
                                    <a href="javascript:void(0)" class="btn btn-success usresubmit lang_Create">Erstellen</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-grey">
                            <div class="row">
                                
                                <div class="col-lg-12">
                                    <div class="form-row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Branch">Filiale</span> <span class="field-error mandatory"></span></label>
                                                <select type="select" id="branch" name="branch" class="custom-select">
                                                   
                                                <%if(branch.length>0){
                                                branch.forEach(function(bdata){%>
                                                <option value="<%= bdata.id%>" <%= (details[0].branch)==bdata.id?'selected':''%> ><%= bdata.title%></option>
                                                <%});}%>
                                                </select>
                                            </div>
                                            <input type="hidden" id="editid" name="editid"  value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Function">Funktion</span> <span class="field-error mandatory"></span></label>
                                                <select type="select" id="type" name="type" class="custom-select">
                                                    <option value="CEO" <%= details[0].function == 'CEO' ? 'selected' : '' %>>CEO</option>
                                                    <option value="Geschäftsführer" <%= details[0].function == 'Geschäftsführer' ? 'selected' : '' %>>Geschäftsführer</option>
                                                    <option value="Betreuer" <%= details[0].function == 'Betreuer' ? 'selected' : '' %>>Betreuer</option>
                                                    <option value="IT" <%= details[0].function == 'IT' ? 'selected' : '' %>>IT</option>
                                                    <option value="Girl" <%= details[0].function == 'Girl' ? 'selected' : '' %>>Girl</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Firstname">Vorname</span> <span class="field-error mandatory"></span></label>
                                                <input type="text" id="firstName" name="firstName" class="form-control" value="<%= typeof(details[0].first_name)!="undefined" && details[0].first_name!="" ? details[0].first_name:''; %>" placeholder="Vorname">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Surname">Nachname</span> <span class="field-error mandatory"></span></label>
                                                <input type="text" id="lastName" name="lastName" class="form-control" value="<%= typeof(details[0].last_name)!="undefined" && details[0].last_name!="" ? details[0].last_name:''; %>" placeholder="Nachname">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Mobile">Mobil</span> <span class="field-error mandatory"></span></label>
                                                <input type="tel" id="mobile" name="mobile"class="form-control" value="<%= typeof(details[0].mobile)!="undefined" && details[0].mobile!="" ? details[0].mobile:''; %>" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');" placeholder="+41 xx xxx xxxx ">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Password">Passwort</span> <span class="field-error mandatory"></span></label>
                                                <input type="password" id="password" name="password" class="form-control" value="<%= typeof(details[0].password)!="undefined" && details[0].password!="" ? details[0].password:''; %>" placeholder="Passwort">
                                                <span class="eye-icon"><i toggle="#password"class="fa fa-eye toggle-password"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Email">E-Mail</span> <span class="field-error mandatory"></span></label>
                                                <input type="email" id="email" name="email" class="form-control" value="<%= typeof(details[0].email)!="undefined" && details[0].email!="" ? details[0].email:''; %>" placeholder="E-Mail">

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Status">Status</span> <span class="field-error mandatory"></span></label>
                                                <select type="select" id="status" name="status" class="custom-select">
                                                    <option value="1" <%= details[0].status == '1' ? 'selected' : '' %>>aktiv</option>
                                                    <option value="0" <%= details[0].status == '0' ? 'selected' : '' %>>inaktiv</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                       
                        <% include ../../templates/webSettings %>
                    </div>
                    <div class="d-block text-right card-footer">
                        <a href="/user" class="btn btn-secondary lang_Abort">Abbrechen</a>
                        <a href="javascript:void(0)" class="btn btn-success usresubmit lang_Create">Erstellen</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
<% include ../../templates/footer %>