<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-user"></i> <span class="lang_User">Benutzer</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title lang_User"> Benutzer</div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <% if(sessionPermission[12].uadd=="1"){%>
                                    <a href="adduser" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                     <%}%>
                                    <a class="filterTriger">
                                        <span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link "><i class="pe-7s-filter btn-icon-wrapper"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="show-filter">
                                <div class="box">
                                    <div class="form-row">
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Name">Name</span></label>
                                                <select id="userName" name="userName"  class="multiselect-dropdown form-control" placeholder="Suchen" class="custom-select">
                                                    <option value="All">All</option>
                                                    <% usernamelist.forEach(function(uname){%>
                                                        <option value="<%= uname.first_name %> <%= uname.last_name %>"> <%= uname.first_name %> <%= uname.last_name %></option>
                                                    <%});%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Function">Funktion</span></label>
                                                <select type="select" id="ctype" name="ctype" class="custom-select">
                                                    <option value="All">All</option>
                                                    <option value="CEO">CEO</option>
                                                    <option value="Geschäftsführer">Geschäftsführer</option>
                                                    <option value="Betreuer">Betreuer</option>
                                                    <option value="IT">IT</option>
                                                    <option value="Girl">Girl</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Branch">Filiale</span></label>
                                                <select type="select" id="cbranch" name="cbranch" class="custom-select">
                                                    <option value="All">Alle</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Mobile">Mobilnummer</span></label>
                                                <input type="text" id="cmobile" name="cmobile" class="form-control" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');" placeholder="Mobilnummer">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Status">Status</span></label>
                                                <select type="select" id="cuserstatus" name="cuserstatus" class="custom-select">
                                                    <option value="1">aktiv</option>
                                                    <option value="0">inaktiv</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group text-right">
                                                <label for="" class=""><a href="javascript:void(0)" class="removeUserFilter"> <i class="pe-7s-close-circle"></i> <span class="lang_ClearFilter">Filter Löschen</span></a></label>
                                                <button class="btn btn-lg btn-block btn-primary userSearchsubmit lang_Send">Senden</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="user" class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="lang_Branch">Filiale</th>
                                            <th class="lang_Function">Funktion</th>
                                            <th class="lang_Firstname">Vorname</th>
                                            <th class="lang_Surname">Nachname</th>
                                            <th class="lang_Mobile">Mobil</th>
                                            <th class="lang_Email">E-Mail</th>
                                            <th class="lang_Createdon">Erstellt am</th>
                                            <th class="lang_Status">Status</th>
                                            <% if(sessionPermission[12].uedit=="1" || sessionPermission[12].uview=="1"){%>
                                            <th class="lang_Action">Aktion</th>
                                            <%}%>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<div class="app-drawer-wrapper">
<div class="drawer-nav-btn">
<button type="button" class="hamburger hamburger--elastic is-active">
<span class="hamburger-box"><span class="hamburger-inner"></span></span>
</button>
</div>
<div class="drawer-content-wrapper">
<div class="scrollbar-container">
    <h3 class="drawer-heading lang_View">Aussicht</h3>
    
    <div class="drawer-section">
        <div class="voucher-view">
            <table  id="userSeparateDetails" class="table table-bordered table-striped">
                <tr>
                    <td>Funktion</td>
                    <td><strong>CEO</strong></td>
                </tr>
                <tr>
                    <td>Filiale</td>
                    <td><strong>Zürich</strong></td>
                </tr>
                <tr>
                    <td>Vorname</td>
                    <td><strong>von</strong></td>
                </tr>
                <tr>
                    <td>Nachname</td>
                    <td><strong>Arx</strong></td>
                </tr>
                <tr>
                    <td>Mobil</td>
                    <td><strong>+41 848 888 888</strong></td>
                </tr>
                <tr>
                    <td>E-Mail</td>
                    <td><strong>info@useremail.com</strong></td>
                </tr>
                <tr>
                    <td>Erstellt am</td>
                    <td><strong>20.11.2019 (12:30)</strong></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><strong>Aktiv</strong></td>
                </tr>
            </table>
            <div>
                <ul class="userPopupEdit">
                    <li class="" <%= (sessionPermission[12].uedit=="1" )? 'style=display:block':'style=display:none'; %>>
                        <a href="" class="userEdit lang_Edit">Bearbeiten</a>
                    </li>
                    <li class="" <%=  (sessionPermission[12].udelete=="1" )? 'style=display:block':'style=display:none'; %>><%= (sessionPermission[12].uedit=="1" && sessionPermission[12].udelete=="1"  )? 'I':''; %>
                        <a href="javascript:void(0)" class="userRemove remove_recrod lang_Delete" >Löschen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<% include ../../templates/footer %>