<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-diamond"></i><span class="lang_Loyaltypoints"> Treuepunkte</span></div>
                </div>
            </div>
        </div>
        <form id="pointsForm">
            <div class="tabs-animation">
                <div class="row">
                    
                    <div class="col-lg-8">
                        <div class="mb-3 card">
                            <div class="card-header">
                                <div class="card-header-title"><span class="lang_Create">Erstellen</span></div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="pointview" class="btn btn-secondary lang_Back">Zurück</a>
                                    <a href="javascript:;" class="btn btn-success pointsSubmit lang_Save">Speichern</a>
                                </div>
                            </div>
                            <div class="card-body bg-grey">
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Branch">Filiale</span><span class="field-error mandatory"></span></label>
                                            <select type="select" id="branch" name="branch" class="custom-select">
                                                <%if(branch.length>0){
                                                branch.forEach(function(bdata){%>
                                                <option value="<%= bdata.id%>" <%= (details[0].branch_id)==bdata.id?'selected':''%> ><%= bdata.title%></option>
                                                <%});}%>
                                            </select>
                                        </div>
                                        <input type="hidden" name="editid" id="editid" value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>" />
                                        
                                        <input type="hidden" name="fileDeldata" id="fileDeldata" />
                                        <input type="hidden" name="fileDelname" id="fileDelname" />
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Passporttitle">Pass Titel</span><span class="field-error mandatory"></span></label>
                                            <input type="text" id="title" name="title" class="form-control" placeholder="Pass Titel" value="<%= typeof(details[0].title)!="undefined" && details[0].title!="" ? details[0].title:''; %>">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Totalpoint">Total Punkt</span><span class="field-error mandatory"></span></label>
                                            <input type="text"  id="cpoint" name="cpoint" class="form-control pointvalcheck" placeholder="Total Punkt" value="<%= typeof(details[0].points)!="undefined" && details[0].points!="" ? details[0].points:''; %>" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Longdescription">Kurz Beschreibung</span><span class="field-error mandatory"></span></label>
                                            <textarea id="sdescription" name="sdescription" rows="3" class="form-control" placeholder="Kurz Beschreibung"><%= typeof(details[0].shortdescription)!="undefined" && details[0].shortdescription!="" ? details[0].shortdescription:''; %></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Description">Beschreibung</span></label>
                                            <textarea id="ldescription" name="ldescription" rows="6" class="form-control" placeholder="Beschreibung"><%= typeof(details[0].longdescription)!="undefined" && details[0].longdescription!="" ? details[0].longdescription:''; %></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Uploadpicture">Bilder hochladen</span><span class="field-error mandatory"></span></label>
                                            <input type="hidden" name="imagecount" id="imagecount" value="<%= (point_image.length)!="undefined" && (point_image.length)!="" ? point_image.length:'0'; %>"/>
                                            <input type="hidden" name="u_id" id="u_id" value="<%=u_id%>">
                                            <input type="hidden" name="filetype" id="filetype" value="point">
                                            <label for=""></label>
                                            <input type="file" style="display:none" id="file" multiple="multiple" name="file" accept="image/gif,image/jpeg,image/png,image/jpg" class="gallery-img" ></input>
                                            <div id="upload" class="drop-area dropzone upload-md">
                                                
                                            </div>
                                            
                                            <div id="gallery-sortables">
                                                <ul id="girls-gallery-images" class="gallery imges-gallery">
                                                    <!-- <%=point_image.length%> -->
                                                    <%
                                                    if(point_image.length>0){
                                                    point_image.forEach(function(g_image, index) {
                                                    
                                                    %>
                                                    <li class="gallery_image"><img src="<%= file_link_point_fornt %><%= g_image.image %>" width="42" height="42"><a href="javascript:void(0)" data-id="<%=app.locals.encrypt(g_image.id)%>" data-vid="v<%=g_image.id%>" class="remove-image-point" data-name="<%=g_image.image%>"><i class="fa fa-close"></i></a></li>
                                                    <%
                                                    }); }%>
                                                </ul>
                                            </div>
                                            <div class="progress progress-xxs upload-progress " style="display:none;">
                                                <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="70"
                                                    aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    <span class="sr-only">70% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block text-right card-footer">
                                <a href="pointview" class="btn btn-secondary lang_Back">Zurück</a>
                                <a href="javascript:;" class="btn btn-success pointsSubmit lang_Save">Speichern</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="iphone-x" id="FixedIPhone">
                            <i class="speaker">Speaker</i><b class="camera">Camera</b>
                            <div class="mobil-content">
                                <div class="banner-slider owl-carousel owl-theme" id="show-images">
                                    <!-- <div class="slider">
                                        <img src="images/branch-01.jpg" alt="">
                                    </div>
                                    <div class="slider">
                                        <img src="images/branch-02.jpg" alt="">
                                    </div> -->
                                    <%if(typeof(details[0].id)!="undefined" && details[0].id!=""){%>
                                    <%if(point_image.length>0){
                                    point_image.forEach(function(bdata){%>
                                    <div class="slider">
                                        <img src="<%=file_link_point_fornt%><%=bdata.image%>" alt="">
                                    </div>
                                    <%});}%>
                                    <%}%>
                                </div>
                                <div class="points-detail">
                                    <h3 id="pointTitleview"><%= details[0].title?details[0].title:''; %></h3>
                                    <p id="sdes"><%- details[0].shortdescription?details[0].shortdescription:''; %></p>
                                    <p id="des"><%- details[0].longdescription?details[0].longdescription:''; %></p>
                                    <ul class="points-count" id="viewpointshow">
                                        <!-- <li><span>0</span></li> -->
                                        <%for(i=0;i<(details[0].points);i++){%>
                                        <li ><a href="#"><span><%= i+1%></span></a></li>
                                        <%} %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>