<% include ../../templates/header %>
<div class="app-main__outer">
<div class="app-main__inner">
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div><i class="header-icon lnr-diamond"></i><span class="lang_Loyaltypoints"> Treuepunkte</span></div>
        </div>
    </div>
</div>

<div class="tabs-animation">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="mb-3 card">
                <div class="fixed-card-header" id="FixedCardHeader">
                    <div class="card-header">
                        <div class="card-header-title"><span class="lang_Loyaltypoints"> Treuepunkte</span></div>
                        <div class="btn-actions-pane-right actions-icon-btn">
                            <% if(sessionPermission[7].uadd=="1"){%>
                            <a href="pointcreate" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                            <%}%>
                            <a data-toggle="collapse" href="#show-filter"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
                        </div>
                    </div>
                    <div class="collapse" id="show-filter">
                        <div class="box">
                            <div class="form-row">
                                <div class="col-lg-2 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="" class=""><span class="lang_Passporttitle">Pass Titel</span></label>
                                        <select type="select" id="ctitle" name="ctitle" class="custom-select">
                                        <option value="All">Alle</option>
                                        <%if(pointlist.length>0){
                                        pointlist.forEach(function(pdata){%>
                                        <option value="<%= pdata.title%>"  ><%= pdata.title%></option>    
                                        <%});}%>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="" class=""><span class="lang_Branch">Filiale</span></label>
                                        <select type="select" id="cbranch" name="cbranch" class="custom-select">
                                         <option value="All">Alle</option>
                                            <%if(branch.length>0){
                                        branch.forEach(function(bdata){%>
                                        <option value="<%= bdata.id%>"  ><%= bdata.title%></option>    
                                        <%});}%>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="" class=""><span class="lang_Scorerange">Punktebereich</span></label>
                                        <select type="select" id="cpoint" name="cpoint"  class="custom-select">
                                            <option value="All">Alle</option>
                                            <%if(pointlist.length>0){
                                        pointlist.forEach(function(ppdata){%>
                                        <option value="<%= ppdata.points%>"  ><%= ppdata.points%></option>    
                                        <%});}%>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="" class=""><span class="lang_Createdon">Erstellt am</span></label>
                                        <input type="date" id="cdate" name="cdate" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="" class=""><span class="lang_Status">lang_Status</span></label>
                                        <select type="select" id="cstatus" name="cstatus"  class="custom-select">
                                            <option value="All">Alle</option>
                                            <option value="1">aktiv</option>
                                            <option value="2">inaktiv</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4">
                                    <div class="position-relative form-group text-right">
                                        <label for="" class=""><a href="javascript:void(0)" class="removePointFilter"> <i class="pe-7s-close-circle"></i> <span class="lang_ClearFilter">Filter Löschen</span></a></label>
                                        <button class="btn btn-lg btn-block btn-primary pointSearchsubmit lang_Send">Senden</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="pointview" class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th><span class="lang_Passs">Pass</span></th>
                                    <th><span class="lang_Branch">Filiale</span></th>
                                    <th><span class="lang_Totalpoint">Total Punkte</span></th>
                                    <th><span class="lang_Createdon">Erstellt am</span></th>
                                    <th ><span class="lang_Status">Status</span></th>
                                    <th ><span class="lang_Action">Aktion</span></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>
</div>
<% include ../../templates/footer %>