<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="card mb-4">
            <div>
                <div class="fixed-card-header" id="FixedCardHeader">
                    <div class="card-header weekplanner-header">
                        <div class="form-row">
                            <div class="col-md-3 col-lg-2 col-sm-3">
                                <div class="position-relative form-group">
                                    <select type="select" id="month" name="month" class="custom-select" onchange="monthChange();">
                                        <option value="0">Januar</option>
                                        <option value="1" >Februar</option>
                                        <option value="2" >März</option>
                                        <option value="3" >April</option>
                                        <option value="4" >Mai</option>
                                        <option value="5" >Juni</option>
                                        <option value="6" >Juli</option>
                                        <option value="7" >August</option>
                                        <option value="8" >September</option>
                                        <option value="9" >Oktober</option>
                                        <option value="10" >November</option>
                                        <option value="11">Dezember</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2 col-sm-3">
                                <div class="position-relative form-group">
                                    <select type="select" id="week" name="week" class="custom-select" onchange="weekChange();">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 col-sm-4">
                                <div class="position-relative form-group">
                                    <ul class="pagination custom" id="pl">
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link"><i class="lnr-chevron-left"></i></a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link"><i class="lnr-calendar-full"></i> 2 Dec - 8 Dec</a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link"><i class="lnr-chevron-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="btn-actions-pane-right actions-icon-btn">
                            <a href="javascript:;" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link open-editWeekly" data-date="" data-branchid=" " data-type="main" ><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="form-row">
                        <div class="col-lg-2 col-md-3 col-sm-3 pr-0">
                            <div class="weekplanner-girls-list">
                                <div class="title">Alle Filialen</div>
                                <ul class="list-group list-group-flush" id="blistdata">
                                    
                                    <%if(branch.length>0){
                                    branch.forEach(function(bcdata){%>
                                    
                                    <!-- <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <img width="32" class="rounded-circle border-primary" src="images/user.jpg" alt="">
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"><%=bcdata.title%></div>
                                                    <div class="widget-subheading">Zürich</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li> -->
                                    <%});}%>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-9 pl-0">
                            <div class="">
                                <table class="table weekplanner-calendar">
                                    <thead>
                                        <tr id="hdata">
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody id="tblistdata">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<div class="app-drawer-wrapper">
<div class="drawer-nav-btn">
<button type="button" class="hamburger hamburger--elastic is-active ">
<span class="hamburger-box"><span class="hamburger-inner"></span></span>
</button>
</div>
<div class="drawer-content-wrapper">
<div class="scrollbar-container">
    <h3 class="drawer-heading"><span class="">Plan Erstellen für</span></h3>
    
    <div class="drawer-section">
        <div class="form-group">
            <label for=""><span class="">Datum</span><span class="field-error mandatory"></span></label>
            <input type="text" id="cdate" name="cdate" class="form-control swissSdate" placeholder="" readonly="">
            <input type="hidden" name="edittype" id="edittype" value="">
        </div>
        <div class="form-group mb-0">
            <label for=""><span class="">Filiale</span><span class="field-error mandatory"></span></label>
            <select type="select" id="sbranch" name="sbranch" class="custom-select">
                <option value=""> Filiale auswählen</option>
                <%if(branch.length>0){
                branch.forEach(function(bdata){%>
                <option value="<%=bdata.id%>"><%=bdata.title%></option>
                <%});}%>
                
                
            </select>
        </div>
        <div class="card-header card-header-tab-animation">
            <ul class="nav nav-justified">
                <li class="nav-item"><a data-toggle="tab" href="#tab1" class="nav-link active show rchpoint">Alle</a></li>
                <li class="nav-item"><a data-toggle="tab" href="#tab2" class="nav-link show rchpoint">Anwesenden</a></li>
                <li class="nav-item"><a data-toggle="tab" href="#tab3" class="nav-link show rchpoint">Aktive</a></li>
                <li class="nav-item"><a data-toggle="tab" href="#tab4" class="nav-link show rchpoint">Inaktive</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active show" id="tab1" role="tabpanel">
                <% include ../../weeklyplanner-templates/allgirls %>
                
            </div>
            <div class="tab-pane" id="tab2" role="tabpanel">
                <% include ../../weeklyplanner-templates/presentgirls %>
            </div>
            <div class="tab-pane" id="tab3" role="tabpanel">
                <% include ../../weeklyplanner-templates/activegirls %>
            </div>
            <div class="tab-pane" id="tab4" role="tabpanel">
                <% include ../../weeklyplanner-templates/inactivegirls %>
            </div>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block workSubmit">bestätigen</button>
        </div>
    </div>
</div>
</div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>

<% include ../../templates/footer %>