<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="card mb-4">
            <div>
                <div class="fixed-card-header" id="FixedCardHeader">
                    <div class="card-header weekplanner-header">
                        <div class="form-row">
                            <div class="col-md-3 col-lg-2 col-sm-3">
                                <div class="position-relative form-group">
                                    <select type="select" id="branchtype" name="branchtype" class="custom-select" onchange="branchChange_girls();">
                                        <option value="all">Alle</option>
                                        <%if(branch.length>0){
                                        branch.forEach(function(bcdata){%>
                                        <option value="<%=bcdata.id%>"><%=bcdata.title%></option>
                                        <%});}%>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2 col-sm-3">
                                <div class="position-relative form-group">
                                    <select type="select" id="week" name="week" class="custom-select" onchange="weekChange_girls();">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 col-sm-4">
                                <div class="position-relative form-group">
                                    <ul class="pagination custom" id="pl">
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link"><i class="lnr-chevron-left"></i></a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link"><i class="lnr-calendar-full"></i> 2 Dec - 8 Dec</a></li>
                                        <li class="page-item"><a href="javascript:void(0);" class="page-link"><i class="lnr-chevron-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="btn-actions-pane-right actions-icon-btn">
                            <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Erstellen" data-cdate="" data-branchid="" data-id="" data-employee="" class="btn-icon btn-icon-only btn btn-link add-work"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <table class="table weekplanner-calendar wtime">
                                <thead id="hdata">
                                    <!--  <tr>
                                        <th>
                                            <div class="single-date">
                                                <a href="javascript:;" class="date">Mo. 16 Dec</a>
                                                <ul class="control">
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Ansicht"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Bearbeiten"><i class="fa fa-edit"></i></a></li>
                                                </ul>
                                                <a href="javascript:;" class="girls-sheduled" data-placement="bottom" data-toggle="popover-custom-content" rel="popover-focus" popover-id="0"><span class="text-primary"><i class="fa fa-circle"></i></span> 2 Benutzer</a>
                                                <div id="popover-content-0" class="d-none">
                                                    <div class="popver-title">
                                                        <h5>Tagesübersicht</h5>
                                                    </div>
                                                    <div class="popover-sides left">
                                                        <ul class="girls-li">
                                                            <li><span class="text-primary"><i class="fa fa-circle"></i></span> Alina Mcloughlin  <strong>1</strong></li>
                                                            <li><span class="text-secondary"><i class="fa fa-circle"></i></span> Vinnie Wagstaff <strong>1</strong></li>
                                                            <li class="total">Total Benutzer <strong>2</strong></li>
                                                        </ul>
                                                    </div>
                                                    <div class="popover-sides right">
                                                        <ul class="girls-li">
                                                            <li><span class="text-primary"><i class="fa fa-check-circle"></i></span> Working today  <strong>2</strong></li>
                                                            <li><span class="text-success"><i class="fa fa-thumbs-up"></i></span> Available <strong>0</strong></li>
                                                            <li><span class="text-danger"><i class="fa fa-thumbs-down"></i></span> Unavailable <strong>0</strong></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="single-date today">
                                                <a href="javascript:;" class="date">Today</a>
                                                <ul class="control">
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Ansicht"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Bearbeiten"><i class="fa fa-edit"></i></a></li>
                                                </ul>
                                                <a href="javascript:;" class="girls-sheduled" data-placement="bottom" data-toggle="popover-custom-content" rel="popover-focus" popover-id="0"><span class="text-primary"><i class="fa fa-circle"></i></span> 1 Benutzer</a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="single-date">
                                                <a href="javascript:;" class="date">Mi. 18 Dec</a>
                                                <ul class="control">
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Ansicht"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Bearbeiten"><i class="fa fa-edit"></i></a></li>
                                                </ul>
                                                <a href="javascript:;" class="girls-sheduled" data-placement="bottom" data-toggle="popover-custom-content" rel="popover-focus" popover-id="0">0 Benutzer</a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="single-date">
                                                <a href="javascript:;" class="date">Do. 19 Dec</a>
                                                <ul class="control">
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Ansicht"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Bearbeiten"><i class="fa fa-edit"></i></a></li>
                                                </ul>
                                                <a href="javascript:;" class="girls-sheduled" data-placement="bottom" data-toggle="popover-custom-content" rel="popover-focus" popover-id="0"><span class="text-primary"><i class="fa fa-circle"></i></span> 2 Benutzer</a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="single-date">
                                                <a href="javascript:;" class="date">Fr. 20 Dec</a>
                                                <ul class="control">
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Ansicht"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Bearbeiten"><i class="fa fa-edit"></i></a></li>
                                                </ul>
                                                <a href="javascript:;" class="girls-sheduled" data-placement="bottom" data-toggle="popover-custom-content" rel="popover-focus" popover-id="0"><span class="text-primary"><i class="fa fa-circle"></i></span> 1 Benutzer</a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="single-date">
                                                <a href="javascript:;" class="date">Sa. 21 Dec</a>
                                                <ul class="control">
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Ansicht"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Bearbeiten"><i class="fa fa-edit"></i></a></li>
                                                </ul>
                                                <a href="javascript:;" class="girls-sheduled" data-placement="bottom" data-toggle="popover-custom-content" rel="popover-focus" popover-id="0"><span class="text-primary"><i class="fa fa-circle"></i></span> 1 Benutzer</a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="single-date">
                                                <a href="javascript:;" class="date">So. 22 Dec</a>
                                                <ul class="control">
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Ansicht"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="javascript:;" data-toggle="tooltip" data-original-title="Bearbeiten"><i class="fa fa-edit"></i></a></li>
                                                </ul>
                                                <a href="javascript:;" class="girls-sheduled" data-placement="bottom" data-toggle="popover-custom-content" rel="popover-focus" popover-id="0">1 Benutzer</a>
                                            </div>
                                        </th>
                                    </tr> -->
                                </thead>
                                <tbody id="tblistdata">
                                    <tr>
                                        <td class="active bg-primary">
                                            <p>Alina Mcloughlin <span>Zürich</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">11:00 - 13:00</label>
                                                <label for="">15:00 - 18:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Bearbeiten" data-cdate="" data-branchid="" data-id="1" data-employee="" class="text-success add-work"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove rm-work" data-id="1"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-primary">
                                            <p>Alina Mcloughlin <span>Zürich</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">11:00 - 13:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" data-cdate="" data-branchid="" data-id="2" data-employee="" class="text-success add-work"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-primary">
                                            <p>Alina Mcloughlin <span>Zürich</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <!--  <tr>
                                        <td class="active bg-primary">
                                            <p>Vinnie Wagstaff <span>Zürich</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">15:00 - 18:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-primary">
                                            <p>Vinnie Wagstaff <span>Zürich</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">11:00 - 13:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-primary">
                                            <p>Vinnie Wagstaff <span>Zürich</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active bg-secondary">
                                            <p>Vinnie Wagstaff <span>Basel</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-secondary">
                                            <p>Vinnie Wagstaff <span>Basel</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">01:00 - 13:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="text-success add open-right-drawer"><i class="ion-android-add"></i></a></li>
                                            </ul>
                                            <div class="custom-checkbox custom-control"><input type="checkbox" id="sg29" class="custom-control-input"><label class="custom-control-label" for="sg29"></div>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#"  data-toggle="tooltip" data-original-title="Erstellen"class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active bg-secondary">
                                            <p>Alina Mcloughlin <span>Basel</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-secondary">
                                            <p>Alina Mcloughlin <span>Basel</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">01:00 - 13:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="text-success add open-right-drawer"><i class="ion-android-add"></i></a></li>
                                            </ul>
                                            <div class="custom-checkbox custom-control"><input type="checkbox" id="sg29" class="custom-control-input"><label class="custom-control-label" for="sg29"></div>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#"  data-toggle="tooltip" data-original-title="Erstellen"class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active bg-warning">
                                            <p>Ruben Tillman <span>Bern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td class="active bg-warning">
                                            <p>Ruben Tillman <span>Bern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-warning">
                                            <p>Ruben Tillman <span>Bern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#"  data-toggle="tooltip" data-original-title="Erstellen"class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active bg-warning">
                                            <p>Ruben Tillman <span>Bern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td class="active bg-warning">
                                            <p>Ruben Tillman <span>Bern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-warning">
                                            <p>Ruben Tillman <span>Bern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#"  data-toggle="tooltip" data-original-title="Erstellen"class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active bg-success">
                                            <p>Eliot Huber <span>Luzern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-success">
                                            <p>Eliot Huber <span>Luzern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">11:00 - 13:00</label>
                                                <label for="">15:00 - 18:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#"  data-toggle="tooltip" data-original-title="Erstellen"class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-success">
                                            <p>Eliot Huber <span>Luzern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">11:00 - 13:00</label>
                                                <label for="">15:00 - 18:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active bg-success">
                                            <p>Eliot Huber <span>Luzern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td class="active bg-success">
                                            <p>Eliot Huber <span>Luzern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">11:00 - 13:00</label>
                                                <label for="">15:00 - 18:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-success">
                                            <p>Eliot Huber <span>Luzern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">11:00 - 13:00</label>
                                                <label for="">15:00 - 18:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#"  data-toggle="tooltip" data-original-title="Erstellen"class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active bg-success">
                                            <p>Eliot Huber <span>Luzern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-success">
                                            <p>Eliot Huber <span>Luzern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">11:00 - 13:00</label>
                                                <label for="">15:00 - 18:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" data-original-title="Erstellen" class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td>
                                            <a href="#"  data-toggle="tooltip" data-original-title="Erstellen"class="add-shedule open-right-drawer"><i class="ion-android-add-circle"></i></a>
                                        </td>
                                        <td class="active bg-success">
                                            <p>Eliot Huber <span>Luzern</span></p>
                                            <p class="working-slots">
                                                <label for="">07:00 - 10:00</label>
                                                <label for="">11:00 - 13:00</label>
                                                <label for="">15:00 - 18:00</label>
                                            </p>
                                            <ul class="act">
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Bearbeiten" class="text-success add open-right-drawer"><i class="ion-android-create"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-original-title="Löschen" class="text-danger remove"><i class="ion-android-close"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<div class="app-drawer-wrapper">
<div class="drawer-nav-btn">
<button type="button" class="hamburger hamburger--elastic is-active removeOldData">
<span class="hamburger-box"><span class="hamburger-inner"></span></span>
</button>
</div>
<div class="drawer-content-wrapper">
<div class="scrollbar-container">
    <h3 class="drawer-heading">Plan Erstellen für</h3>
    
    <div class="drawer-section">
        <div class="form-group">
            <label for=""><span class="">Datum</span><span class="field-error mandatory"></span></label>
            <input type="text" id="cdate" name="cdate" class="form-control swissSdate" placeholder="" readonly>
            <input type="hidden" id="editid" name="editid" >
            <input type="hidden" id="rowcount" name="rowcount" value="1">
        </div>
        <div class="form-group">
            <label for=""><span class="">Filiale</span><span class="field-error mandatory"></span></label>
            <select type="select" id="branchid" name="branchid" class="custom-select">
                
            </select>
        </div>
        <div class="form-group">
            <label for=""><span class="">Mitarbeitername</span><span class="field-error mandatory"></span></label>
            <select type="select" id="employeename" name="employeename" class="custom-select">
                
            </select>
        </div>
        <div class="form-group">
            <label for=""><span class="">Zeit von - Zeit bis</span></label>
            <div id="addtime">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block workplanesubmit">Einreichen</button>
        </div>
    </div>
</div>
</div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<% include ../../templates/footer %>