<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Qlic - Home</title>
    <link rel="icon" href="<%= siteadmin_url %>web/img/core-img/favicon.png">
    <link href="<%= siteadmin_url %>web/css/aos.css" rel="stylesheet">
    <link href="<%= siteadmin_url %>web/css/style.css" rel="stylesheet">
    <link href="<%= siteadmin_url %>web/css/responsive.css" rel="stylesheet">
</head>

<body>
    <section class="not_found">
        <div class="error_box">
            <div class="filter">
                <img src="web/img/svg/logo.svg" alt="">
            </div>
            <h1>404</h1>
            <h2>Seite nicht gefunden!</h2>
            <p>Entschuldigung, ein Fehler ist aufgetreten, angeforderte Seite nicht gefunden!</p>
            <a href="https://qlic.ch" class="page-back">Zuhause</a>
        </div>
    </section>
    <script src="<%= siteadmin_url %>web/js/jquery-2.2.4.min.js"></script>
    <script src="<%= siteadmin_url %>web/js/popper.min.js"></script>
    <script src="<%= siteadmin_url %>web/js/bootstrap.min.js"></script>
    <script src="<%= siteadmin_url %>web/js/aos.js"></script>
    <script src="<%= siteadmin_url %>web/js/main.js"></script>

    <script>
        //document.getElementById('vid').play();
    </script>
</body>

</html>
