<% include ../templates/header-login %>
<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">Branch</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
	  <ol class="breadcrumb">
			<li><a href="dashboard">Dashboard</a></li>
			<li class="active">Branch</li>
		</ol>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /row -->
   <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Add New Branch</h3>
                            <p class="text-muted m-b-30 font-13"> </p>
                            <form class="form" method="POST" name="regForm" id="regForm">
                            	<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Kategorie<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <select name="category_id" id="category_id" class="form-control">
										<option value="">Select Category</option>
										<% category.forEach(function(cate_data){%>
										<option value="<%= cate_data.category_id%>"> <%= cate_data.category_name%></option>
										<%});%>
										</select>
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Firmenname<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" value="" id="shop_name" name="shop_name">
										<input type="hidden" name="process" id="process" value="98" />
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Adresse<span class="star">*</span><span class="field-error mandatory"></span></label>
									<textarea id="shop_address" name="shop_address" class="form-control"></textarea>
								</div>
							</div>
							<div id="shopaddressDetails" style="display:none;">
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label">PLZ<span class="star">*</span><span class="field-error mandatory"></span></label>
										
										 <input class="form-control" type="text" value="" id="postcode" name="postcode">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label">Ort<span class="star">*</span><span class="field-error mandatory"></span></label>
										 <input class="form-control" type="text" value="" id="place" name="place">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label">Kanton<span class="star">*</span><span class="field-error mandatory"></span></label>
										<input class="form-control" type="text" value="" id="canton" name="canton">
									</div>
								</div>
							</div>

							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">E-Mail<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" value="" id="shop_email" name="shop_email">
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Benutzername<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" value="" id="shop_uname" name="shop_uname">
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Passwort<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" value="" id="shop_password" name="shop_password">
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Passwort wiederholen<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" value="" id="shop_repeatepassword" name="shop_repeatepassword">
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Kurz Beschreibung<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <textarea id="description" name="description" class="form-control"></textarea>
                                 </div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Vorname<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" value="" id="store_firstName" name="store_firstName">
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Nachname<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" value="" id="store_lastName" name="store_lastName">
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Position<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" value="" id="store_position" name="store_position">
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">E-Mail<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" value="" id="store_email" name="store_email">
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Telefon<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" oninput="this.value=this.value.replace(/[^0-9\-+]/g,'');"  value="" id="store_phone" name="store_phone">
								</div>
							</div>
							<div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="control-label">Mobile<span class="star">*</span><span class="field-error mandatory"></span></label>
                                    <input class="form-control" type="text" oninput="this.value=this.value.replace(/[^0-9\-+]/g,'');" value="" id="store_mobile" name="store_mobile" >
								</div>
							</div>
							
							</div> 
								<div class="form-group">
									<label for="example-text-input" class="col-2 col-form-label"></label>
									<div class="col-12">
									<button type="submit" id="newstore" name="newstore" class="btn btn-success">Submit</button>
									
									</div>
								</div>
							</form>
                        </div>
                    </div>
                </div>
<% include ../templates/footer %>