<% include ../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-lock"></i> <span class="lang_Changepassword">Passwort ändern</span> </div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title lang_Changepassword">Passwort ändern <span class="mandatory"></span></div>
                            </div>
                        </div>
                        <div class="card-body bg-grey">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Currentpassword">Aktuelles Passwort</span></label>
                                                <input type="password" class="form-control" placeholder="Aktuelles Passwort" id="oldPassword" name="oldPassword">
                                                <span class="eye-icon"><i toggle="#oldPassword"class="fa fa-eye toggle-password"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Newpassword">Neues Passwort</span></label>
                                                <input type="password" class="form-control" placeholder="Neues Passwort" id="newPassword" name="newPassword">
                                                <span class="eye-icon"><i toggle="#newPassword"class="fa fa-eye toggle-password"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_confirmNewpassword">Neues Passwort bestätigen</span></label>
                                                <input type="password" class="form-control" placeholder="Neues Passwort bestätigen" id="newConPassword" name="newConPassword">
                                                <span class="eye-icon"><i toggle="#newConPassword"class="fa fa-eye toggle-password"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-block text-right card-footer">
                            <a href="javascript:history.back()" class="btn btn-secondary lang_Back">Zurück</a>
                            <a href="javascript:void(0)" class="btn btn-success changePassword lang_Save">Speichern</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../templates/footer %>