<% include ../templates/header-login %>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto app-login-box col-lg-12">
                            <div class="modal-dialog login-page w-100 mx-auto no-shadow">
                                 <div class="modal-content no-radius no-border">
                                        <div class="form-row">
                                            <div class="col-md-12 col-lg-6">
                                                <div class="modal-body login-left">
                                                    <div class="h5 modal-title">
                                                        <h4 class="mt-2">
                                                            <div>iwox</div>
                                                            <span>wir lieben was wir tun...</span>
                                                        </h4>
                                                    </div>
                                                    <div class="login-logo">
                                                        <img src="<%= site_redirect_url%>images/logo-icon-white.png" alt="">
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6 position-relative">
                                                <div class="modal-body login-right">
                                                    <div class="h5 modal-title">
                                                        <h4 class="mt-2">
                                                            <div>Passwort vergessen?</div>
                                                            <span>Geben Sie unten Ihre Mobilnummer ein und wir senden Ihnen Anweisungen zum Zurücksetzen Ihres Passworts.</span>
                                                        </h4>
                                                        
                                                    </div>
                                                <!--     <form class=""> -->
                                                        <div class="form-row">
                                                            <div class="col-md-12">
                                                                <div class="position-relative form-group">
                                                                    <span class="mandatory"></span>
                                                                    <input name="email" id="email" placeholder="E-mail" type="text" class="form-control"></div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-block btn-primary btn-lg forgotpassword">Senden</button>
                                                   <!--  </form> -->
                                                    
                                                    <div class="clearfix"></div>
                                                </div>
                                                <p class="back-to-login text-muted">Zurück zur <a href="/" class="text-muted">Anmeldung</a></p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="text-center text-white opacity-8 mt-3">Copyright © Swisstik 2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../templates/footer %>