<% include ../templates/header-login %>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto app-login-box col-lg-12">
                            <div class="modal-dialog login-page w-100 mx-auto no-shadow">
                                <div class="modal-content no-radius no-border">
                                    <div class="form-row">
                                        <div class="col-md-12 col-lg-6">
                                            <div class="modal-body login-left">
                                                <div class="h5 modal-title">
                                                    <h4 class="mt-2">
                                                    <div>iwox</div>
                                                    <span></span>
                                                    </h4>
                                                </div>
                                                <div class="login-logo">
                                                    <img src="<%= site_redirect_url%>images/logo-icon-white.png" alt="">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6">
                                            <div class="modal-body login-right">
                                                <div class="h5 modal-title">
                                                    <h4 class="mt-2">
                                                    <div class="lang" >Passwort zurücksetzen</div>
                                                    <span></span><span class="mandatory"></span>
                                                    </h4>
                                                </div>
                                                <form class="" id="rp_form" name="rp_form" encType="multipart/form-data">
                                                    <div class="form-row">
                                                        <div class="col-md-12">
                                                            <div class="position-relative form-group">
                                                                <input name="password" id="password" placeholder="Passwort" type="password" class="form-control" ">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="position-relative form-group">
                                                                <input name="confirmpassword" id="confirmpassword" placeholder="Bestätige das Passwort" type="password" class="form-control">
                                                                <span class="eye-icon"><i toggle="#password"class="fa fa-eye toggle-password"></i></span>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="uid" name="uid" value="<%=uid%>">
                                                    </div>
                                                    <div class="position-relative form-check mb-3">
                                                        
                                                        <label for="exampleCheck" class="form-check-label text-muted"></label>
                                                        <div class="float-right">
                                                            <a href="/" class="text-muted">Anmelden</a>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary btn-lg resetpassword"  type="button" >einreichen</button>
                                                </form>
                                                
                                                
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center text-white opacity-8 mt-3">Copyright © iWOX 2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../templates/footer %>