<% include ../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper mb-3">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-layers"></i> Übersicht</div>
                </div>
            </div>
            <div class="btn-group">
          
                <%if(chdata.length>0){%>
                <div id="ch_in" <%=  (chdata[0].type=="1")? 'style=display:none':'style=display:block'; %>>
                <a href="javascript:void(0)" class="btn btn-success btn-lg ch_data" data-id="1">Check-in</a>
                </div>
                
                <div id="ch_out" <%=  (chdata[0].type=="2")? 'style=display:none':'style=display:block'; %>>
                <a href="javascript:void(0)" class="btn btn-danger btn-lg ch_data" data-id="2">Check-out</a>
                  </div>
                <%}else{%>
                <div id="ch_in">
                <a href="javascript:void(0)" class="btn btn-success btn-lg ch_data" data-id="1">Check-in</a>
                </div>
                <div id="ch_out" style="display:none;">
                <a href="javascript:void(0)" class="btn btn-danger btn-lg ch_data" data-id="2">Check-out</a>
                </div>
                  <%}%>
                
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title"> Übersicht <strong><span id="viewdate"></span></strong></div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <input type="hidden" id="spv" name="spv" value="0">
                                    <a href="javascript:;" class="btn btn-secondary open-right-drawer">
                                                    Benutzerdefiniert 
                                    </a>
                                     <a href="javascript:void(0)" class="btn btn-secondary spfilter" data-id="ctoday">
                                            Heute 
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-secondary spfilter" data-id="cweek">
                                            Woche 
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-secondary spfilter " data-id="cmonth">
                                            Monat
                                        </a>
                                        <a href="javascript:void(0)" class="btn">
                                            |
                                        </a>
                                        <a href="javascript:void(0)" class="btn pdfw">
                                            <span data-toggle="tooltip" data-original-title="PDF Download" class="btn-icon btn-icon-only btn btn-link">
                                                <i class="pe-7s-download btn-icon-wrapper"></i>
                                            </span>
                                        </a>
                                    <a data-toggle="collapse" href="#show-filter" class="btn"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
                                </div>
                            </div>
                            <div class="collapse" id="show-filter">
                                <div class="box">
                                    <div class="form-row">
                                        <div class="col-lg-3 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class="">Name</label>
                                                <select type="select" id="cname" name="cname" class="multiselect-dropdown">
                                                    <option value="all">Alle</option>
                                                    <%if(user.length>0){
                                                    user.forEach(function(udata)
                                                    {%>
                                                        <option value="<%= udata.id%>"><%= udata.first_name%> <%= udata.last_name%></option>
                                                    <%});}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class="">Abteilung</label>
                                                <select type="select" id="cbranch" name="cbranch" class="custom-select">
                                                    <option value="all">Alle</option>
                                                    <%if(branch.length>0){
                                                    branch.forEach(function(bdata)
                                                    {%>
                                                        <option value="<%= bdata.id%>"><%= bdata.title%></option>
                                                    <%});}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class="">Tel</label>
                                                <input type="text" id="cmobile" name="cmobile" class="form-control" placeholder="Telefon">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class="">Status</label>
                                                <select type="select" id="cstatus" name="cstatus" class="custom-select">
                                                    <option value="all">Alle</option>
                                                    <option value="1">Anwesend</option>
                                                    <option value="2">Abwesend</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group text-right">
                                                <label for="" class=""><a href="javascript:void(0)" class="removeDashboardFilter"> <i class="pe-7s-close-circle"></i> Filter Löschen</a></label>
                                                <button class="btn btn-lg btn-block btn-primary dashboardSearchsubmit">Senden</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table  id="dashboardview" class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-right">Date</th>
                                            <th>Abteilung</th>
                                            <th>Vorname</th>
                                            <th>Nachname</th>
                                            <th>Tel</th>
                                            <th>E-Mail</th>
                                            <th>Erstellt am</th>
                                            <th>Status</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-left">
                    <p>Copyright © 2020 Swisstik. Alle Rechte vorbehalten.</p>
                </div>
                <div class="app-footer-right">
                    <p>Entwickelt von <a href="#">Company Name</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="app-drawer-wrapper datePopup">
        <div class="drawer-nav-btn drawer-nav-btnc">
            <button type="button" class="hamburger hamburger--elastic is-active">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
        </div>
        <div class="drawer-content-wrapper">
            <div class="scrollbar-container">
                <h3 class="drawer-heading">Übersicht Filter</h3>
               
                <div class="drawer-section">
                     <div class="form-group">
                    <input class="form-control" type="text" name="daterange" id="dater" value=""/>
                    </div>
                      
            <!-- <button class="btn btn-primary btn-lg btn-block date-range">Suche</button> -->
            <input type="hidden" id="seldata" name="seldata" value="dview">
        
                </div>

            </div>

        </div>
        
    </div>
    <div class="app-drawer-overlay d-none animated fadeIn"></div>
<% include ../templates/footer %>