<% include ../../templates/header %>
<style type="text/css">


</style>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-apartment"></i> <span class="lang_Branch">Filiale</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <form id="brnachForm" >
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title"><span class="lang_Base">Basis</span></div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="filiale" class="btn btn-secondary lang_Back">Zurück</a>
                                    <a href="javascript:void(0)" class="btn btn-success branchSubmit lang_Save" >Speichern</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-grey">
                            <div class="row"><span class="imagecheck"></span>
                                <div class="col-lg-5">
                                 <% if (details[0].image !="" && typeof(details[0].image) !="undefined" && typeof(details[0].image) !=undefined){ %>
                                    <div class="uploader-m fileup_1 addfilialeUpload" >
                                        
                                        <img src="<%= file_link_branch_fornt%><%=details[0].image%>">
                                        <input type="file" name="branchimage"  id="filePhoto_1" class="fPhoto filePhoto_1"  data-id="filePhoto_1" data-imval="fileup_1" style="height: 100%" accept="image/jpeg,image/png,image/jpg"/>
                                    </div>
                                <%}else{%>
                                <div class="uploader-m fileup_1 addfilialeUpload" >
                
                                        <img src="../images/dropzone.png"/>
                                        <input type="file" name="branchimage"  id="filePhoto_1" class="fPhoto filePhoto_1"  data-id="filePhoto_1" data-imval="fileup_1" style="height: 100%" accept="image/jpeg,image/png,image/jpg"/>
                                    </div>
                                <%}%>
                                </div>
                                <div class="col-lg-7">
                                    <div class="form-row">
                                         <div class="col-lg-12 col-md-12">
                                            <div class="position-relative form-group">
                                                <div class="example-content well">
                                                <label for=""><span class="">Color</span><span class="field-error mandatory"></span></label>
                                                <input type="text" id="button_color" name="button_color" class="form-control " value="<%= typeof(details[0].color)!="undefined" && details[0].color!="" ? details[0].color:''; %>" placeholder="Color" ">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Title">Titel</span><span class="field-error mandatory"></span></label>
                                                <input type="text"  id="titel" name="titel" class="form-control" value="<%= typeof(details[0].title)!="undefined" && details[0].title!="" ? details[0].title:''; %>" placeholder="Titel">
                                            </div>
                                            <input type="hidden" name="editid" id="editid" value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>" />
                                            <input type="hidden" name="old_branch_image" id="old_branch_image" value="<%= typeof(details[0].image)!="undefined" && details[0].image!="" ? details[0].image:''; %>" />
                                
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Category">Kategorie</span><span class="field-error mandatory"></span></label>
                                                <select type="select" id="category" name="category" class="custom-select">
                                                     <% if(category.length!=""){
                                                    category.forEach(function(categoryval){%>
                                                    <option value="<%= categoryval.id%>"<% if(categoryval.id == details[0].category){%><%='selected'%><%}%>><%= categoryval.category%></option>
                                                    <%});}%>  
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Rooms">Zimmer</span><span class="field-error mandatory"></span></label>
                                                <input type="text" id="room" name="room" value="<%= typeof(details[0].room)!="undefined" && details[0].room!="" ? details[0].room:''; %>" class="form-control" placeholder="0" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Girls">Girls</span><span class="field-error mandatory"></span></label>
                                                <input type="text" id="girls" name="girls" class="form-control" value="<%= typeof(details[0].girls)!="undefined" && details[0].girls!="" ? details[0].girls:''; %>"placeholder="0" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Address">Adresse</span><span class="field-error mandatory"></span></label>
                                                <input type="text" id="branch_address" name="branch_address" class="form-control" value="<%= typeof(details[0].address)!="undefined" && details[0].address!="" ? details[0].address:''; %>" placeholder="Adresse">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                        <div id="addressDetails"  style="<%= details[0].address? 'display:block' : 'display:none' %>">
                                        <div class="form-row">
                                            <div class="col-lg-4 col-md-4">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Postcode">PLZ</span><span class="field-error mandatory"></span></label>
                                                    <input type="text" id="postcode" name="postcode" class="form-control" value="<%= typeof(details[0].postcode)!="undefined" && details[0].postcode!="" ? details[0].postcode:''; %>"placeholder="PLZ">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Place">Ort</span><span class="field-error mandatory"></span></label>
                                                    <input type="text" id="place" name="place" class="form-control" value="<%= typeof(details[0].place)!="undefined" && details[0].place!="" ? details[0].place:''; %>" placeholder="Ort">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <div class="position-relative form-group">
                                                    <label for=""><span class="lang_Canton">Kanton</span><span class="field-error mandatory"></span></label>
                                                    <input type="text" id="canton" name="canton" class="form-control" value="<%= typeof(details[0].canton)!="undefined" && details[0].canton!="" ? details[0].canton:''; %>" placeholder="Kanton">
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Email">E-Mail</span><span class="field-error mandatory"></span></label>
                                                <input type="email" id="email" name="email" class="form-control" placeholder="E-Mail" value="<%= typeof(details[0].email)!="undefined" && details[0].email!="" ? details[0].email:''; %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Telephone">Telefon</span><span class="field-error mandatory"></span></label>
                                                <input type="tel" id="phone" name="phone"  class="form-control" value="<%= typeof(details[0].phone)!="undefined" && details[0].phone!="" ? details[0].phone:''; %>" placeholder="+41 xx xxx xxxx ">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Website">Webseite</span><span class="field-error mandatory"></span></label>
                                                <input type="url" id="website" name="website" class="form-control" value="<%= typeof(details[0].website)!="undefined" && details[0].website!="" ? details[0].website:''; %>" placeholder="Url">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Leader">Leiter</span><span class="field-error mandatory"></span></label>
                                                <select type="select" id="leader" name="leader" class="custom-select"  onchange="getleaderdata()">
                                                    <option value="" >wähle Leiter</option>
                                                  <% if(user.length!=""){
                                                    user.forEach(function(suser){%>
                                                    <option value="<%= suser.id %>" <%= (suser.id) == details[0].userid && details[0].leader!=""?'selected ':''%>> <%= suser.first_name %> <%= suser.last_name %></option>
                                                    <%});}%>   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Telleader">Tel. Leiter</span><span class="field-error mandatory"></span></label>
                                                <input type="tel" id="leadermobile" name="leadermobile" class="form-control" value="<%= typeof(details[0].umobile)!="undefined" && details[0].umobile!="" && details[0].leader!="" ? details[0].umobile:''; %>" placeholder="Tel. Leiter" readonly="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for=""><span class="lang_Emailleader">E-Mail Leiter</span><span class="field-error mandatory"></span></label>
                                                <input type="email" id="leaderemail" name="leaderemail" class="form-control"  value="<%= typeof(details[0].uemail)!="undefined" && details[0].uemail!="" && details[0].leader!=""? details[0].uemail:''; %>" placeholder="E-Mail Leiter" readonly="" ="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <ul class="nav">
                                <li class="nav-item"><a data-toggle="tab" href="#zimmer-add" class="nav-link active show"><span class="lang_Rooms">Zimmer</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#lokal-bewilligung" class="nav-link show"><span class="lang_Localapproval">Lokal Bewilligung</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#verantwortliche" class="nav-link show"><span class="lang_Authapproval">Bewilligung Verantwortliche</span></a></li>
                            </ul>
                        </div>
                        <div class="card-body bg-grey">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="zimmer-add" role="tabpanel">
                                   <% include ../../branch-templates/rooms %>  
                                </div>
                                <div class="tab-pane show" id="lokal-bewilligung" role="tabpanel">
                                    <% include ../../branch-templates/localapproval %> 
                                </div>
                                <div class="tab-pane show" id="verantwortliche" role="tabpanel">
                                   <% include ../../branch-templates/branchauthroization %>  
                                </div>
                            </div>
                        </div>
                        <div class="d-block text-right card-footer">
                            <a href="/filiale" class="btn btn-secondary lang_Back">Zurück</a>
                            <a href="javascript:void(0)" class="btn btn-success branchSubmit lang_Save">Speichern</a>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>

<% include ../../templates/footer %>