<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-apartment"></i><span class="lang_Branch"> Filiale</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title"><span class="lang_Branch">Filiale</span></div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="addfiliale" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                    <a data-toggle="collapse" href="#show-filter"><span data-toggle="tooltip" data-original-title="Filter" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-filter btn-icon-wrapper"></i></span></a>
                                </div>
                            </div>
                            <div class="collapse" id="show-filter">
                                <div class="box">
                                    <div class="form-row">
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="">Title</span></label>
                                                <select type="select" id="vctitle" name="vctitle" class="multiselect-dropdown">
                                                    <option value="all">Alle</option>
                                                     <% if(details.length>0){
                                                     details.forEach(function(tdata){%>
                                                     <option value="<%= tdata.title%>"><%= tdata.title%></option>

                                                     <%});}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Category">Kategorie</span></label>
                                                 <select type="select" id="vccategory" name="vccategory" class="custom-select">
                                                    <option value="all">Alle</option>
                                                     <% if(category.length>0){
                                                     category.forEach(function(cdata){%>
                                                     <option value="<%= cdata.id%>"><%= cdata.categoryc%></option>

                                                   <%});}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Canton">Kanton</span></label>
                                                <select type="select" id="vcplace" name="vcplace" class="custom-select">
                                                    <option value="all">Alle</option>
                                                     <% if(details.length>0){
                                                     details.forEach(function(pdata){%>
                                                     <option value="<%= pdata.place%>"><%= pdata.place%></option>

                                                     <%});}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Rooms">Zimmer</span></label>
                                                <input type="text" class="form-control" id="vcroom" name="vcroom">
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="" class=""><span class="lang_Leader">Leiter</span></label>
                                                <select type="select" id="vcleader" name="vcleader" class="multiselect-dropdown">
                                                     <option value="all">Alle</option>
                                                     <% if(leader.length>0){
                                                     leader.forEach(function(ldata){%>
                                                     <option value="<%= ldata.id%>"><%= ldata.leaderc%></option>

                                                    <%});}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4">
                                            <div class="position-relative form-group text-right">
                                                <label for="" class=""><a href="javascript:void(0)" class="removebranchFilter"> <i class="pe-7s-close-circle"></i> <span class="lang_ClearFilter">Filter Löschen</span></a></label>
                                                <button class="btn btn-lg btn-block btn-primary lang_Send branchlistfun">Senden</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body branch-list total-branch">
                            <%details.forEach(function(bdata){%>

                            <div class="row branch blist">
                                <div class="col-lg-2 col-md-4">
                                
                                    <%if (bdata.image !="" && bdata.image !="undefined"){ %>
                                    <a href="filialedetails?branchid=<%=  app.locals.encrypt(bdata.id)%>" class="branch-img" style="background: url('<%= file_link_branch_fornt%><%= bdata.image !="" && bdata.image !="undefinded"?bdata.image:'' %>') no-repeat center center/cover;"></a>
                                    <%}else{%>
                                    <a href="filialedetails?branchid=<%=  app.locals.encrypt(bdata.id)%>" class="branch-img" style="background: url('../images/dummy1.jpg') no-repeat center center/cover;"></a>
                                    <%}%>
                                </div>
                                <div class="col-lg-10 col-md-8">
                                    <a href="filialedetails?branchid=<%=  app.locals.encrypt(bdata.id)%>" class="branch-title">
                                        <span class="category"><%= bdata.category%></span>
                                        <h3><%= bdata.title%></h3>
                                    </a>
                                    <div class="branch-info">
                                        <ul>
                                            <li><span class="lang_Canton">Kanton</span> : <span><%= bdata.canton%></span></li>
                                            <li><span class="lang_Rooms">Zimmer</span> : <span><%= bdata.roomcount%></span></li>
                                            <li><span class="lang_Girls">Girls</span> : <span><%= bdata.girlscount%></span></li>
                                            <li><span class="lang_Leader">Leiter</span> : <span><%= bdata.leader%></span></li>
                                        </ul>
                                    </div>
                                    <div class="branch-contact">
                                        <ul>
                                            <li><i class="ico lnr-map-marker"></i><a href=""><%= bdata.address%></a></li>
                                            <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888"><%= bdata.phone%></a></li>
                                            <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com"><%= bdata.email%></a></li>
                                            <li><i class="ico lnr-link"></i><a href="#"><%= bdata.website%></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>