<% include ../../templates/header %>
<div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div><i class="header-icon lnr-apartment"></i><span class="">Filiale</span></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tabs-animation">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="mb-3 card">
                                    <div class="fixed-card-header" id="FixedCardHeader">
                                        <div class="card-header">
                                            <div class="card-header-title"><span class="">Basis</span></div>
                                            <div class="btn-actions-pane-right actions-icon-btn">
                                                <a href="/filiale" class="btn btn-secondary">Zurück</a>
                                                <a href="editbranch?branchid=<%=  app.locals.encrypt(details[0].id)%>" class="btn btn-warning">Bearbeiten</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body bg-grey branch-view">
                                        <div class="row branch">
                                            <div class="col-lg-2 col-md-4">
                                                <% if(details[0].image !="" && details[0].image !="undefined"){%>
                                                <span class="branch-img" style="background: url('<%= file_link_branch_fornt%><%= details[0].image !="" && details[0].image !="undefinded"?details[0].image:'' %>') no-repeat center center/cover;"></span>
                                                <% } else{%>
                                                <span class="branch-img" style="background: url('../images/dummy1.jpg') no-repeat center center/cover;"></span>
                                                <%}%>
                                            </div>
                                            <div class="col-lg-10 col-md-8">
                                                <span class="branch-title">
                                                    <span class="category"><%= details[0].catename !="" && details[0].catename !=undefined?details[0].catename:''%></span>
                                                    <h3><%= details[0].title !="" && details[0].title !=undefined?details[0].title:''%></h3>
                                                </span>
                                                <div class="branch-info">
                                                    <ul>
                                                        <li>Kanton : <span><%= details[0].canton !="" && details[0].canton !=undefined?details[0].canton:''%></span></li>
                                                        <li>Zimmer : <span><%= details[0].roomcount !="" && details[0].roomcount !=undefined?details[0].roomcount:''%></span></li>
                                                        <li>Girls : <span><%= details[0].girlscount !="" && details[0].girlscount !=undefined?details[0].girlscount:''%></span></li>
                                                        <li>Leiter : <span><%= details[0].uname !="" && details[0].uname !=undefined?details[0].uname:''%></span></li>
                                                    </ul>
                                                </div>
                                                <div class="branch-contact">
                                                    <ul>
                                                        <li><i class="ico lnr-map-marker"></i><a href=""><%= details[0].address !="" && details[0].address !=undefined?details[0].address:''%></a></li>
                                                        <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888"><%= details[0].phone !="" && details[0].phone !=undefined?details[0].phone:''%></a></li>
                                                        <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com"><%= details[0].email !="" && details[0].email !=undefined?details[0].email:''%></a></li>
                                                        <li><i class="ico lnr-link"></i><a href="#"><%= details[0].website !="" && details[0].website !=undefined?details[0].website:''%></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header">
                                        <ul class="nav">
                                            <li class="nav-item"><a data-toggle="tab" href="#zimmer-add" class="nav-link active show">Zimmer</a></li>
                                            <li class="nav-item"><a data-toggle="tab" href="#girls-add" class="nav-link show">Girls</a></li>
                                            <li class="nav-item"><a data-toggle="tab" href="#lokal-bewilligung" class="nav-link show">Lokal Bewilligung</a></li>
                                            <li class="nav-item"><a data-toggle="tab" href="#bewilligung-verantwortliche" class="nav-link show">Bewilligung Verantwortliche</a></li>
                                            <li class="nav-item"><a data-toggle="tab" href="#statistics" class="nav-link show">Statistik</a></li>
                                        </ul>
                                    </div>
                                    <div class="card-body bg-grey">

                                        <div class="tab-content">                                
                                            <div class="tab-pane active show" id="zimmer-add" role="tabpanel">
                                                 <% include ../../branch-templates/roomsview %>  
                                            </div>
                                            <div class="tab-pane show" id="girls-add" role="tabpanel">
                                                 <% include ../../branch-templates/girlsview %>  
                                            </div>
                                            <div class="tab-pane show" id="lokal-bewilligung" role="tabpanel">
                                                <% include ../../branch-templates/localapproveview %>  
                                            </div>
                                            <div class="tab-pane show" id="bewilligung-verantwortliche" role="tabpanel">
                                                <% include ../../branch-templates/branchauthroizationview %>  
                                            </div>
                                           <div class="tab-pane show" id="statistics" role="tabpanel">
                                                <% include ../../branch-templates/chatreport %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-block text-right card-footer">
                                        <a href="/filiale" class="btn btn-secondary">Zurück</a>
                                        <a href="editbranch?branchid=<%=  app.locals.encrypt(details[0].id)%>" class="btn btn-warning">Bearbeiten</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

<% include ../../templates/footer %>