<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-smile"></i> <span class="lang_Customers">Kunden</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title lang_Base">Basis</div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="customerdebt" class="btn btn-secondary lang_Back">Zurück</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-grey branch-view">
                            <div class="row branch">
                                <div class="col-lg-2 col-md-4">
                                    <div class="avatar-holder round large center mb-2">
                                        <img src="images/user.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-8">
                                    <a href="#" class="branch-title">
                                        <span class="category"><%= typeof(details[0].badge)!="undefined" && details[0].badge!="" ? details[0].badge:''; %></span>
                                        <h3><%= typeof(details[0].first_name)!="undefined" && details[0].first_name!="" ? details[0].first_name:''; %> <%= typeof(details[0].last_name)!="undefined" && details[0].last_name!="" ? details[0].last_name:''; %></h3>
                                    </a>
                                    <div class="branch-info">
                                        <ul>
                                            <li><span class="lang_Dob">Geburtsdatum</span> : <span><%= typeof(details[0].dob)!="undefined" && details[0].dob!="" ? details[0].dob:''; %></span></li>
                                            <li><span class="lang_Turnover">Umsatz</span> : <span>CHF 1'000.00</span></li>
                                            <li><span class="lang_Branch">Filiale</span> : <span><%= typeof(details[0].branch)!="undefined" && details[0].brnach!="" ? details[0].branch:''; %></span></li>
                                        </ul>
                                    </div>
                                    <div class="branch-contact">
                                        <ul>
                                            <li><i class="ico lnr-map-marker"></i><a href="">Zollikerstrasse 788, 8008 Zurich</a></li>
                                            <li><i class="ico lnr-phone-handset"></i><a href="tel:+41 848 888 888"><%= typeof(details[0].mobile)!="undefined" && details[0].mobile!="" ? details[0].mobile:''; %></a></li>
                                            <li><i class="ico lnr-envelope"></i><a href="mailto:info@email.com"><%= typeof(details[0].email)!="undefined" && details[0].email!="" ? details[0].email:''; %></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <ul class="nav">
                                <li class="nav-item"><a data-toggle="tab" href="#verlauf" class="nav-link active show"><span class="lang_Course">Verlauf</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#treuepass" class="nav-link show"><span class="lang_pass">Treuepass</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#gutscheine" class="nav-link show"><span class="lang_Vouchers">Gutscheine</span></a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#schulden" class="nav-link show"><span class="lang_Debts">Schulden</span></a></li>
                            </ul>
                        </div>
                        <div class="card-body bg-grey">
                            <div class="tab-content">
                                
                                <div class="tab-pane active show" id="verlauf" role="tabpanel">
                                    <div class="mb-4">
                                        <h4><span class="lang_Course">Verlauf</span></h4>
                                    </div>
                                    <div class="vertical-timeline custom vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                        <h6 class="timelin-date">Okt 9, 2019</h6>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div>
                                                <div class="vertical-timeline-element-icon bounce-in">
                                                    <i class="lnr-history"></i>
                                                </div>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">The Clearing Factor</h4>
                                                    <div class="branch-info">
                                                        <ul>
                                                            <li>Filiale : <span>Zürich</span></li>
                                                            <li>Preis : <span>CHF 999.00</span></li>
                                                            <li>Girl : <span>Girl Name 01</span></li>
                                                        </ul>
                                                    </div>
                                                    <span class="vertical-timeline-element-date">10:30 PM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="timelin-date">Okt 7, 2019</h6>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div>
                                                <div class="vertical-timeline-element-icon bounce-in">
                                                    <i class="lnr-history"></i>
                                                </div>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">Water Shiatsu</h4>
                                                    <div class="branch-info">
                                                        <ul>
                                                            <li>Filiale : <span>Zürich</span></li>
                                                            <li>Preis : <span>CHF 249.00</span></li>
                                                            <li>Girl : <span>Girl Name 01</span></li>
                                                        </ul>
                                                    </div>
                                                    <span class="vertical-timeline-element-date">10:30 PM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div>
                                                <div class="vertical-timeline-element-icon bounce-in">
                                                    <i class="lnr-history"></i>
                                                </div>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">Turkish Hamam Rub and Scrub</h4>
                                                    <div class="branch-info">
                                                        <ul>
                                                            <li>Filiale : <span>Zürich</span></li>
                                                            <li>Preis : <span>CHF 99.00</span></li>
                                                            <li>Girl : <span>Girl Name 01</span></li>
                                                        </ul>
                                                    </div>
                                                    <span class="vertical-timeline-element-date">10:30 PM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div>
                                                <div class="vertical-timeline-element-icon bounce-in">
                                                    <i class="lnr-history"></i>
                                                </div>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">Water Shiatsu</h4>
                                                    <div class="branch-info">
                                                        <ul>
                                                            <li>Filiale : <span>Zürich</span></li>
                                                            <li>Preis : <span>CHF 49.00</span></li>
                                                            <li>Girl : <span>Girl Name 01</span></li>
                                                        </ul>
                                                    </div>
                                                    <span class="vertical-timeline-element-date">10:30 PM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="timelin-date">Okt 5, 2019</h6>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div>
                                                <div class="vertical-timeline-element-icon bounce-in">
                                                    <i class="lnr-history"></i>
                                                </div>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">The Clearing Factor</h4>
                                                    <div class="branch-info">
                                                        <ul>
                                                            <li>Filiale : <span>Zürich</span></li>
                                                            <li>Preis : <span>CHF 299.00</span></li>
                                                            <li>Girl : <span>Girl Name 01</span></li>
                                                        </ul>
                                                    </div>
                                                    <span class="vertical-timeline-element-date">10:30 PM</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane show" id="treuepass" role="tabpanel">
                                    <div class="mb-4">
                                        <h4><span class="lang_pass">Treuepass</span></h4>
                                    </div>
                                </div>
                                <div class="tab-pane show" id="gutscheine" role="tabpanel">
                                    <div class="mb-4">
                                        <h4><span class="lang_Vouchers">Gutscheine</span></h4>
                                    </div>
                                </div>
                                <div class="tab-pane show" id="schulden" role="tabpanel">
                                    <div class="mb-4">
                                        <h4><span class="lang_Debts">Schulden</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-block text-right card-footer">
                            <a href="javascript:history.back()" class="btn btn-secondary lang_Back">Zurück</a>
                            <!-- <a href="branch-edit.html" class="btn btn-warning">Bearbeiten</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>