<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-alarm"></i><span class="lang_Notification"> Benachrichtigungen</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-3 card">
                        <div class="card-header">
                            <div class="card-header-title"><span class="lang_Create">Erstellen</span></div>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <a href="notification" class="btn btn-secondary lang_Back">Zurück</a>
                                <a href="javascript:;" class="btn btn-success notificationSubmit lang_Send">senden</a>
                            </div>
                        </div>
                        <form id="notificationForm">
                        <div class="card-body bg-grey">
                            <div class="form-row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="position-relative form-group">
                                        <div>
                                            <div class="custom-radio custom-control custom-control-inline">
                                                <input type="radio"  id="fil" name="maintype" value="branch" checked="" class="custom-control-input">
                                                <label class="custom-control-label" for="fil"><strong><span class="lang_Branch">Filialen</span></strong><span class="field-error mandatory"></span></label>
                                            </div>
                                            <div class="custom-radio custom-control custom-control-inline">
                                                <input type="radio"  id="cus" name="maintype" value="customer" class="custom-control-input">
                                                <label class="custom-control-label" for="cus"><strong><span class="lang_Customers">Kunden</span></strong><span class="field-error mandatory"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Branch">Filialen</span><span class="field-error mandatory"></span></label>
                                        <select type="select" id="branchtype" name="branchtype" class="custom-select" onchange="noteType();">
                                            <option value=""><span class="lang_Branch">Filialen</span></option>
                                            <option value="all" <%=details[0].branchtype=="all"?'selected':''%>><span class="lang_Allbranches">Alle Filialen</span><span class="field-error mandatory"></span></option>
                                            <option value="branch" <%=details[0].branchtype=="cust"?'selected':''%>><span class="lang_Custombranch">Brauch Filialen</span></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                <div id="branchfield" style="display:none;">
                                <div class="form-row">
                                    <div class="col-lg-12 col-md-12">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Custombranch">Brauch Filialen</span><span class="field-error mandatory"></span></label>
                                        <select multiple="multiple" id="branch" name="branch" class="multiselect-dropdown form-control">
                                            <optgroup label="Extras Group">
                                                <%if(branch.length>0){
                                                branch.forEach(function(bdata){%>
                                                <option value="<%= bdata.id%>" <%= (details[0].branch_id)==bdata.id?'selected':''%> ><%= bdata.title%></option>
                                                <%});}%>
                                            </optgroup>
                                        </select>
                                    </div>
                                    </div>
                                   
                                        
                                </div>
                                </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Title">Benachrichtigungen Titel</span><span class="field-error mandatory"></span></label>
                                        <input type="text" id="title" name="title" value="<%= typeof(details[0].title)!="undefined" && details[0].title!="" ? details[0].title:''; %>" class="form-control" placeholder="Benachrichtigungen Titel" >
                                    </div>
                                     <input type="hidden" name="editid" id="editid" value="<%= typeof(details[0].id)!="undefined" && details[0].id!="" ? details[0].id:''; %>" />
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Totalnumber">Gesamtzahl</span><span class="field-error mandatory"></span></label>
                                        <input type="number" id="total" name="total" value="<%= typeof(details[0].total)!="undefined" && details[0].total!="" ? details[0].total:''; %>" class="form-control" value="2">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Description">Beschreibung</span><span class="field-error mandatory"></span></label>
                                        <textarea id="description" name="description" rows="3" class="form-control" placeholder="Kurz Beschreibung"><%= typeof(details[0].description)!="undefined" && details[0].description!="" ? details[0].description:''; %></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Buttontext">Schaltflächentext</span><span class="field-error mandatory"></span></label>
                                        <input type="text" id="buttontext" name="buttontext" value="<%= typeof(details[0].buttontext)!="undefined" && details[0].buttontext!="" ? details[0].buttontext:''; %>" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Url">URL</span><span class="field-error mandatory"></span></label>
                                        <input type="text" id="url" name="url" value="<%= typeof(details[0].url)!="undefined" && details[0].url!="" ? details[0].url:''; %>" class="form-control" placeholder="url">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Email">E-Mail</span><span class="field-error mandatory"></span></label>
                                        <input type="email" id="email" name="email" value="<%= typeof(details[0].email)!="undefined" && details[0].email!="" ? details[0].email:''; %>" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Telephone">Telefon</span><span class="field-error mandatory"></span></label>
                                        <input type="text" id="phone" name="phone" value="<%= typeof(details[0].phone)!="undefined" && details[0].phone!="" ? details[0].phone:''; %>" class="form-control" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Mobile">Mobil</span><span class="field-error mandatory"></span></label>
                                        <input type="text" id="mobile" name="mobile" value="<%= typeof(details[0].mobile)!="undefined" && details[0].mobile!="" ? details[0].mobile:''; %>" class="form-control" oninput="this.value=this.value.replace(/[A-Za-z!@#$%^&*()]/g, '');">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Website">Website</span><span class="field-error mandatory"></span></label>
                                        <input type="text" id="website" name="website" value="<%= typeof(details[0].website)!="undefined" && details[0].website!="" ? details[0].website:''; %>" class="form-control" placeholder="url">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Facebook">Facebook</span><span class="field-error mandatory"></span></label>
                                        <input type="text" id="facebook" name="facebook" value="<%= typeof(details[0].facebook)!="undefined" && details[0].facebook!="" ? details[0].facebook:''; %>" class="form-control" placeholder="url">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="position-relative form-group">
                                        <label for=""><span class="lang_Instagram">Instagram</span><span class="field-error mandatory"></span></label>
                                        <input type="text" id="instagram" name="instagram" value="<%= typeof(details[0].instagram)!="undefined" && details[0].instagram!="" ? details[0].instagram:''; %>" class="form-control" placeholder="url">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="position-relative form-group">
                                        <!-- <label for=""><span class="">Bilder hochladen</span><span class="field-error mandatory"></span></label> -->
                                        <div class="position-relative form-group">
                                            <label for=""><span class="lang_Uploadpicture">Bilder hochladen</span><span class="field-error mandatory"></span></label>
                                            <input type="hidden" name="imagecount" id="imagecount" value="<%= (note_image.length)!="undefined" && (note_image.length)!="" ? note_image.length:'0'; %>"/>
                                            <input type="hidden" name="u_id" id="u_id" value="<%=u_id%>">
                                            <input type="hidden" name="filetype" id="filetype" value="note">
                                            <label for=""></label>
                                            <input type="file" style="display:none" id="file" multiple="multiple" name="file" accept="image/gif,image/jpeg,image/png,image/jpg" class="gallery-img" ></input>
                                            <div id="upload" class="drop-area dropzone upload-md">
                                                
                                            </div>
                                            
                                            <div id="gallery-sortables">
                                                <ul id="girls-gallery-images" class="gallery imges-gallery">
                                                    
                                                    <%
                                                    if(note_image.length>0){
                                                    note_image.forEach(function(g_image, index) {
                                                    
                                                    %>
                                                    <li class="gallery_image"><img src="<%= file_link_notification_fornt %><%= g_image.image %>" width="42" height="42"><a href="javascript:void(0)" data-id="<%=app.locals.encrypt(g_image.id)%>" data-vid="v<%=g_image.id%>" class="remove-image-note" data-name="<%=g_image.image%>"><i class="fa fa-close"></i></a></li>
                                                    <%
                                                    }); }%>
                                                </ul>
                                            </div>
                                            <div class="progress progress-xxs upload-progress " style="display:none;">
                                                <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="70"
                                                    aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    <span class="sr-only">70% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="img-list">
                                        <ul>
                                            <li>
                                                <div class="action-icons">
                                                    <span data-toggle="tooltip" data-original-title="Löschen" class="del btn-icon btn-icon-only btn btn-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></span>
                                                </div>
                                                <img src="images/branch-01.jpg" alt="">
                                            </li>
                                            <li>
                                                <div class="action-icons">
                                                    <span data-toggle="tooltip" data-original-title="Löschen" class="del btn-icon btn-icon-only btn btn-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></span>
                                                </div>
                                                <img src="images/branch-02.jpg" alt="">
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="d-block text-right card-footer">
                            <a href="notification" class="btn btn-secondary lang_Back">Zurück</a>
                            <a href="javascript:;" class="btn btn-success notificationSubmit lang_Send">senden</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="iphone-x" id="FixedIPhone">
                        <i class="speaker">Speaker</i><b class="camera">Camera</b>
                        <div class="mobil-content">
                            <div class="banner-slider owl-carousel owl-theme" id="show-images">
                                    <!-- <div class="slider">
                                        <img src="images/branch-01.jpg" alt="">
                                    </div>
                                    <div class="slider">
                                        <img src="images/branch-02.jpg" alt="">
                                    </div> -->
                                    <%if(typeof(details[0].id)!="undefined" && details[0].id!=""){%>
                                    <%if(note_image.length>0){
                                    note_image.forEach(function(bdata){%>
                                    <div class="slider">
                                        <img src="<%=file_link_notification_fornt%><%=bdata.image%>" alt="">
                                    </div>
                                    <%});}%>
                                    <%}%>
                                </div>
                            <div class="points-detail">
                                <h3 id="noteTitleview"><%=  (typeof(details[0].title)!="undefined" && details[0].title!="")? details[0].title:''; %></h3>
                                <p id="sdes"><%=  (typeof(details[0].description)!="undefined" && details[0].description!="")? details[0].description:''; %></p>
                                <%=details[0].buttontext%>
                                <div class="notify-btn">
                                    <a href="#" class="btn btn-primary btn-block btn-rounded mb-3" id="btx"><%=  (typeof(details[0].buttontext)!="undefined" && details[0].buttontext!="")? details[0].buttontext:''; %></a>
                                </div>
                                <ul class="notify-contact">
                                    <li id="noteweb" <%=  (typeof(details[0].website)!="undefined" && details[0].website!="")? 'style=display:block':'style=display:none'; %>><a href="#">
                                        <i class="fa fa-globe"></i> </a><span>Web</span> 
                                    </li>
                                    <li id="noteemail" <%=  (typeof(details[0].email)!="undefined" && details[0].email!="")? 'style=display:block':'style=display:none'; %>><a href="#">
                                        <i class="fa fa-envelope-open"></i> </a><span>E-Mail</span>
                                    </li>
                                   <li id="notephone" <%=  (typeof(details[0].phone)!="undefined" && details[0].phone!="")? 'style=display:block':'style=display:none'; %>><a href="#">
                                        <i class="fa fa-phone"></i> </a><span>Call</span>
                                    </li>
                                </ul>
                                <h5>Social Media</h5>
                                <ul class="notify-social">
                                   <li id="notefb" <%=  (typeof(details[0].facebook)!="undefined" && details[0].facebook!="")? 'style=display:block':'style=display:none'; %>><a href="#">
                                        <i class="fab fa-facebook"></i></a></a>
                                    </li>
                                    <!-- <li id="notemobile" style="display:none;">
                                        <i class="fab fa-twitter-square"></i>
                                    </li> -->
                                    <li id="noteinst" <%=  (typeof(details[0].instagram)!="undefined" && details[0].instagram!="")? 'style=display:block':'style=display:none'; %>><a href="#">
                                        <i class="fab fa-instagram"></i></i>
                                    </li>
                                    <!-- <li><i class="fab fa-youtube-square"></i>
                                    </li> -->
                                    <!-- <li><a href="#"><i class="fab fa-xing-square"></i>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>