<% include ../../templates/header %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div><i class="header-icon lnr-alarm"></i> <span class="lang_Notification">Benachrichtigungen</span></div>
                </div>
            </div>
        </div>
        
        <div class="tabs-animation">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="mb-3 card">
                        <div class="fixed-card-header" id="FixedCardHeader">
                            <div class="card-header">
                                <div class="card-header-title"><span class="lang_Notification"> Benachrichtigungen</span></div>
                                <div class="btn-actions-pane-right actions-icon-btn">
                                    <a href="notificationcreate" data-toggle="tooltip" data-original-title="Erstellen" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="notificationview" class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><span class="lang_Notification">Benachrichtigung</span></th>
                                            <th><span class="lang_Sendto">Sesendet an</span></th>
                                            <th><span class="lang_Totalnumber">Gesamtzahl</span></th>
                                            <th><span class="lang_Datetime">Datum & Uhrzeit</span></th>
                                            <!-- <th><span class="lang_Action">Aktion</span></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <!--  <tr>
                                            <td class="text-center text-muted">#2352</td>
                                            <td>
                                                <strong>Benachrichtigung 01</strong><br>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, vel...
                                            </td>
                                            <td>Brauch Filialen</td>
                                            <td><strong>20</strong></td>
                                            <td>20.11.2019 (12:30)</td>
                                            <td class="text-right">
                                                <a href="notoficationcreate" data-toggle="tooltip" data-original-title="Ansicht"><i class="lnr-link"></i></a>
                                            </td>
                                        </tr> -->
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<% include ../../templates/footer %>