<script type="text/javascript">
    <%
 function timeconvertion(timeval)
{
  var a = timeval.split(':'); // split it at the colons
  var seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60;
  var miliseconds=seconds*1000;
  mydate=new Date(miliseconds);
  humandate1=mydate.getUTCHours();
  humandate2=mydate.getUTCMinutes();
  var humandate="";
  // console.log("humandate1"+humandate1);
  // console.log("humandate2"+humandate2);
  // console.log(typeof(humandate1));
      if(humandate1 != "0" && humandate2 != "0")
      {
        console.log("valuedata point");
        humandate=mydate.getUTCHours()+" Stunde "+mydate.getUTCMinutes()+" min ";
      }
      else if(humandate1 == "0" && humandate2 !="0")
      {
        humandate=mydate.getUTCMinutes()+" min ";
      }
      else if(humandate1 != "0" && humandate2 == "0")
      {
        humandate=mydate.getUTCHours()+" Stunde ";
      }
      else
      {
        humandate=0;
      }
      //console.log(humandate);
      return humandate;
}   
%>
</script>
<div class="col-md-12 col-lg-12 col-xl-12">
<div class="mb-3 card">
    <div class="card-header-tab card-header-tab-animation card-header">
        <div class="card-header-title">Recent Bookings</div>
        <div class="btn-actions-pane-right">
            <!-- <a href="book-now.html" class="btn btn-lg btn-primary">Book Now</a> -->
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                       <!--  <th>Booking ID</th> -->
                        <th>Girl</th>
                        <th>Dienstleistung</th>
                        <!-- <th>Endet in</th> -->
                        <th>Zimmer</th>
                        
                        <th>Datum und Uhrzeit</th>
                        <th class="text-right">CHF</th>
                        <th class="text-center">Payment</th>
                       <!--  <th class="text-right">Detail</th> -->
                    </tr>
                </thead>
                <tbody>

                <%if(details.length>0){
            details.forEach(function(rname){%>
            
                    <tr> 
                        <td><%=rname.girlsname%></td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading"><%=rname.servicename %> (<%= timeconvertion(rname.servicetime)%>)</div>
                                        <div class="progress-bar-xs progress">
                                            <%if(rname.status==1){%>
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            <%}else{%>
                                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                             <%}%>
                                        </div>
                                        <div class="widget-subheading opacity-7">
                                            <div class="branch-contact custom">
                                                <ul>
                                                    <!-- <li><i class="ico lnr-tag"></i><span>01</span> Services</li> -->
                                                   <% if(rname.extracount>0)
                                                    {%>
                                                    <li><i class="ico lnr-tag"></i><span><%=rname.extracount%></span> Extras</li>
                                                    <%}%>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                        <!-- <td>03 min</td> -->
                        <td><%=rname.roomname%></td>
                       
                        <td><%=rname.created_date%></td>
                        <td class="text-right"><strong><%=numeral(rname.amount).format('0,.00')%></strong></td>
                        <td class="text-center">
                            <%if(rname.paymentstatus!=1){%>
                            <div class="badge badge-danger">Not-Paid</div>
                            <%}else{%>
                            <div class="badge badge-success">Paid</div>
                            <%}%>
                        </td>
                        <!-- <td class="text-right">
                            <a href="#" class="btn btn-success btn-sm">später</a>
                        </td> -->
                    </tr>
                    <%});}%>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>