<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Neues Passwort für Qlic.ch</title>
</head>
<body style="margin:0; padding:0; background:#fff;">
<table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;line-height:100% !important;margin:0;padding:0;width:100% !important">
  <tbody>
    <tr>
      <td>
        <table style="border-collapse:collapse;margin:auto;max-width:800px;min-width:320px;width:100%; border-top: 10px solid #e31e24;  font-family: arial; background:#f9f9f9;">
          <tbody>
            <tr>
              <td>
                <table width="100%">
                  <tbody>
                    <tr>
                      <td align="center">
                        <div style="padding: 0px; text-align: center;">
                          <a href="#" style=" text-decoration: none;"><h1 style=" padding: 50px; color: #e31e24; font-weight: 600; font-size: 40px; margin: 0px;">QLIC</h1></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table style="background: #e31e24; padding: 20px; color: #fff;">
                  <tbody>
                    <tr>
                      <td>
                        <h3 style="font-size: 20px; font-family: arial;">Neues Passwort für <a href="javascript:;" style="text-decoration: none; color: #fff;">qlic.ch.</a></h3>
                        <p style="font-size: 16px; line-height: 22px; margin-bottom: 0px;">Guten Tag</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table style="padding: 30px 20px; color: #808080;font-size: 16px;">
                  <tbody>
                    <tr>
                      <td>
                        <!--<h3 style="font-size: 20px; font-family: arial; margin-top: 0px;">Aktivierungscode:95761</h3>-->
						 <h3 style="font-size: 20px; font-family: arial; margin-top: 0px;">Passwort:<%= password%></h3>
                        <p style="font-family: arial; margin-top: 0px; line-height: 24px;">Der Aktivierungscode ist während 60 Minuten gültig. 
						</p>
                        <p>Sollten Sie diesen nicht innerhalb dieser Zeit eingeben, wird das Passwort nicht geändert.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table style="padding:20px; font-size: 16px; width: 100%;" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td>
                        <p style="color: #808080;">Freundliche Grüsse </p>
                        <h3 style="font-size: 20px;color: #e31e24;margin: 0px;">Qlic.ch</h3>
                        <p style="color: #808080;">Ihr Qlic Team</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table style="padding:20px; font-size: 13px; color: #8b9299; width: 100%; background: #42484d;" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td align="center">
                        <p style="line-height: 22px;">Qlic.ch</br>
                          Mühleweg 3, 4658 Dänken SO<br>
                          <a href="#" style="color: #ffff; text-decoration: none;">+41 62 511 38 88</a> , <a href="#" style="color: #fff; text-decoration: none;">info@qlic.ch</a> , <a href="#" style="color: #fff; text-decoration: none;">www.qlic.ch</a><br>
                          </p>
                          <p>©  2019 - Alle Rechte vorbehalten</p>
                          <p>Dies ist eine automatische E-Mail. Diese Informationen erhalten Sie ohne Gewähr. Die Qlic kann nicht für direkte oder indirekte Schäden haftbar gemacht werden, die sich aus Fehlern, Änderungen, Auslassungen, Korrekturen, Nichtlieferung oder zu langen Anpassungsfristen ergeben könnten.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>