<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Qlic</title>
  </head>
  <body style="margin:0; padding:0; background:#fff;">
    <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;line-height:100% !important;margin:0;padding:0;width:100% !important">
      <tbody>
        <tr>
          <td>
            <table style="border-collapse:collapse;margin:auto;max-width:800px;min-width:320px;width:100%; border-top: 10px solid #5b847d;  font-family: arial; background:#f9f9f9;">
              <tbody>
                <tr>
                  <td>
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td align="center">
                            <div style="padding: 20px 0px; text-align: center;">
                              <a href="#" style=" text-decoration: none;">
                                <img src="https://qlic.ch/web/img/logo.png" alt="" style="height: 60px; position: relative; top: 6px;" />
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" style="background: #5b847d; padding: 20px; color: #fff;">
                      <tbody>
                        <tr>
                          <td>
                            <h3 style="font-size: 20px; font-family: arial;">Hallo <%= cname%></h3> 
                       <!-- <p style="font-size: 16px; line-height: 22px; margin-bottom: 0px;">Email ID:<%= email%></p> -->
                          </tr>
                        </tbody>
                      </table>
                      <table width="100%" style="padding: 50px 20px; color: #808080;font-size: 16px;">
                        <tbody>
                          <tr>
                            <td>
                              <p>Klicke jetzt auf diesen Link um Deine Passwort zu aktualisieren:</p>
                              
                              <p><a href="<%=rlink%>" style="color:#5b847d; line-height:20px;"><%=rlink%></a></p>

                               <p>Wenn die Weiterleitung nicht funktioniert, kopiere bitte den Link in die Adressleiste Deines Browsers. </p>


                               <p>Um Deine Konto optimale Sicherheit zu gewährleisten, solltest Du jedoch innerhalb der nächsten 24 Stunden ein neues, persönliches Passwort vergeben. </p>


                               <p>Sollten Sie keine Passwortänderung beantragt haben, können Sie dieses Mail als gegenstandslos betrachten. </p>
                               

                              <p>Dein</p>
                              <p>Qlic Team</p>
                             <!-- <p style="font-family: arial; margin-top: 0px; line-height: 24px; text-align: center;">
                          <a href="<%=rlink%>" style="font-size: 16px; background: #5b847d; padding: 15px 30px; text-decoration: none; color: #fff; border-radius: 6px; width: 150px; margin: 0 auto;">Click here</a>
                        </p> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table style="padding:20px; font-size: 13px; color: #fff; width: 100%; background: #3c5d68;" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td align="center">
                              <p style="line-height: 22px;">Qlic.ch</br>
                                Mühleweg 3, 4658 Dänken SO<br>
                                <a href="#" style="color: #ffff; text-decoration: none;">+41 62 511 38 88</a> , <a href="#" style="color: #fff; text-decoration: none;">info@qlic.ch</a> , <a href="#" style="color: #fff; text-decoration: none;">www.qlic.ch</a><br>
                              </p>
                              <p>©  2019 - Alle Rechte vorbehalten</p>
                              <p>Dies ist eine automatische E-Mail. Diese Informationen erhalten Sie ohne Gewähr. Die Qlic kann nicht für direkte oder indirekte Schäden haftbar gemacht werden, die sich aus Fehlern, Änderungen, Auslassungen, Korrekturen, Nichtlieferung oder zu langen Anpassungsfristen ergeben könnten.</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </body>
  </html>