<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Qlic</title>
  </head>
  <body style="margin:0; padding:0; background:#fff;">
    <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;line-height:100% !important;margin:0;padding:0;width:100% !important">
      <tbody>
        <tr>
          <td>
            <table style="border-collapse:collapse;margin:auto;max-width:800px;min-width:320px;width:100%; border-top: 10px solid #5b847d;  font-family: arial; background:#f9f9f9;">
              <tbody>
                <tr>
                  <td>
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td align="center">
                            <div style="padding: 20px 0px; text-align: center; border-bottom: 1px solid #ccc">
                              <a href="#" style=" text-decoration: none;">
                                <img src="https://qlic.ch/web/img/logo.png" style="width: 150px" />
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                      <table width="100%" style="padding: 50px 20px; color: #808080;font-size: 16px;">
                        <tbody>
                          <tr>
                            <td>
                              <p style="line-height: 24px;">Wir freuen uns, dass du da bist, <%=cname%>! <br> Erstelle mit einem Qlic deine erste Treuepass für deine Kunden</p>

                              <p style="line-height: 24px;">Willkommen bei Qlic, in deinem neuen Management-Tool, mit dem du den Überblick über deine Treuepass behältst, als Team mehr erreichen und den Erfolg mit allen feiern kannst.</p>

                              <p> Wir wollen nur sicher gehen, dass du es bist.</p>

                              <a href="<%=rlink%>" traget="_blank" style="font-size: 16px; background: #5b847d; padding: 15px 30px; text-decoration: none; color: #fff; border-radius: 6px;margin: 0 auto; display: inline-block; margin: 10px 0px">Konto bestätigen</a>

                              <p style="line-height: 24px;"> Wenn du kein Qlic-Konto erstellt hast, lösche diese E-Mail einfach.</p>

                              <p style="line-height: 24px;">Cheers,<br> Das Team von <br> <a href="https://qlic.ch/" traget="_blank" style="font-size: 16px; text-decoration: none; color: #5b847d;">Qlic.ch.</a></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table style="padding:20px; font-size: 13px; color: #fff; width: 100%; background: #3c5d68;" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td align="center">
                              <p style="line-height: 22px;">Qlic.ch</br>
                                Mühleweg 3, 4658 Dänken SO<br>
                                <a href="#" style="color: #ffff; text-decoration: none;">+41 62 511 38 88</a> , <a href="#" style="color: #fff; text-decoration: none;">info@qlic.ch</a> , <a href="#" style="color: #fff; text-decoration: none;">www.qlic.ch</a><br>
                              </p>
                              <p>©  2019 - Alle Rechte vorbehalten</p>
                              <p>Dies ist eine automatische E-Mail. Diese Informationen erhalten Sie ohne Gewähr. Die Qlic kann nicht für direkte oder indirekte Schäden haftbar gemacht werden, die sich aus Fehlern, Änderungen, Auslassungen, Korrekturen, Nichtlieferung oder zu langen Anpassungsfristen ergeben könnten.</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </body>
  </html>